<html
  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
  <head>
    <title th:inline="text">Understanding [[${doc.subject}]]</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" th:content="'Understanding : ' + ${doc.subject}" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid">
      <div class="main-body--wrapper">
        <div class="row-fluid">
          <div class="span8">
            <article class="content--container" th:utext="${doc.content}">
            </article>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
