<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="right-pane">
    <ul class="right-pane-widget--container secondary-nav with-icon">
      <li th:class="${@uih.blogClass(activeCategory?:'','All Posts')}">
        <div class="icon blog-icon all-posts"></div>
        <a th:href="@{/blog}">All Posts</a>
        <a th:href="@{/blog.atom}" class="pull-right"><i class="icon-rss"></i></a>
      </li>
      <li th:each="category : ${categories}" th:class="${@uih.blogClass(activeCategory?:'',category.displayName)}">
        <div th:class="${'icon blog-icon '+ category.displayName.toLowerCase().replace(' ','-')}"></div>
        <a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}">Engineering</a>
        <a th:href="@{'/blog/category/'+${category.urlSlug}}+'.atom'" class="pull-right"><i class="icon-rss"></i></a>
      </li>
    </ul>
    <ul class="social-btn--container">
      <a href="http://twitter.com/springcentral" class="social-btn twitter"></a>
      <a href="https://plus.google.com/+springframework" class="social-btn googleplus"></a>
      <a href="http://www.linkedin.com/groups/Spring-Users-46964" class="social-btn linkedin"></a>
      <a href="/videos" class="social-btn youtube"></a>
    </ul>
  </div>
</body>
</html>




