<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <form layout:fragment="post-form">
        <input type="hidden" name="_method" value="PUT" th:if="${edit}" />
        <label for="title">Title:<input id="title" type="text" th:field="*{title}" name="title" /></label>
        <label for="content">Content:<textarea id="content" th:field="*{content}" name="content" /></label>
        <select name="category" th:field="*{category}" >
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.displayName}">Category</option>
        </select>
        <label for="broadcast">Broadcast:<input type="checkbox" th:field="*{broadcast}" id="broadcast" name="broadcast" /></label>
        <div class="well">
            <div id="datetimepicker1" class="input-append date">
                <input id="publishAt" type="text" th:field="*{publishAt}" name="publishAt" data-format="yyyy-MM-dd hh:mm" />
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#datetimepicker1').datetimepicker({pickSeconds: false});
            });
        </script>
        <button name="draft" value="false" type="submit">Publish</button>
        <button name="draft" value="true" type="submit">Save &amp; View Draft</button>
    </form>
</body>
</html>