<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>SpringFramework - Edit Blog Post</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <p th:if="${githubBroken}">Github failed to generate markdown</p>
    <form layout:include="admin/blog/_post_form :: post-form" th:with="edit=1" th:action="@{'/admin/blog/' + ${post.id}}" method="post" th:object="${postForm}">
    </form>
</div>
</body>
</html>
