<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Blog Dashboard</title>
</head>
<body>
<h1 layout:fragment="header">Hello <span sec:authentication="name">Bob</span></h1>
<div layout:fragment="overview">
	<a th:href="@{'/admin/blog/new'}" href="/admin/blog/new" class="btn btn-primary">Create New Post</a>
</div>

<div layout:fragment="content" class="container">
	<div class="row">
		<div id="content" class="span8">
			<h2>Drafts</h2>
			<table class='table drafts'>
				<tr th:each="post : ${drafts}">
					<td class='date' th:text='${#dates.format(post.createdDate, "MMMM d, yyyy")}'>June 18, 2013</td>
					<td class='author' th:text="${post.author}">Author</td>
					<td th:text="${post.title}">This week in Spring</td>
					<td class="actions">
						<nav>
							<span><a th:href="@{'/admin' + ${post.path} + '/edit'}" href="/admin/blog/edit">Edit</a></span>
							<span><form th:action="@{'/admin' + ${post.path}}" method="post">
								<input type="hidden" name="_method" value="DELETE" />
								<button type="submit" name="delete">Delete</button>
							</form></span>
						</nav>
					</td>
				</tr>
			</table>

			<h2>Scheduled</h2>


			<h2>Posts</h2>
			<table class='table posts'>
				<tr th:each="post : ${posts}">
					<td class='date' th:text='${#dates.format(post.createdDate, "MMMM d, yyyy")}'>June 18, 2013</td>
					<td class='author' th:text="${post.author}">Author</td>
					<td th:text="${post.title}">This week in Spring</td>
					<td class="actions">
						<nav>
							<span><a th:href="@{'/admin' + ${post.path} + '/edit'}" href="/admin/blog/edit">Edit</a></span>
							<span><form th:action="@{'/admin' + ${post.path}}" method="post">
								<input type="hidden" name="_method" value="DELETE" />
								<button type="submit" name="delete">Delete</button>
							</form></span>
						</nav>
					</td>
				</tr>
			</table>
		</div>

		<div id="sidebar" class="span4">
		</div>
	</div>
</div>
</body>
</html>