<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Blog Dashboard</title>
</head>
<body>
<h1 layout:fragment="header">Hello <span sec:authentication="name">Bob</span></h1>
<div layout:fragment="overview">
	<a th:href="@{'/admin/blog/new'}" href="/admin/blog/new" class="btn btn-primary">Create New Post</a>
	<form th:action="@{'/admin/sample/posts'}" action="/admin/sample/posts" method="post" class='form-inline' style="display: inline">
        <button class="btn btn-primary">Create 8 posts</button>
    </form>
	<form th:action="@{'/admin/blog/reindex'}" action="/admin/blog/reindex" method="post" class='form-inline' style="display: inline">
        <button class="btn btn-primary">Reindex all published posts</button>
    </form>
    <form th:action="@{'/admin/blog/resummarize'}" action="/admin/blog/resummarize" method="post" class='form-inline' style="display: inline">
        <button class="btn btn-primary">Resummarize all posts</button>
    </form>
</div>

<div layout:fragment="content" class="container">
	<div class="row">
		<div id="content" class="span8">
			<h2>Drafts</h2>
			<table class='table dashboard--posts'>
				<tr th:each="post : ${drafts}" layout:fragment="post-row">
					<td class="date" th:text="${post.formattedPublishDate}">June 18, 2013</td>
					<td class="author">
                        <a class='author' th:text="${post.author.name}" th:href="@{'/team/'+${post.author.memberId}}">Author</a>
                    </td>
					<td th:text="${post.title}">This week in Spring</td>
					<td>
						<nav layout:substituteby="admin/blog/_dashboard_actions :: dashboard-actions" />
					</td>
				</tr>
			</table>

			<h2>Scheduled</h2>
			<table class='table dashboard--posts'>
				<tr th:each="post : ${scheduled}" layout:include="admin/blog/index::post-row">
				</tr>
			</table>

			<h2>Published</h2>
			<table class='table dashboard--posts'>
				<tr th:each="post : ${posts}" layout:include="admin/blog/index::post-row">
    				</tr>
			</table>
		</div>

		<div id="sidebar" class="span4">
		</div>
	</div>
</div>
</body>
</html>
