/*
 * WARNING: This is a short-term band-aid to fix asciidoc guide/doc/tutorial
 * styling. The styles have been scoped to (hopefully) apply only to
 * ascii-doctor-generated content, and *not* to markdown-generated content.
 * The purpose is to "fix" some display anomalies, in the short term, due to
 * the vast differences in the ascii-doctor generated html vs the markdown
 * generated html.
 * The classes "ulist", "listingblock", "literalblock", "admonitionblock",
 * and "has-copy-button" are specific to ascii-doctor generated content, so
 * all the rules are scoped using at least one of those to avoid accidentally
 * targeting any other content.
 */
.content--container .ulist ul li p {
    margin-bottom: 5px;
}

.content--container .listingblock pre.prettyprint {
    border-color: rgba(0, 0, 0, 0.15);
    padding: 9.5px;
}

.content--container .listingblock pre.prettyprint code {
    white-space: pre;
}

.content--container .admonitionblock {
    border-left: 4px solid #6db33f;
    background-color: #EBF1E7;
    padding: 25px 20px;
    margin: 30px 0;
    width: auto;
}

.content--container .admonitionblock .content:before {
    content: "Note:";
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.content--container .admonitionblock code {
    color: #305CB5;
}

.content--container .listingblock,
.content--container .literalblock {
    position: relative;
}

.content--container .has-copy-button .copy-button,
.content--container .listingblock .copy-button {
    position: absolute;
    right: 0;
    display:none;
}

.content--container .has-copy-button:hover .copy-button,
.content--container .listingblock:hover .copy-button,
.content--container .has-copy-button .zeroclipboard-is-hover,
.content--container .listingblock .zeroclipboard-is-hover {
    display:block;
}