.homepage-billboard {
  background-image: url("../img/homepage-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.homepage-title--container {
  margin-top: 66px;
}

.homepage-title, .homepage-subtitle {
  background: rgba(52, 48, 45, 0.8);
  color: #f1f1f1;
  display: inline-block;
}

.homepage-title {
  font-size: 48px;
  font-weight: normal;
  line-height: 68px;
  font-family: "Montserrat", sans-serif;
  padding: 0 15px;
  letter-spacing: -2px;
}

.homepage-subtitle {
  font-size: 22px;
  line-height: 18px;
  padding: 2px 19px 12px;
}
.homepage-subtitle:first-child {
  padding-top: 12px;
}

.homepage--body h1 {
    display: none;
}

/* Hero banners */

.homepage--body .hero--banner {
  background-color: #34302d;
  position: relative;
  max-height: 278px;
  overflow: hidden;
}

.homepage--body .hero--banner .banner--text {
  color: #f1f1f1;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
.homepage--body .hero--banner .banner--link {
  font-size: 18px;
  line-height: 28px;
}
.homepage--body .hero--banner .banner--link [class^="icon-"] {
  margin-left: 15px;
  line-height: 10px;
  vertical-align: middle;
  text-decoration: none;
}

.homepage--body .hero--banner .blockarrows {
  position: absolute;
  bottom: 27px;
  right: 20px;
  z-index: 20;
  max-width: 230px;
  font-size: 13px;
  line-height: 2.2em;
}

.homepage--body .hero--banner .blockarrows .next,
.homepage--body .hero--banner .blockarrows .previous {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,0.7);
  text-align: center;
  cursor: pointer;
}

/* Spring Cloud banner */

.homepage--body .hero--banner .springcloud {
  padding: 60px;
  background: url("../img/home-banner-spring-cloud.jpg") #34302d no-repeat;
  background-size: cover;
}

.homepage--body .hero--banner .springcloud .banner--text {
    margin-left: 28%;
}

.homepage--body .hero--banner .springcloud .banner--text h2 {
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 430px;
  text-transform: uppercase;
}

/* SpringOne Platform banner */

.homepage--body .hero--banner .springone {
  background: url("../img/home-banner-springone-platform.jpg") #34302d no-repeat 50% 50%;
  background-size: cover;
  height: 278px;
}

.homepage--body .hero--banner .springone a {
  background-color: #261D57;
  color: #f1f1f1;
  padding: 0.3em;
  float:right;
  margin-top: 12em;
}

/* Spring Cloud Services banner */

.homepage--body .hero--banner .springcloud-services {
  height: 272px;
  background: url("../img/home-banner-spring-cloud-services.jpg") #34302d no-repeat;
  background-size: cover;
}

.homepage--body .hero--banner .springcloud-services .banner--text {
  margin-left: 50%;
  padding-top: 60px;
}

.homepage--body .hero--banner .springcloud-services .banner--text h2 {
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 430px;
  text-transform: uppercase;
}


.homepage--body .key-feature--wrapper {
  background-color: #6db33f;
  padding: 60px 0;
}
.homepage--body .key-feature--wrapper .key-feature--container {
  text-align: center;
  color: #f1f1f1;
}
.homepage--body .key-feature--wrapper .key-feature--container .key-feature--icon--container {
  height: 88px;
  text-align: center;
  margin-bottom: 44px;
}
.homepage--body .key-feature--wrapper .key-feature--container .key-feature--title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 20px;
  color: #f1f1f1;
}
.homepage--body .key-feature--wrapper .key-feature--container .key-feature--text {
  font-size: 18px;
  line-height: 28px;
}
.homepage--body .key-feature--wrapper .key-feature--container .key-feature--text.highlight {
  text-transform: uppercase;
}
.homepage--body .offset-feature--container {
  border-bottom: 1px solid #dddbda;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
}
.homepage--body .offset-feature--container .feature--content {
  padding: 90px 0;
}
.homepage--body .offset-feature--container .offset-feature--title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  color: #34302d;
}
.homepage--body .offset-feature--container .offset-feature--text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #34302d;
}
.homepage--body .offset-feature--container .offset-feature--link {
  color: #5fa134;
  font-size: 18px;
  line-height: 18px;
}
.homepage--body .offset-feature--container .offset-feature--link i {
  font-size: 18px;
  line-height: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.homepage--body .offset-feature--container.feature-initializr {
    text-align:right;
}
.homepage--body .offset-feature--container.feature-guides {
  background-image: url("../img/homepage-feature-guides.png");
  background-repeat: no-repeat;
  background-position: 148% 0;
}
.homepage--body .offset-feature--container.feature-sts {
  background-image: url("../img/homepage-feature-sts.png");
  background-repeat: no-repeat;
  background-position: -40% 100%;
}
.homepage--body .offset-feature--container.feature-projects {
  background-image: url("../img/homepage-feature-projects.png");
  background-repeat: no-repeat;
  background-position: 130px 0;
}
.homepage--body .offset-feature--container.feature-certification {
    background-image: url("../img/homepage-feature-certification.png");
    background-repeat: no-repeat;
    background-position: 0% 0;
    text-align: right;
}
.homepage--body .offset-feature--container:last-child {
  border: none;
}
.homepage--body .offset-feature--container:nth-child(even) {
  background-color: #ebf1e7;
}

.support--wrapper {
  background-color: #5d5d5d;
  padding: 50px 0 60px;
}
.support--wrapper .support--container .icon {
  float: left;
  margin-right: 20px;
}
.support--wrapper .support--container .support--title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #f1f1f1;
  margin: 16px 0;
}
.support--wrapper .support--container .support-links {
    list-style: none;
}
.support--wrapper .support--container .support-links.community {
    margin-left: 117px;
}
.support--wrapper .support--container .support-links.professional {
    margin-left: 146px;
}
.support--wrapper .support--container .support-links.hosted {
    margin-left: 137px;
}
.support--wrapper .support--container .support-links a {
  color: #5fa134;
}
.support--wrapper.about-page {
  position: absolute;
  left: 0;
  right: 0;
}

.tool-suite {
  text-align: right;
}
