.homepage--body {
  background-color: #f5f5f5;
}

.homepage--body .homepage--banner p,
.homepage--body .homepage--section p,
.homepage--body .homepage--section li,
.homepage--body .homepage--section td {
  font-size: 16px;
  color: #333333;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage--body p a {
  color: #68bd45;
  -webkit-font-smoothing: auto;
}

.homepage--body p a:hover {
  color: #333333;
  text-decoration: none;
}

.homepage--body .center {
  text-align: center;
}

.homepage--body .vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.homepage--body .sidebyside {
  display: inline-block;
  vertical-align: top;
}

.homepage--body .thirtywide {
  width: 33%;
}

.homepage--body .fiftywide {
  width: 49.5%;
}

.homepage--body .display-flex {
  display: inline-flex;;
}

.homepage--body .float-right {
  float: right;
}

.homepage--body .uppercase {
  text-transform: uppercase;
}

.homepage--body .bg-white {
  background-color: white;
}

.homepage--body .homepage--banner {
  height: 430px;
  max-height: 430px;
  position: relative;
}

.homepage--body .homepage--banner section {
  height: 430px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.homepage--body .homepage--banner section:first-child {
  display: block;
}

.homepage--body .homepage--banner h2,
.homepage--body .homepage--banner p {
  color: white;
  line-height: 1.2em;
}

.homepage--body .homepage--banner h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
}

.homepage--body .homepage--banner p {
  font-size: 20px;
}

.homepage--body .homepage--banner p a:hover {
  color: white;
}

.homepage--body .homepage--banner .spring-framework-5--banner {
  background: #0f3f61;
  background-image: url(/img/homepage/bg-hero-banner-home-spring-framework-5.png), -moz-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-image: url(/img/homepage/bg-hero-banner-home-spring-framework-5.png), -webkit-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-image: url(/img/homepage/bg-hero-banner-home-spring-framework-5.png), -ms-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-repeat: no-repeat;
  background-position: top left;
}

.homepage--body .homepage--banner .springone-platform--banner {
  background: #2f358f;
/*  background-image: -moz-linear-gradient( 0deg, rgb(16,17,40) 0%, rgb(19,20,47) 22%, rgb(21,23,54) 47%, rgb(34,36,100) 82%, rgb(46,49,146) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(16,17,40) 0%, rgb(19,20,47) 22%, rgb(21,23,54) 47%, rgb(34,36,100) 82%, rgb(46,49,146) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(16,17,40) 0%, rgb(19,20,47) 22%, rgb(21,23,54) 47%, rgb(34,36,100) 82%, rgb(46,49,146) 100%);*/
}

.homepage--body .homepage--banner .springone-platform--banner h2 {
  font-weight: bold;
}

.homepage--body .homepage--banner .springone-platform--banner img {
  height: 55px;
  /*max-width: 336px;*/
  margin: -40px 0 30px;
  width: 100%;
}

.homepage--body .homepage--banner .springone-platform--banner p a {
  color: white;
}

.homepage--body .homepage--banner .springone-platform--banner p a:hover {
  color: #9499c8;
}

.homepage--body .homepage--banner .springone-platform--banner .small {
  font-size: 14px;
  margin-top: 20px;
}

.homepage--body .homepage--banner .automate-ops--banner {
  background: #055891;
  background-image: url(/img/homepage/bg-hero-banner-home-automate-ops.png), -moz-linear-gradient( 0deg, rgb(15,63,97) 0%, rgb(8,83,135) 53%, rgb(0,102,172) 100%);
  background-image: url(/img/homepage/bg-hero-banner-home-automate-ops.png), -webkit-linear-gradient( 0deg, rgb(15,63,97) 0%, rgb(8,83,135) 53%, rgb(0,102,172) 100%);
  background-image: url(/img/homepage/bg-hero-banner-home-automate-ops.png), -ms-linear-gradient( 0deg, rgb(15,63,97) 0%, rgb(8,83,135) 53%, rgb(0,102,172) 100%);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.homepage--body .homepage--banner .pws--banner {
  background: #0f3f61;
  background-image: url(/img/homepage/bg-hero-banner-home-pws.png), -moz-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-image: url(/img/homepage/bg-hero-banner-home-pws.png), -webkit-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-image: url(/img/homepage/bg-hero-banner-home-pws.png), -ms-linear-gradient( 90deg, rgb(5,55,91) 0%, rgb(15,63,97) 52%);
  background-repeat: no-repeat;
  background-position: top left;
}

.homepage--body .homepage--banner .fifth--banner {
  background: #00264a;
  background-image: url(/img/homepage/bg-hero-banner-spring-professional-certification.png), -moz-linear-gradient( -149deg, rgb(46,49,146) 0%, rgb(0,38,74) 53%);
  background-image: url(/img/homepage/bg-hero-banner-spring-professional-certification.png), -webkit-linear-gradient( -149deg, rgb(46,49,146) 0%, rgb(0,38,74) 53%);
  background-image: url(/img/homepage/bg-hero-banner-spring-professional-certification.png), -ms-linear-gradient( -149deg, rgb(46,49,146) 0%, rgb(0,38,74) 53%);
  background-repeat: no-repeat;
  background-position: top right;
}

.homepage--body .slide--dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.homepage--body .slide--dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255,255,255,0.1);
  display: inline-block;
  margin: 0 7px;
  cursor: pointer;
}

.homepage--body .slide--dots .dot.active {
  background: white;
}

.homepage--body .homepage--section {
  padding: 80px 0 0;
}

.homepage--body .homepage--section h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2em;
}

.homepage--body .homepage--section h3 {
  font-size: 28px;
  color: #76bd1d;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

.homepage--body .homepage--section h4 {
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}

.homepage--body .homepage--section p {
  margin: 20px 0;
}

.homepage--body .modern-java-section {
  padding-bottom: 80px;
}

.homepage--body #fader-diagram-your-app img {
  height: 105px;
  width: 102px;
  padding: 125px 20px 0 0;
}

.homepage--body #fader-diagram {
  position: relative;
  margin: 30px auto;
  height: 300px;
  width: 800px;
  cursor: ew-resize;
}

.homepage--body #fader-diagram-modern-java-color {
  position: absolute;
  height: 238px;
  max-width: 800px;
  margin: 31px auto;
  overflow: hidden;
  width: 0;
}

.homepage--body #fader-diagram-modern-java-color div {
  position: absolute;
  height: 238px;
  background: url(/img/homepage/diagram-modern-java-color.svg) no-repeat;
  background-size: 100%;
  width: 800px;
}

.homepage--body #fader-diagram-modern-java-gray {
  position:absolute;
  height: 238px;
  background-size: 100%;
  width: 800px;
  margin: 31px auto;
  background: url(/img/homepage/diagram-modern-java-gray.svg) no-repeat;
  background-size: 100%;
}

.homepage--body #fader {
  background-color: #34302d;
  width: 6px;
  height: 275px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.homepage--body #fader #box {
  background-color: #34302d;
  border-radius: 6px;
  width: 35px;
  height: 30px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  margin-left: -16px;
  position: absolute;
}

.homepage--body #fader #box #inner {
  width: 12px;
  margin: 0 auto;
}

.homepage--body #fader #box .line {
  background-color: rgba(255,255,255,0.2);
  height: 14px;
  width: 2px;
  margin: 8px 0;
  float: left;
}

.homepage--body #fader #box .line:nth-child(2) {
  margin: 8px 3px;
}

.homepage--body .homepage--section .benefits .inner {
  padding: 0 20px;
}

.homepage--body #spring-framework-icon {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.homepage--body .icon-title {
  margin-bottom: 40px;
  display: block;
}

.homepage--body .icon-title img {
  margin: 0 20px 20px 0;
}

.homepage--body .icon-title .sidebyside {
  vertical-align: middle;
}

.homepage--body #diagram-boot-reactor {
  max-height: 493px;
  margin-right: 40px;
  max-width: 590px;
  width: 100%;
}

.homepage--body .diagram-text {
  max-width: 390px;
}

.homepage--body .homepage--section hr {
  margin-bottom: 0;
}

.homepage--body #spring-boot-icon {
  height: 71px;
  max-width: 80px;
}

.homepage--body .spring-boot-section .inner {
  margin-right: 10px;
}

.homepage--body #video-with-overlay {
  position: relative;
  margin: 45px 0 0 30px;
  width: 534px;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s;
}

.homepage--body #video-with-overlay:hover {
  opacity: 0.9;
}

.homepage--body #video-with-overlay iframe,
.homepage--body #video-with-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.homepage--body #video-with-overlay img {
  z-index: 1;
  background: white;
}

.homepage--body .homepage--section td {
  vertical-align: top;
  padding: 7px 0;
}

.homepage--body .homepage--section .dash {
  color: #5fa134;
  padding-right: 15px;
  font-size: 30px;
}

.homepage--body .homepage--section .icon-file-text {
  padding-right: 8px;
  font-size: 20px;
}

.homepage--body .homepage--section .intro {
  max-width: 830px;
  margin: 0 auto;
}

.homepage--body #spring-cloud-icon {
  height: 68px;
  max-width: 103px;
}

.homepage--body .spring-cloud-section .icon-title {
  margin-bottom: 45px;
}

.homepage--body #diagram-distributed-systems {
  background-color: #f7f7f7;
  padding: 60px;
}

.homepage--body .spring-cloud-section .columns {
  display: inline-flex;
}

.homepage--body .spring-cloud-section .column .inner {
  margin-right: 60px;
}

.homepage--body .spring-cloud-section .column:last-child {
  min-width: 264px;
}

.homepage--body .spring-cloud-data-flow-section {
  padding-bottom: 200px;
}

.homepage--body .spring-cloud-data-flow-section .monitor-container {
  background-image: url(/img/homepage/monitor.jpg);
  background-position: top 30px right -220px;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.homepage--body #spring-cloud-data-flow-icon {
  height: 75px;
  max-width: 114px;
}