.compass a {
    color: #5fa134;
}

.compass .sidebar {
    background: #dbe6d6;
    float: left;
    width: 220px;
    margin: 0;
    list-style: none;
    padding: 20px 10px;
}

.compass .sidebar a {
    color: #34302d;
    padding: 6px 10px;
    display: block;
    transition: background 0.5s;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

.compass .sidebar_project.active a,
.compass .sidebar_project:hover a {
    color: #5fa134;
    background: #fff;
}

.compass .nav {
    border-bottom: 0;
    background: #fff;
    padding: 1.5rem 0 0 0;
    margin-bottom: 0;
}

.compass .nav-tabs li {
    margin-bottom: 0;
}

.compass .nav-tabs a {
    border: 0;
    color: #34302d;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin: 0 1rem;
}

.compass .nav-tabs a:focus {
    background: #fff;
}

.compass .nav-tabs a:hover,
.compass .nav-tabs > .active > a {
    border: 0;
    border-bottom: 4px solid #6bb536;
    color: #6bb536;
    background: #fff;
    font-weight: bold;
}

.compass .nav > li > a > svg {
    padding-left: 0.5rem;
    vertical-align: sub;
}

.compass .nav > li > a > svg path {
    fill: #34302d;
}

.compass .nav > .active > a > svg path,
.compass .nav-tabs a:hover svg path {
    fill: #6bb536;
}

.compass .tab-content .col-lg-7 {
    padding: 2rem;
}

.compass .tab-content .col-lg-5 {
    padding: 2rem 2rem 2rem 0;
}

.compass .tab-content .col-lg-5 .row {
    margin-bottom: 2rem;
}

.compass .project-features h2 {
    font-size: 20px;
}

.compass .spring-boot-config {
    border-radius: 4px;
    background-color: #fff;
    border: solid 2px #e5b451;
    padding: 20px;
}

.compass .spring-boot-config h3 {
    color: #e5b451;
}

.compass .quickstart {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
}

.compass .quickstart--title {
    font-size: 22px;
    display: block;
    margin-bottom: 3px;
}

.compass .quickstart--button {
    background: rgba(109, 179, 63, 0.0);
    color: #6db33f;
    border: 2px solid #6db33f;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 3px;
    margin-top: 10px;
    transition: background 0.5s, color 0.5s;
    text-decoration: none;
}

.compass .quickstart--button:hover {
    background: rgba(109, 179, 63, 1);
    color: #fff;
}

.compass .project--header {
    background: #fff;
    padding: 1rem 2rem
}

.compass .project--header h1 {
    display: inline-block;
    margin-right: 2rem;
}

.compass .project--header .link--github,
.compass .project--header .link--stackoverflow{
    margin: 0 0.4rem;
    text-decoration: none;
}

.compass .project--header .link--github img {
    height: 1.5rem;
    vertical-align: baseline;
}

.compass .project--header .link--stackoverflow img {
    height: 2rem;
    vertical-align: sub;
}

.compass .project--header .version {
    font-size: 0.65rem;
    float: right;
    line-height: 30px;
}

.compass .project--header .version strong {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

/* Learn */

.compass #learn {
    padding: 2rem;
}

.compass .project--guides {
    list-style: none;
    margin-left: -0.6rem;
}

.compass .project--guides--title {
    font-size: 20px;
}

.compass .project--guides--subtitle {
    font-size: 16px;
    margin: 1rem 0;
}

.compass .project--guide {
    margin-bottom: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.compass .project--guide a {
    background-color: #fff;
    box-shadow: 0.5px 0.5px 1.5px 0 rgba(0, 0, 0, 0.27);
    border: solid 0.5px #dfdfdf;
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid #eac36d;
    padding: 1rem;
    box-sizing: border-box;
}

.compass .project--guide a:hover > * {
    color: #5fa134;
}

.compass .project--guide a h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.compass .project--guide a div {
    color: #34302d;
}
