
.compass.main-body--wrapper {
    margin-top: 0;
}

.compass .sidebar {
    background: #dbe6d6;
    float: left;
    width: 220px;
    margin: 0;
    list-style: none;
    padding: 20px 10px;
}

.compass .sidebar a {
    color: #34302d;
    padding: 6px 10px;
    display: block;
    transition: background 0.5s ;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

.compass .sidebar_project.active a,
.compass .sidebar_project:hover a {
    color: #5fa134;
    background: #fff;
}
