.compass a {
    color: #5fa134;
}

.compass.container-fluid {
    padding: 0;
}

.compass .sidebar {

}

.compass .sidebar ul.sidebar_main {
    background: #f1f1f1;
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-top: 4px solid #34302e;
    margin: 2rem 1rem 2rem 0;
}

@media only screen and (max-width: 64em) {
    .compass .hide-sm {
        display: none;
    }
}

@media only screen and (min-width: 64em) {
    .compass .hide-sm {
        display: inline-block;
    }
}

.compass .sidebar li {
    font-size: 0.9rem;
    border-top: 1px solid white;
}

.compass .sidebar li:first-child {
    border-top: 0 none;
}

.compass .sidebar div {
    position: relative;
}

.compass .sidebar a {
    color: #34302d;
    font-family: "Varela Round", sans-serif;
}

.compass .sidebar span {
    padding-right: 1rem;
}

.compass .sidebar i {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}
.compass .sidebar i.icon-chevron-down {
    right: 0.4rem;
}

.compass .sidebar .child-inactive > div {
    color: #34302d;
}

.compass .sidebar li.sidebar_head {
    padding: 0.7rem 2.5rem 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.compass .sidebar .active > div a {
    font-weight: bold;
    font-size: 0.9rem;
    color: #34302e;
}

.compass .sidebar a {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    display: block;
    color: #7cb050;
    font-weight: normal;
}

.compass .sidebar a:hover {
    text-decoration: underline;
    font-weight: normal;
}

.compass .sidebar ul.sidebar_children {
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 0 none;
    border-top: 1px solid #FFF;
}

.compass .sidebar ul.sidebar_children li a {
    position: relative;
    padding-left: 2rem;
}

.compass .sidebar ul.sidebar_children li a i {
    right: auto;
    left: .8rem;
    top: .5rem;
    font-size: 8px;
}

.compass .sidebar ul.sidebar_children li a:hover i {
    text-decoration: none;
}

.compass .sidebar ul.sidebar_children li.active a {
    font-weight: bold;
    color: #34302e;
}

.compass .nav {
    border-bottom: 0;
    background: #34302e;
    padding: 0;
    margin-bottom: 0;
    display: flex;
}

.compass .nav-tabs li {
    margin-bottom: 0;
    float: none;
    padding: 0.3rem 1rem 0 1rem;
}

.compass .nav-tabs li i {
    margin-right: 0.3rem;
}

.compass .nav-tabs a {
    border: 0;
    color: #fff;
    padding: 0.7rem 0.3rem;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-weight: 100;
    border-bottom: 4px solid #34302d;
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    font-weight: bold;
}

.compass .nav-tabs a:focus {
    background: #34302e;
}

.compass .nav-tabs a:hover,
.compass .nav-tabs > .active > a {
    border: 0;
    border-bottom: 4px solid #6bb536;
    color: #fff;
    background: #34302e;
}


@media only screen and (max-width: 64em) {
    .compass .nav-tabs a {
        padding: 0.7rem 2.3rem;
    }
}

.compass .compass-section {
    padding: 0 2rem 2rem 2rem;
}

.compass .compass-section h2 {
    font-size: 20px;
    padding: 2rem 0 1rem;
    width: 100%;
    border-bottom: 1px solid #33302d;
    font-weight: 700;
}

.compass .tab-content {
    border: 1px solid #ccc;
    border-top: 0 none;
}

/* Project Header  */

.compass .project--header {
    position: relative;
    padding: 2.5rem 0 2rem;
    margin-right: 90px;
}

.compass .project--header h1 {
    display: inline-block;
    font-size: 2.4rem;
    vertical-align: middle;
    line-height: 2.7rem;
    margin-right: 1rem;
}

.compass .project--header .label {
    margin-top: 0.7rem;
    vertical-align: middle;
}

.compass .project--header .social-links {
    position: absolute;
    right: -90px;
    top: 3rem;
    font-size: 36px;
    line-height: 30px;
}

.compass .project--header .social-links a {
    display: inline-block;
}

.compass .project--header .social-links a:hover {
    text-decoration: none;
}

.compass .project--header .social-links img {
    height: 30px;
    vertical-align: baseline;
}

.compass .project--header .social-links a svg {
    height: 30px;
    width: 30px;
    transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
}

.compass .project--header .social-links a:hover svg {
    fill: #6bb536;
}

@media only screen and (max-width: 64em) {
    .compass .project--header {
        padding: 2.5rem 0 2rem 1.5rem;
        margin-right: 120px;
    }
}

/* Overview */

.compass .project-overview {
    padding-top: 2rem;
}

.compass .project-overview .paragraph {
    padding-bottom: 1rem;
}
/* Learn */

/* Documentation */

.compass .table--documentation {
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
}

.compass table.table--documentation tbody tr td {
    border: 0 none;
    border-right: 1px solid #ccc;
    padding: 10px 15px;
}

.compass table.table--documentation tbody tr td:last-child {
    border-right: 0 none;
}

.compass table.table--documentation tbody tr td:first-child {
    padding-left: 0;
}

.compass table.table--documentation .label {
    vertical-align: top;
}

.compass .label {
    background-color: #34302d;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

.compass .label.current {
    background-color: #6db33f;
}

.compass .label.snapshot {
    background-color: #007ed6;
}

.compass .label.ga {
    background-color: #c51515;
}

/* Guides */

.compass h2.project--guides--title {
    padding-top: 0
}

/* Samples */

.compass .project--samples ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.compass .project--samples ul li {
}

.compass .project--samples ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    padding: 0.6rem 0 0.6rem 30px;
    display: block;
}

.compass .project--samples ul li a:hover {
    text-decoration: none;
}

.compass .project--samples ul li a i {
    position: absolute;
    left: 0;
    top: 1rem;
    font-size: 20px;
}

.compass .project--samples ul li a .project--sample--title,
.compass .project--samples ul li a .project--sample--description {
    display: block;
}

.compass .project--samples ul li a .project--sample--description {
    color: #34302d;
}

.compass .project--samples ul li a:hover .project--sample--title {
    text-decoration: underline;
}

.compass .project--samples ul li a:hover .project--sample--description {
    text-decoration: none;
}

/* Fix layout for Safari */
.compass .row:before, .compass .row:after {
    display: initial;
}
