.compass a {
    color: #5fa134;
}

.compass.container-fluid {
    padding: 0;
}

.compass .sidebar {
    background: #96c773;
    float: left;
    margin: 0;
    list-style: none;
    padding: 2rem 0.5rem;
}

@media only screen and (max-width: 64em) {
    .compass .hide-sm {
        display: none;
    }
}

@media only screen and (min-width: 64em) {
    .compass .hide-sm {
        display: inline-block;
    }
}

.compass .sidebar li {
    font-size: 1rem;
}

.compass .sidebar div {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    position: relative;
}

.compass .sidebar a {
    color: #34302d;
    font-family: Montserrat, sans-serif;
}

.compass .sidebar span {
    padding-right: 1rem;
}

.compass .sidebar i {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}

.compass .sidebar .child-inactive > div {
    color: #34302d;
    opacity: 0.5;
}

.compass .sidebar .active > div,
.compass .sidebar div:hover {
    color: #34302d;
    font-weight: bold;
    font-size: 0.98rem;
    opacity: 1;
}

.compass .sidebar a:hover {
    text-decoration: none;
}

.compass .sidebar .child-active > div {
    font-weight: bold;
    font-size: 0.98rem;
}

.compass .sidebar .sidebar_children {
    list-style: none;
    border-left: 1px solid black;
    margin: 1rem;
}

.compass .sidebar .sidebar_children a {
    font-size: .9rem;
    padding: 0.4rem 0.5rem;
    margin-right: -1.5rem;
    display: block;
}

.compass .sidebar .sidebar_children .active a,
.compass .sidebar .sidebar_children a:hover {
    font-size: .87rem;
    color: #6bb536;
    background: #fff;
    font-weight: bold;
}

.compass .nav {
    border-bottom: 0;
    background: #fff;
    padding: 1.5rem 0 0 0;
    margin-bottom: 0;
    display: flex;
}

.compass .nav-tabs li {
    margin-bottom: 0;
    float: none;
}

.compass .nav-tabs a {
    border: 0;
    color: #34302d;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin: 0 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.compass .nav-tabs a:focus {
    background: #fff;
}

.compass .nav-tabs a:hover,
.compass .nav-tabs > .active > a {
    border: 0;
    border-bottom: 4px solid #6bb536;
    color: #6bb536;
    background: #fff;
    font-weight: bold;
}

.compass .nav > li > a > span {
    padding-right: 0.5rem;
}

.compass .nav > li > a > svg {
    vertical-align: sub;
}

.compass .nav > li > a > svg path {
    fill: #34302d;
}

.compass .nav > .active > a > svg path,
.compass .nav-tabs a:hover svg path {
    fill: #6bb536;
}

.compass .spring-boot-config {
    border-radius: 4px;
    background-color: #fff;
    border: solid 2px #e5b451;
    padding: 20px;
}

.compass .spring-boot-config h3 {
    color: #e5b451;
}

.compass .quickstart {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
}

.compass .quickstart--title {
    font-size: 22px;
    display: block;
    margin-bottom: 3px;
}

.compass .quickstart--button {
    background: rgba(109, 179, 63, 0.0);
    color: #6db33f;
    border: 2px solid #6db33f;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 3px;
    margin-top: 10px;
    transition: background 0.5s, color 0.5s;
    text-decoration: none;
}

.compass .quickstart--button:hover {
    background: rgba(109, 179, 63, 1);
    color: #fff;
}

.compass .project--header {
    background: #fff;
    padding: 1rem 2rem
}

.compass .project--header h1 {
    display: inline-block;
    margin-right: 2rem;
}

.compass .project--header .link--github,
.compass .project--header .link--stackoverflow {
    margin: 0 0.4rem;
    text-decoration: none;
}

.compass .project--header .link--github img {
    height: 1.5rem;
    vertical-align: baseline;
}

.compass .project--header .link--stackoverflow img {
    height: 2rem;
    vertical-align: sub;
}

.compass .project--header .version {
    font-size: 0.65rem;
    float: right;
    line-height: 30px;
}

.compass .project--header .version strong {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

/* Learn */

/* Documentation */

.compass .project-reference > div,
.compass .project-api > div {
    background-color: #fff;
    padding: 1.2rem;
    margin: 0.5rem;
    max-width: calc(100% - 1rem);
    box-shadow: 0.5px 0.5px 1.5px 0 rgba(0, 0, 0, 0.27);
    border: solid 0.5px #dfdfdf;
}

.compass .project--documentation a:not(.not-version) {
    font-family: "Montserrat", sans-serif;
    display: flex;
    border-radius: 4px;
    border: solid 1px #6bb536;
    padding: 0.5rem 0.8rem;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.compass .project--documentation a:not(.not-version):hover {
    color: #fff;
    background: #6bb536;
}

.compass .project--documentation a:not(.not-version) .release-status-group {
    justify-content: flex-end;
}

.compass .project--documentation a:not(.not-version) .release-status {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

.compass .project--documentation > .row {
    margin-right: -1rem;
    margin-left: -1rem;
}

.compass .project--documentation ul {
    margin: 0;
    list-style: none;
}

.compass .project--documentation ul li {
    padding: 0;
    margin-top: 0.7rem;
}

.compass .project--documentation ul li:nth-child(even) {
    padding-left: 0.35rem;
}

.compass .project--documentation ul li:nth-child(odd) {
    padding-right: 0.35rem;
}

.compass .project--documentation--version-button {
    text-align: center;
    margin-top: 1rem;
}

.compass a.not-version {
    color: #34302d;
    text-decoration: none;
}

.compass a.not-version:hover {
    color: #5fa134;
}

.compass a.not-version span {
    margin-right: 0.5rem;
    text-decoration: underline;
}

/* Guides */

.compass ul.project--guides {
    list-style: none;
    margin-top: 0.5rem;
}

.compass .project--guide {
    margin-top: 2rem;
    padding: 0;
}

.compass .project--guide a {
    background-color: #fff;
    box-shadow: 0.5px 0.5px 1.5px 0 rgba(0, 0, 0, 0.27);
    border: solid 0.5px #dfdfdf;
    display: block;
    height: 100%;
    width: calc(100% - 1rem);
    border-left: 4px solid #eac36d;
    padding: 1rem;
    box-sizing: border-box;
}

@media only screen and (min-width: 64em) {
    .compass .project--guide:nth-child(even) a {
        margin-left: 1rem;
    }

    .compass .project--guide:nth-child(odd) a {
        margin-right: 1rem;
    }
}

.compass .project--guide a:hover > * {
    color: #5fa134;
}

.compass .project--guide a h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.compass .project--guide a div {
    color: #34302d;
}

/* Shared section */

.compass .compass-section {
    padding: 0 2rem 2rem 2rem;
}

.compass .compass-section h2 {
    font-size: 20px;
    padding-top: 2rem;
    width: 100%;
}

.compass .compass-section + .compass-section > h2 {
    border-top: solid 1px rgb(195, 195, 195);
}

.compass .compass-section .compass-subtitle {
    font-size: 16px;
    margin: 1rem 0 0 0;
}

.compass .tab-content .compass-section > .row {
    margin-top: 2rem;
}

/* Fix layout for Safari */
.compass .row:before, .compass .row:after {
    display: initial;
}