.mobile-only {
  display: none;
}

@media (min-width: 2000px) {
  .homepage--body .offset-feature--container.feature-sts {
    background-position: 25% 100%;
  }
  .homepage--body .offset-feature--container.feature-projects, .homepage--body .offset-feature--container.feature-guides {
    background-position: 77% 0;
  }
}

@media(min-width: 1900px) {
  .homepage--body .spring-cloud-data-flow-section .monitor-container {
    background-position: top 30px right 0px;
  }
}

@media(min-width: 1441px) {
  .homepage--body .spring-cloud-data-flow-section .monitor-container {
    max-width: 1900px;
  }
}

@media(max-width: 1441px) {
  .homepage--body .spring-cloud-data-flow-section .monitor-container {
    background-size: 60%;
  }
}

@media (min-width: 1180px) and (max-width: 2000px) {
  .homepage--body .offset-feature--container.feature-sts {
    background-position: 0 100%;
  }
  .homepage--body .offset-feature--container.feature-projects, .homepage--body .offset-feature--container.feature-guides {
    background-position: 100% 0;
  }
}

@media(max-width: 1190px) {
  .homepage--body #diagram-boot-reactor {
    margin: 0 auto;
    display: block;
  }
  .homepage--body .diagram-text {
    text-align: center;
    margin-top: 70px;
    max-width: 100%;
  }
}

@media(max-width: 1072px) {
  .tools4--body .tools4--options .tools4--option {
    padding: 0;
  }
  .tools4--body .sidebyside {
    display: block;
  }
  .tools4--body .tools4--options .tools4--option .text {
    margin-right: 0;
  }
  .tools4--body .tools4--options .tools4--option img.sidebyside {
    float: none;
    margin: 30px auto 0;
  }
  .tools4--body .tools4--learn--more--option, 
  .tools4--body .tools4--try--option, 
  .tools4--body .tools4--feature {
    width: 100%;
  }
  .tools4--body .tools4--screenshot--features {
    text-align: center;
  }
  .tools4--body .tools4--screenshot--features img {
    margin-bottom: 40px;
  }
  .tools4--body .tools4--feature .inner,
  .tools4--body .tools4--screenshot--feature,
  .tools4--body .tools4--screenshot--feature .text {
    max-width: 493px;
    margin: 0 auto;
  }
  .tools4--body .tools4--feature .inner {
    margin-bottom: 30px;
  }
  .tools4--body .tools4--feature:last-child .inner {
    margin-bottom: 0;
  }
  .tools4--body .tools4--screenshot--feature .text {
    padding: 0 0 20px 0;
  }
  .tools4--body .tools4--try--option {
    margin-bottom: 50px;
  }
  .tools4--body .tools4--try--option:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) and (max-width: 1180px) {
  .homepage--body .offset-feature--container.feature-guides {
    background-position: 120% 0;
  }
  .homepage--body .offset-feature--container.feature-sts {
    background-position: -50px 100%;
  }
  .homepage--body .offset-feature--container.feature-projects {
    background-position: 300px 0;
  }
}

@media (max-width: 1080px) {
  .homepage--body #fader-diagram-your-app {
    background: url(/img/homepage/diagram-modern-java.svg) no-repeat;
    height: 240px;
    background-size: 100%;
    margin: 60px auto;
  }
  .homepage--body #fader-diagram-your-app img,
  .homepage--body #fader-diagram-your-app #fader-diagram {
    display: none;
  }

  .tool-versions--wrapper .tool-versions--container .platform {
    border-right: none;
  }

  .tool-versions--wrapper .tool-versions--container {
    text-align: center;
  }

  .tool-versions--wrapper .tool-versions--icon--container {
    width: 100%;
  }
}

@media (max-width: 1075px) {
  .copy-button {
    display: none;
  }
}

@media (max-width: 1007px) {
  .new-noteworthy-box {
    display: none;
  }
  .tools-intro {
    width: 100%;
  }
}

@media(max-width: 982px) {
  .header--navbar .navbar-inner .navbar-link a {
    font-size: 12px;
    padding: 28px 15px;
  }
}

@media (max-width: 900px) {
  .search-facets, .facets--clear-filters {
    display: none;
  }
  .search-results-page .row-fluid .span8 {
    width: 100%;
  }
  .homepage--body .spring-boot-section .display-flex {
    display: block;
  }
  .homepage--body .spring-boot-section .icon-title {
    text-align: left;
  }
  .homepage--body #video-with-overlay {
    margin: 60px 0 0;
  }
}

@media (max-width: 800px) {
  html, body {
    height: 100%;
  }

  .viewport {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .viewport.constrained {
    overflow: hidden;
    min-height: 279px;
  }

  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .homepage--body .homepage--banner h2 {
    font-size: 30px;
  }
  .homepage--body #fader-diagram-your-app {
    height: 180px;
  }
  .homepage--body .spring-cloud-data-flow-section .monitor-container {
    background-image: none;
  }
  .homepage--body .spring-cloud-data-flow-section .fiftywide {
    width: 100%;
  }
  .homepage--body .icon-title {
    text-align: left;
  }
  .homepage--body .modern-java-section .thirtywide {
    width: 100%;
    display: block;
  }
  .homepage--body .modern-java-section .thirtywide .inner {
    padding: 0 0 20px;
  }
  .homepage--body .homepage--section .intro {
    text-align: left;
  }
  .homepage--body #diagram-distributed-systems {
    background-color: transparent;
    padding: 0;
  }
  .homepage--body .spring-cloud-section .columns {
    display: block;
  }

  .mobile-left-pane {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .mobile-right-pane {
    display: none !important;
  }

  .index-page--title {
    line-height: 32px;
  }

  .index-page--subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .index-page--subtitle.with-subtext {
    margin-bottom: 30px;
  }

  .offset-feature--container {
    background-image: none !important;
  }
  .offset-feature--container .tool-suite {
    text-align: left;
  }

  .support--wrapper .support--container {
    text-align: center;
    margin-bottom: 30px;
  }
  .support--wrapper .support--container .icon {
    float: none;
    margin-right: 0;
  }
  .support--wrapper .support--container .support-links.community,
  .support--wrapper .support--container .support-links.professional,
  .support--wrapper .support--container .support-links.hosted,
  .support--wrapper .support--container .support-links ul {
    margin: 0;
  }

  aside {
    margin-left: 0 !important;
  }

  .right-pane-widget--container {
    margin-top: 60px;
  }

  .content--container pre {
    max-width: 94.9%;
  }
  .content--container code {
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    max-width: 97%;
  }

  .mobile-navigation--wrapper .navigation-drawer--container {
    position: absolute;
    top: 0;
    width: 270px;
    bottom: 0;
    left: 0;
    background-color: #34302d;
    z-index: 999;
    min-height: 390px;
    box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container {
    margin: 9px;
    padding: 5px;
    background-color: #464340;
    position: relative;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .form-search {
    margin: 0;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    width: 90%;
    padding: 0 10% 0 0;
    color: #f1f1f1;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: #9d9b99;
    padding: 0 2%;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit .icon-search {
    font-size: 15px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a {
    border-bottom: 1px solid #474441;
    color: #f1f1f1;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a [class^=icon-] {
    color: #9d9b99;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link:first-child a {
    border-top: 1px solid #474441;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link.active {
    margin-top: -1px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link.active a {
    border-bottom: 1px solid transparent;
    background-color: #262321;
  }
  .mobile-navigation--wrapper .navigation-drawer--container.js-open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .mobile-navigation--wrapper .mobile-nav {
    background-color: #34302d;
    height: 50px;
    text-align: center;
    border-left: 1px solid #34302d;
    position: relative;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .mobile-navigation--wrapper .mobile-nav .nav-icon {
    position: absolute;
    padding: 13px;
  }
  .mobile-navigation--wrapper .mobile-nav .nav-icon [class^=icon-] {
    color: #f1f1f1;
    font-size: 21px;
  }
  .mobile-navigation--wrapper .mobile-nav .header-center-icon {
    display: inline-block;
    padding: 9px 0 0;
  }
  .mobile-navigation--wrapper .mobile-nav.js-slide-right {
    transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
  }

  #scrim.js-open-mobile-nav {
    z-index: 999;
    transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
  }

  .body--container, .homepage--body {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .body--container.js-slide-right, .homepage--body.js-slide-right {
    transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
  }

  .main-body--wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .blog--wrapper .blog--container {
    padding-bottom: 0;
  }
  .blog--wrapper .blog--container .blog--title {
    font-size: 21px;
    line-height: 25px;
  }
  .blog--wrapper .blog--container .blog--post {
    font-size: 14px;
    line-height: 20px;
  }
  .blog--wrapper .blog--container.blog-preview {
    margin: 0 0 20px 0;
    padding: 0 0 25px 0;
  }
  .blog--wrapper .blog--container.blog-preview .meta-data--container {
    margin: 0;
  }
  .blog--wrapper .blog--container.blog-preview .meta-data--container .meta-data--item {
    margin-bottom: 0;
  }

  .guides-section--container {
    margin-top: 40px;
  }

  .project--container {
    padding: 30px 5%;
    width: 38.135%;
    height: 290px;
  }

  .content--title {
    display: none;
  }

  .tool-versions--wrapper .tool-versions--container .platform {
    padding: 0 5px;
  }
}

@media (max-width: 777px) {
  .eclipse--container .logo-eclipse-text {
     float:none;
  }

  .eclipse--container .eclipse-content--container {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .blog--container .meta-data--container .meta-data--item {
    margin-bottom: 10px !important;
  }
  .blog--container .meta-data--container .meta-data--item:last-child {
    margin-bottom: 0 !important;
  }

  .homepage--body #video-with-overlay,
  .homepage--body #video-with-overlay img,
  .homepage--body #video-with-overlay iframe {
    width: 290px;
    height: 165px;
  }

  .content-container--wrapper .content-container--header {
    padding: 9px 12px;
  }
  .content-container--wrapper .content-container--header .content-container--filter {
    margin: 0;
    padding: 4px 1%;
    width: 98%;
    display: block;
  }
  .content-container--wrapper .content-container--body .content-section-title--container {
    margin: 0 0 20px;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .icon {
    display: none !important;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-title {
    padding: 0;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-title {
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 27px;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-sub-title {
    display: none;
  }

  body .guides-section--container {
    margin-top: 0;
  }

  body .guides-section--container .guide--container {
    display: block;
    width: auto;
    margin: 0 0 20px;
  }

  .project--container {
    padding: 30px 5%;
    width: 90%;
    height: 270px;
  }

}

@media(max-width: 480px) {
  .homepage--body #fader-diagram-your-app {
    height: 80px;
  }
  .homepage--body .homepage--section h2 {
    font-size: 28px;
  }
  .homepage--body .homepage--banner p br {
    display: none;
  }
  .homepage--body #diagram-distributed-systems img {
    max-height: 138px;
  }
  .footer .nav li a {
    padding: 0 4px;
    font-size: 11px;
  }
}