#springone-banner {
    z-index: 999;
    position: relative;
    background: url('/img/event/springone-bckgnd.png') #6db33f;
}

.springone-mtitle, .springone-event p, .springone-event h3, .springone-register a {
    font-family: "Helvetica Neue";
    color: #f1f1f1;
}

.springone-mtitle {
    margin-top: 1em;
    font-size: 25px;
    letter-spacing: .08em;
    font-weight: 100;
}

.springone-event {
    margin-top: 1em;
}

.springone-event h3 {
    font-size: 24px;
    letter-spacing: .08em;
    font-weight: 100;
    margin: 0;
}

#springone-banner a:hover {
    text-decoration: none;
}

.springone-register {
    margin: 1em;
}

.springone-register-btn {
    max-width: 210px;
    min-width: 190px;
    text-transform: uppercase;
    background-color: #6db33f;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: .2em;
    text-align: center;
    border: 2px white solid;
    outline: 1px solid black;
}

.springone-register-btn:hover {
    background-color: #487629;
}