.tools4--body {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tools4--body .center {
  text-align: center;
}

.tools4--body .sidebyside {
  display: inline-block;
  vertical-align: top;
}

.tools4--body h5 {
  font-size: 12px;
  font-family: Montserrat,sans-serif;
  color: #5081a5;
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px 0 0;
}

.tools4--body section {
  padding: 60px 0;
}

.tools4--body .tools4--banner {
  background: url("../img/tools4/Hero-Image.jpg") transparent no-repeat center;
  background-size: cover;
  padding: 135px 0;
}

.tools4--body .tools4--banner .container-fluid {
  max-width: 730px;
}

.tools4--body .tools4--banner p {
  color: white;
  line-height: 1.9em;
  font-family: "Montserrat", sans-serif;
}

.tools4--body p {
  font-size: 16px;
  margin: 15px 0;
  line-height: 1.4em;
}

.tools4--body .tools4--try h3,
.tools4--body .tools4--options h3 {
  font-size: 25px;
  line-height: 1.4em;
  margin: 0;
  font-weight: normal;
}

.tools4--body h4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.tools4--body .tools4--options .tools4--option {
  padding: 0 90px;
  overflow: hidden;
}

.tools4--body .tools4--options .tools4--option img.sidebyside {
  float: right;
}

.tools4--body .tools4--options .tools4--option .text {
  margin-right: 45px;
}

.tools4--body .tools4--options .tools4--option p {
  margin: 15px 0 18px;
}

.tools4--body .btn {
  border: 2px solid #6db33f;
  padding: 12px 30px;
  text-align: center;
  color: #6db33f;
  display: block;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.tools4--body .tools4--screenshot--features .btn,
.tools4--body .tools4--options .btn {
  width: 175px;
}

.tools4--body .tools4--options .btn {
  margin-bottom: 15px;
}

.tools4--body .tools4--options .icon-eclipse {
  max-width: 84px;
  margin: 10px 0;
}

.tools4--body .tools4--options .icon-vsc,
.tools4--body .tools4--options .icon-atom {
  max-width: 80px;
}

.tools4--body h2 {
  font-size: 24px;
  font-weight: 500;
  -webkit-font-smoothing: auto;
}

.tools4--body .tools4--features h2 img {
  margin-right: 8px;
}

.tools4--body .tools4--features {
  background-color: #f4f4f4;
}

.tools4--body .tools4--learn--more--option,
.tools4--body .tools4--try--option,
.tools4--body .tools4--feature {
  width: 33%;
}

.tools4--body .tools4--feature .inner {
  max-width: 313px;
}

.tools4--body .tools4--screenshot--features h3,
.tools4--body .tools4--feature h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.tools4--body .tools4--screenshot--features h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.tools4--body .tools4--screenshot--features h3,
.tools4--body .tools4--screenshot--features p {
  color: white;
}

.tools4--body .tools4--screenshot--features p,
.tools4--body .tools4--features p {
  line-height: 1.8em;
}

.tools4--body .tools4--screenshot--features {
  background-color: #0f3f61;
}

.tools4--body .tools4--screenshot--features img {
  margin-bottom: 60px;
}

.tools4--body .tools4--screenshot--features .btn {
  color: white;
}

.tools4--body .tools4--screenshot--feature .text {
  max-width: 400px;
  padding: 0 0 0 120px;  
}

.tools4--body .tools4--try img {
  margin-bottom: 15px;
}

.tools4--body .tools4--try p {
  margin-bottom: 30px;
}

.tools4--body .tools4--try .icon-eclipse {
  max-width: 68px;
}

.tools4--body .tools4--try .icon-vsc,
.tools4--body .tools4--try .icon-atom {
  max-width: 60px;
}

.tools4--body .tools4--try .icon-vsc {
  margin-bottom: 9px;
}

.tools4--body .git-link,
.tools4--body .stack-link,
.tools4--body .download-link {
  background-image: url("../img/tools4/download-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  color: #6db33f;
  font-weight: normal;
  padding-left: 25px;
}

.tools4--body .stack-link {
  background-image: url("../img/tools4/Stack-Overflow-icon.svg");
}

.tools4--body .git-link {
  background-image: url("../img/tools4/Github-icon.svg");
}