<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:app="http://www.springframework.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<ul layout:fragment="facets">
    <li th:each="facet : ${root.facets}">
        <label>
            <input type="checkbox" name="filters" th:value="${facet.fullPath}" th:field="*{filters}" />
            <span th:text="${facet.linkText}">Facet (123)</span>
        </label>
        <ul th:if="${facet.hasFacets()}" layout:include="search/_facets :: facets" th:with="root=${facet}">

        </ul>
    </li>
</ul>

</body>
</html>




