#*
*~
.#*
target
.springBeans
.settings
!.settings/org.eclipse.wst.html.core.prefs
.classpath
.project
build
bin
dependency-reduced-pom.xml
.idea
*.iml
src/main/resources/git.properties
Gemfile.lock
.DS_Store
.sass-cache
atlassian-ide-plugin.xml
data/
tmp/
PlaygroundTest.java
*.sw?
classes/
.new-relic/
test.log
logs/
blog_importer/
work/