#*
*~
.#*
target
.springBeans
.settings
.classpath
.project
build
bin
dependency-reduced-pom.xml
.idea
*.iml
src/main/resources/git.properties
src/main/resources/css/
Gemfile.lock
.DS_Store
.sass-cache
atlassian-ide-plugin.xml
data/
tmp/
PlaygroundTest.java
*.sw?
