# Configuration for CI build at https://travis-ci.org/spring-io/sagan

language: java

jdk:
  - oraclejdk8

node_js:
  - '0.10'

git:
  submodules: false

env:
  global:
    - GRADLE_OPTS="-Xmx1024m -Xms1024m"
    - TERM=dumb
    - ORG_GRADLE_PROJECT_cfUsername=sagan-ops@gopivotal.com
    - ORG_GRADLE_PROJECT_githubClientId=42691b6b79a6387014ef
    - secure: "PLoCXwAm6HwknF6naMv6vOlaKMK46YfFRIMRAT5qSfYCvH3EI3Ragn0xr6rl48wZNQLXQ+CqerzrINsXJrugzlfLaZoU4TRpMre11TmMORtOt6KSQIawIqSAbrYuq3bfdMtREKMhzcT7dJUDJKV/Hu7GuQxqC0uGaNn629G6Ooo="
    - secure: "Wv4fddsS8xC9Qbewhv/pcRTOqoWK0iV6yWxL79BQHCEmoYjG2haGHWQQRvvijIUANfmFAulHReyXxfWfUs7bedP3yuPe2L0TepWe5dRlW8Hor8aZefIwh6OyOLFLqG2/s4i1wp1A7GU10/l8UUZjrW0VGz1xwMef1hVP77deHQo="
    - secure: "IHxM8HiCSVNyMYE4OIa/LakE9fBmHLNlufUDUi9ZA97xHTG6GhY9Wj3fich9nKckQ0m+Mgyh3iebm/npy8zALW5BjelisrjbWri9fQSxbI8yhsUeu6PLNeTWH4He1BBfwlrZ8Ziu/gqtQ+o/BwqxayzOx1ps+xACjQOHR8rYO4g="
    - secure: "fHkzdsBVCr5XPcTBmuQDsfNy96Yx0EBouObkCFKQ7sDt7ujgBjBHhoa8FzQ0L8MmNcH8HTrYqOXLBVhsNDBNH1wOPgbhkPx8zdtaDYlVXp13va14/2HOrboLDvuRwyyb1Ilvg5Go6lffPiwXu3cxhT5H2aBNA1nV3zd6hqw2ptA="
    - secure: "Z1OEibV0KFLukQT+goeCwassBwrcgB9gLdjG9iAI1EE3nVivjRK/kGXb4k1vWvfj2Si4O2KuVo6RZwAqzPCCJpdk0QYwHzKBxDvJCHHDV284On/2Wu+i7xXt53WVs25Xs2+GV2NzyUhexPKo6PvaRemPxfYH0kkPn01W/NO/ow4="
    - secure: "HLVX8ge6FAvgqxTcHX8mIEkSYC9fbK4pfCdJykGjK2AGeiInh8bJgJw4Pe0lEaJPJq8WngTxgvT80zWtALkUw+32Zs4Q20jUFuBAlWR2CcfmkT2ZM04E8UnGfan8ky/D2JUbfQrH2pX5o/MQ+goT1aOhHUImhCGEPuYPWteTQWo="

script: ./gradlew deploy

notifications:
  hipchat:
    rooms:
      secure: RPubHrQ43LqAeS+OxGsYyCtFztn0XE3BHw5rcEdTs1ewqmC5XusNRuqfijeuHBNJNX1dM7RosdktnBV1C+Jc3auI+AJTt+lQ0PU4dBg3UbjOrdIB+pCaMrgpg+JvHqOrb6iw+D1naqnJyKTKsSEWe5/bUSWGA8nhD3iuKCWXOtg=
