<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Admin | Projects</title>
</head>
<body>
<nav layout:fragment="~{breadcrumb}">
    <ul>
        <li><a th:href="@{/admin}">Admin</a></li>
        <li><a class="is-active" th:href="@{admin/projects}" aria-current="page">Projects</a></li>
    </ul>
</nav>
<div layout:fragment="~{content}">
    <nav class="level">
        <div class="level-right">
            <p class="level-item"><a class="button is-success" th:href="@{'/admin/projects/new'}">Create Project</a></p>
        </div>
    </nav>
    <div>
        <h2>Projects</h2>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Public Page</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td><a th:href="@{'/admin/projects/' + ${project.id}}" th:text="${project.name}">spring-framework</a></td>
                <td th:text="${project.category}">Microservices</td>
                <td><a th:href="${project.siteUrl}" th:text="${project.siteUrl}">/projects/spring-framework</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
