<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<ul class='blog-categories' layout:fragment="blog-categories">
		<li>
			<a th:href="@{/blog}" href="/blog">All Posts</a>
		</li>
		<li>
			<a th:href="@{/blog/broadcasts}" href="/blog/broadcasts">Broadcasts</a>
		</li>
		<li th:each="category : ${categories}">
			<a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}" href="/blog/category/engineering">Engineering</a>
		</li>
	</ul>
</body>
</html>