<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="blog-categories">
		<ul class="blog-category--container">
			<li class="blog-category">
				<a th:href="@{/blog}">All Posts</a>
				<a th:href="@{/blog.atom}" class="pull-right"><i class="icon-rss"></i></a>
			</li>
			<li class="blog-category">
				<a th:href="@{/blog/broadcasts}">Broadcasts</a>
				<a th:href="@{/blog/broadcasts.atom}" class="pull-right"><i class="icon-rss"></i></a>
			</li>
			<li th:each="category : ${categories}" class="blog-category">
				<a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}">Engineering</a>
				<a th:href="@{'/blog/category/'+${category.urlSlug}}+'.atom'" class="pull-right"><i class="icon-rss"></i></a>
			</li>
		</ul>
	</div>
</body>
</html>