<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<ul class='blog-category--container' layout:fragment="blog-categories">
		<li>
			<a th:href="@{/blog}">All Posts</a>
      <a th:href="@{/blog.atom}"><i class="icon-rss"></i></a>
		</li>
		<li>
			<a th:href="@{/blog/broadcasts}">Broadcasts</a>
      <a th:href="@{/blog/broadcasts.atom}"><i class="icon-rss"></i></a>
		</li>
		<li th:each="category : ${categories}">
			<a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}">Engineering</a>
			<a th:href="@{'/blog/category/'+${category.urlSlug}}+'.atom'"><i class="icon-rss"></i></a>
		</li>
	</ul>
</body>
</html>