<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:app="http://www.springframework.org"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="mobile-sub-nav">
    <div class="mobile-sub-nav--wrapper mobile-only">
      <ul class="mobile-sub-nav--container">
        <li th:class="${beans.uih.blogClass(activeCategory?:'','All Posts')}">
          <a th:href="@{/blog}">
            <div class="icon blog-icon icon-all-posts"></div>
          </a>
        </li>
        <li th:each="category : ${categories}" th:class="${beans.uih.blogClass(activeCategory?:'',category.displayName)}">
          <a th:href="@{'/blog/category/'+${category.urlSlug}}">
            <div th:class="${'icon blog-icon icon-'+ category.displayName.toLowerCase().replace(' ','-')}"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>