<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:app="http://www.springframework.org"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="right-pane">
    <ul class="right-pane-widget--container">
      <li app:blog-category-link="'All Posts'">
        <a th:href="@{/blog}">All Posts</a>
        <a th:href="@{/blog.atom}" class="pull-right"><i class="icon-rss"></i></a>
      </li>
      <li app:blog-category-link="'Broadcasts'">
        <a th:href="@{/blog/broadcasts}">Broadcasts</a>
        <a th:href="@{/blog/broadcasts.atom}" class="pull-right"><i class="icon-rss"></i></a>
      </li>
      <li th:each="category : ${categories}" app:blog-category-link="${category.displayName}">
        <a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}">Engineering</a>
        <a th:href="@{'/blog/category/'+${category.urlSlug}}+'.atom'" class="pull-right"><i class="icon-rss"></i></a>
      </li>
    </ul>
    <ul class="social-btn--container">
      <a href="http://twitter.com/SpringSource" class="social-btn twitter"></a>
      <a href="https://plus.google.com/u/0/b/109970428231307622681/109970428231307622681" class="social-btn googleplus"></a>
      <a href="http://www.linkedin.com/groups/Spring-Users-46964" class="social-btn linkedin"></a>
      <a href="http://www.facebook.com/groups/10463298884/" class="social-btn facebook"></a>
      <a href="http://www.youtube.com/user/SpringSourceDev" class="social-btn youtube"></a>
    </ul>
    <div class="promo-material--container">
      <div class="promo-material">NOT REAL</div>
      <div class="promo-material">NOT REAL</div>
    </div>
  </div>
</body>
</html>




