<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Blog</title>
</head>
<body>
<h1 layout:fragment="header">Spring Blog</h1>
<div layout:fragment="overview">Spring Blog is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>

<div layout:fragment="content" class="container">
	<ul class='posts'>
		<li th:each="post : ${posts}">
            <h2 th:text="${post.title}">This week in Spring</h2>
            <div th:utext="${post.renderedSummary}" class='summary'>This has been an interesting week.</div>
			<div class='date' th:text='${#dates.format(post.createdDate, "MMMM d, yyyy")}'>June 18, 2013</div>
			<div class='author'>Author TBD</div>
			<div class='category'>Category TBD</div>
        </li>
	</ul>

	<div id='pagination_control' th:if="${paginationInfo.isVisible()}">
		<a th:href="@{/blog(page=${paginationInfo.previousPageNumber})}" href='/blog?page=1' class='previous' th:if="${paginationInfo.previousVisible}">Previous</a>
		<a th:href="@{/blog(page=${paginationInfo.nextPageNumber})}" href='/blog?page=3' class='next' th:if="${paginationInfo.nextVisible}">Next</a>
	</div>
</div>
</body>
</html>