<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Blog</title>
	<link rel="alternate" type="application/atom+xml" th:href="${feed_path}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/blog.css.css}" href="../../css/blog.css.css" />
</head>
<body>
	<div layout:fragment="header-container"></div>

	<div layout:fragment="content" class="container">
		<div class="row-fluid blog--wrapper">
			<div class="span8">
				<div class="blog-preview--wrapper">
					<div class="blog-preview--container" th:each="post : ${posts}">
						<div class="blog-preview--title">
							<a th:href="@{${post.path}}" th:text="${post.title}">
								This week in Spring
							</a>
						</div>
						<div class="blog-preview--meta-data">
							<div class="meta-data--item">
								<i class="meta-data--icon"></i>
								<a class='category' th:href="@{'/blog/category/'+${post.category.urlSlug}}" th:text="${post.category}">Category</a>
							</div>
							<div class="meta-data--item">
								<i class="meta-data--icon"></i>
								<a class='author' th:text="${post.author.name}" th:href="@{'/about/team/'+${post.author.memberId}}">Author</a>
							</div>
							<div class="meta-data--item">
								<i class="meta-data--icon"></i>
								<span class='date' th:text='${#dates.format(post.publishAt, "MMMM d, yyyy")}'>June 18, 2013</span>
							</div>
						</div>
						<div th:utext="${post.renderedSummary}" class='blog-preview--post'>
							This has been an interesting week.
						</div>
					</div>
				</div>
				<div id='pagination_control' th:if="${paginationInfo.isVisible()}" class="pagination blog-pagination">
					<a th:href="@{/blog(page=${paginationInfo.previousPageNumber})}" href='/blog?page=1' class='previous' th:if="${paginationInfo.previousVisible}"><i class="icon-chevron-left"></i></a>
					<a th:href="@{/blog(page=${paginationInfo.nextPageNumber})}" href='/blog?page=3' class='next' th:if="${paginationInfo.nextVisible}"><i class="icon-chevron-right"></i></a>
				</div>
			</div>
			<div class="span4">
				<ul layout:include="blog/_categories :: blog-categories" />
			</div>
		</div>
	</div>
</body>
</html>