<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:inline="text">SpringFramework - [[${post.title}]]</title>
</head>
<body>
<div layout:fragment="content" class="container" th:object="${post}">
    <h1 th:text="*{title}">Blog post</h1>
	<div class="byline">
		<span class='date' th:text='${#dates.format(post.createdDate, "MMMM d, yyyy")}'>June 18, 2013</span>
		<span class='author'>Author TBD</span>
		<span class='category' th:text="${post.category}">Category</span>
	</div>
    <article th:utext="*{renderedContent}">Blog content</article>
</div>
</body>
</html>