<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:inline="text">[[${post.title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css.css}" href="../../static/css/blog.css.css" />
</head>
<body>
  <div layout:fragment="header-container"></div>

  <div layout:fragment="content" class="container" th:object="${post}">
    <div layout:include="blog/_mobile-sub-nav :: mobile-sub-nav"></div>
    <div class="row-fluid blog--wrapper">
      <div id="content" class="span8 blog--left-pane" layout:include="blog/_full_post :: full-post" >
      </div>
      <div id="sidebar" class="span4 blog--right-pane">
        <div layout:include="blog/_right-pane :: right-pane"></div>
      </div>
    </div>
  </div>
</body>
</html>
