<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - GGTS downloads</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content">
  <div class="tools--wrapper">
    <div class="content--title">Tools</div>
      <h1 class="tools--title">Groovy/Grails Tool Suite&trade; Downloads</h1>
      <p class="tools--description">Use one of the links below to download an all-in-one distribution for your platform. Choose either a native installer or simple archive, they contain equivalent functionality. Also available are archives of the update sites for use when you need to do offline installation of the components. Please refer to the installation instructions for details on how to install STS.</p>
      <p class="tools--description">Find any version of the Groovy/Grails Tool Suite below.</p>
      <div layout:include="tools/_tools_links :: tools-links"></div>
    </div>
  </div>
</div>
</body>
</html>