<html   
  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
  <head>
  	<title>SpringFramework - GGTS Welcome</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid ">
      <div class="content--title">Tools</div>
      <h1 class="tools--title">Groovy/Grails Tool Suite&trade;</h1>
      <div class="row-fluid tools--wrapper">
        <div class="span8">
          <p class="tools--description">The Groovy/Grails Tool Suite™ (GGTS) provides the best Eclipse-powered development environment for building Groovy and Grails applications. GGTS provides support for the latest versions of Groovy and Grails, and comes on top of the latest Eclipse releases.</p>
          <p class="tools--description">Included with GGTS is the developer edition of vFabric tc Server, the drop-in replacement for Apache Tomcat. With its Spring Insight console, tc Server Developer Edition provides a graphical real-time view of application performance metrics that lets developers identify and diagnose problems from their desktops.
          </p>
          <p class="tools--description">GGTS supports application targeting to local, virtual and cloud-based servers. It is freely available for development and internal business operations use with no time limits.</p>
          </p>
        </div>
        <div class="span4">
          <div class="right-pane-widget--container tools-right-pane">
            <div class="tools-logo ggts-logo"></div>
              <ul class='download-links'>
                <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${downloadLinks}">
                  <a class="download-btn" th:href="${downloadLink.url}">
                    Download GGTS
                    <p th:text="'(' + ${version} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                  </a>
                </li>
              </ul>
              <a href="all.html" th:href="@{/tools/ggts/all}" class="all-versions">See All Versions</a>
            </div>
          </div>
        </div>
        <div class="tools--wrapper">
          <h2>Developers Love the Spring Tool Suite</h2>
        </div>
        <div class="row-fluid tools--wrapper tools-feature--wrapper">
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail screenshot-ggts-editing"></div>
            <h3>Powerful Groovy Editing Facilities</h3>
            <p class="tools-feature--description">A smart inferencing engine continually analyses your code, making intelligent code completion suggestions, providing detailed hover info and enables fast navigation around a codebase. The intelligent debugger understands the dynamic nature of groovy code making it easier to step through and explore program state.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail screenshot-ggts-support"></div>
            <h3>Sophisticated Grails Support</h3>
            <p class="tools-feature--description">Comprehensive support for creating, editing, debugging and launching Grails applications. A command wizard is included that provides intelligent content assist for quickly executing commands to help increase productivity. By exploiting the Eclipse Web Tools Project there are easy deployment options to tc Server or Cloud Foundry.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail screenshot-ggts-integration"></div>
            <h3>Gradle Integration</h3>
            <p class="tools-feature--description">Installable from the GGTS Dashboard, the gradle extension provides comprehensive Gradle project integration.  Easily import gradle projects and have the tools automatically manage dependencies. Also includes an integrated task view enabling direct task invocation with a double click. </p>
          </div>
        </div>
        <div class="row-fluid tools--wrapper testimonial">
          <div class="testimonial--container">
            <div class="quotation--icon"></div>
            <div class="quotation--text">
              Groovy&Grails Tool Suite is Awesome! Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </div>
            <div class="quotation--speaker">
              <strong>—Delroy Springfield</strong>
              <br>Director of Engineering
              <br>ACME, Inc.  
            </div>
          </div>
        </div>
        <div class="row-fluid tools--wrapper screenshot">
          <div class="screenshot ggts-screenshot"></div>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. <a href="#">See other tools.</a></p>
        </div>
      </div>
    </div>
  </body>
</html>