<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - STS downloads</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content">
  <div class="tools--wrapper">
    <div class="content--title">Tools</div>
      <h1 class="tools--title">Spring Tool Suite&trade; Downloads</h1>
      <p class="tools--description">Use one of the links below to download an all-in-one distribution for your platform. Choose either a native installer or simple archive, they contain equivalent functionality. Also available are archives of the update sites for use when you need to do offline installation of the components. Please refer to the installation instructions for details on how to install STS.</p>
      <p class="tools--description">Find any version of the Spring Tool Suite below.</p>

      <div class="tool-versions--wrapper">
        <div class="tool-versions--icon--container">
          <div class="tool-versions--icon sts-icon"></div>
          <h2 th:text="'STS '+ ${version}" class="tool-versions--version">1.2.3.RELEASE</h2>
        </div>
        <div layout:include="tools/_tools_links :: tools-links"></div>
      </div>
      <h2>Update Site Archives</h2>
      <p>Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. </p>
      <table class="table table-striped tool-archive--table">
        <thead>
          <tr>
            <th>Release</th>
            <th>Archives</th>
            <th>File Size</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="archive : ${updateSiteArchives}">
            <td th:text="${archive.version}">e.43</td>
            <td><a th:href="${archive.url}" th:text="${archive.fileName}">springsource-tool-suite-3.2.0.RELEASE-e4.3-updatesite.zip</a></td>
            <td th:text="${archive.fileSize}">185MB</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>