<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - STS Welcome</title>
</head>
<body>
<h1 layout:fragment="header">Spring Tool Suite</h1>
<div layout:fragment="overview">
	The Spring Tool Suite™ (STS) provides the best Eclipse-powered development environment for building
	Spring-powered enterprise applications. STS supplies tools for all of the latest enterprise Java
	and Spring, and comes on top of the latest Eclipse releases.
</div>
<div layout:fragment="header-sidebar">
    <ul class='download-links'>
        <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${downloadLinks}">
            <a class="btn" th:href="${downloadLink.url}">
                <h3 th:text="'Download for ' + ${#strings.capitalize(downloadLink.os)}"></h3>
                <p th:text="'version ' + ${version}"></p>
            </a>
        </li>
    </ul>
	<a href="all.html" th:href="@{/tools/sts/all}">See All Versions</a>
</div>

<div layout:fragment="content" class="container">
	<h2>Developers Love The Spring Tool Suite</h2>
</div>
</body>
</html>