<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'bio', ~{::div})}">
<head>
    <title data-th-inline="text">Team | [[${profile.fullName}]]</title>
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/profile.css}"/>
    <meta property="og:url" data-th-content="${'https://www.spring.io/team/' + profile.username}"/>
    <script data-th-inline="javascript">
        /*<![CDATA[*/
        var teamLocations = /*[[${teamLocations}]]*/ [{id: '123', latitude: 30.0, longitude: 1.5}];
        /*]]>*/
    </script>
    <script data-th-src="@{/js/profile.js}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVeQZLTLC5_RxhGtRXOV8xqQQQcP8b9Q&callback=initMap">
    </script>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" data-th-content="'Spring Team: ' + ${profile.fullName}"/>
    <meta property="og:image" data-th-content="${profile.avatarUrl} + '?s=250&s=250'"/>
    <meta property="og:description" data-th-content="${profile.fullName} + ' - '+ ${profile.jobTitle}"/>
</head>
<body>
<div>
    <div data-th-object="${profile}" data-th-attr="data-member-id=${profile.id}">
        <div class="team-map--wrapper">
            <div class="team-member--container">
                <section class="container-fluid">
                    <div class="content--title"><a data-th-href="@{/team}"
                                                   class='uppercase smallest bold backlink blue link-darken block'>
                        <div class='arrow'></div>
                        Spring Team</a></div>
                    <h1 class="team-member--name" data-th-text="*{fullName}">Member Name</h1>
                </section>
                <figure id="map"></figure>
                <section class="container-fluid" id='team-bio-info'>
                    <div class="row-fluid">
                        <div class="span4 mobile-right-pane">
                            <img data-th-alt="*{fullName}" class="team-member--avatar" data-th-src="*{avatarUrl} + '?s=250&s=250'"
                                 data-th-unless="${#strings.isEmpty(profile.avatarUrl)}"/>
                        </div>
                        <div class="span8 mobile-left-pane">
                            <div class="team-member-info--container">
                                <div class="team-member-social pull-right">
                                    <a class="team-member--social--icon twitter-lg" rel="me"
                                       data-th-href="${profile.twitterLink.href}" data-th-if="${profile.hasTwitterUsername()}">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="team-member--social--icon github-lg" rel="me"
                                       data-th-href="${profile.githubLink.href}" data-th-if="${profile.hasGithubUsername()}">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                                <div class="team-member--sub-info">
                                    <p data-th-text="*{jobTitle}" data-th-unless="${#strings.isEmpty(profile.jobTitle)}">Rock
                                        Star</p>
                                    <p data-th-text="*{location}" data-th-unless="${#strings.isEmpty(profile.location)}">
                                        Location</p>
                                </div>
                                <div class="team-member--bio" data-th-text="*{bio}">Subttitle Ligula Risus Tristique
                                    Pharetra
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container" data-th-object="${profile}" data-th-attr="data-member-id=${profile.id}">
        <div class="main-body--wrapper">

            <div class="team-members--wrapper with-padding">
                <div class="row-fluid">
                    <div id="content" class="span8 mobile-left-pane">
                        <div class="content-container--wrapper blog--container">
                            <div class="content-container--title" data-th-inline="text">Blog Posts by [[${profile.name}]]
                            </div>
                            <div class='content-items--container posts'>
                                <article class="member-post--container" data-th-each="post : ${posts}">
                                    <header>
                                        <a class="member-post--title-link" data-th-href="@{${post.path}}"><h2
                                                class="member-post--title" data-th-text="${post.title}">
                                            This week in Spring</h2></a>
                                        <div class="meta-data--container">
                                            <div class="meta-data--item">
                                                <div data-th-class="${'meta-data--icon icon blog-icon '+ #strings.toLowerCase(post.category).replace(' ','-')}"></div>
                                                <a class='category'
                                                   data-th-href="@{'/blog/category/'+${post.category.urlSlug}}"
                                                   data-th-text="${post.category}">Category</a>
                                            </div>
                                            <div class="meta-data--item">
                                                <div class="meta-data--icon icon blog-icon calendar"></div>
                                                <time class='date' pubdate data-th-datetime="${post.publishAt}"
                                                      data-th-text='${#dates.format(post.publishAt, "MMMM d, yyyy")}'>June
                                                    18,
                                                    2013
                                                </time>
                                            </div>
                                        </div>
                                    </header>
                                    <section data-th-utext="${post.renderedSummary}" class='member-post--summary'>This has
                                        been
                                        an interesting week.
                                    </section>
                                    <a class="blog-preview--readmore" data-th-href="@{${post.path}}"
                                       data-th-if="${post.showReadMore()}">
                                        Read more...
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="content-container--wrapper" data-th-unless="${#strings.isEmpty(profile.videoEmbeds)}">
                            <div class="content-container--title" data-th-inline="text">Videos by [[${profile.name}]]</div>
                            <div class="content-items--container">
                                <div class="embedded-video" data-th-utext="${profile.videoEmbeds}"></div>
                            </div>
                        </div>
                    </div>
                    <aside class="span4 mobile-left-pane">
                        <div class="member-twitter--wrapper" data-th-object="${profile}">
                            <div class="member-twitter--header">
                                <div data-th-if="${#strings.isEmpty(profile.twitterUsername)}" class="twitter-handle">
                                    @springcentral
                                </div>
                                <div data-th-unless="${#strings.isEmpty(profile.twitterUsername)}" class="twitter-handle"
                                     data-th-text="'@'+${profile.twitterUsername}"></div>
                                <a data-th-if="${#strings.isEmpty(profile.twitterUsername)}"
                                   class="button button-small uppercase animate button-icon"
                                   href="https://twitter.com/intent/user?screen_name=springcentral">
                                    <i class="fab fa-twitter"></i>
                                    Follow
                                </a>
                                <a data-th-unless="${#strings.isEmpty(profile.twitterUsername)}"
                                   class="button button-small uppercase animate button-icon"
                                   data-th-href="'https://twitter.com/intent/user?screen_name=' + ${profile.twitterUsername}">
                                    <i class="fab fa-twitter"></i>
                                    Follow
                                </a>

                            </div>
                            <div class="member-twitter--body">
                                <div data-th-if="${#strings.isEmpty(profile.twitterUsername)}">
                                    <a id="twitter-obj"
                                       class="twitter-timeline" href="'https://twitter.com/springcentral"
                                       data-widget-id="366969513482285056" data-screen-name="springcentral"
                                       data-show-replies="false" width="250"
                                       data-chrome="nofooter transparent noheader noscrollbar"></a>
                                </div>
                                <div data-th-unless="${#strings.isEmpty(profile.twitterUsername)}">
                                    <a id="twitter-obj" class="twitter-timeline"
                                       data-th-href="'https://twitter.com/' + ${profile.twitterUsername}"
                                       data-widget-id="366969513482285056"
                                       data-th-attr="data-screen-name=${profile.twitterUsername}" data-show-replies="false"
                                       width="250" data-chrome="nofooter transparent noheader noscrollbar"></a>
                                </div>
                                <script>
                                    const theme = document.body.className.indexOf('dark') > -1 ? 'dark' : 'light';
                                    document.querySelector('#twitter-obj').setAttribute('data-border-color', theme === 'light' ? '#ffffff' : '#1b1f23');
                                    document.querySelector('#twitter-obj').setAttribute('data-theme', theme);
                                    !function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0],
                                            p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');
                                </script>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
