<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- set the LOG_FILE property that will be used by the base.xml include below -->
    <property name="LOG_FILE" value="logs/application_log"/>

    <!-- pick up reasonable defaults provided by Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- log at WARN by default to keep console output to a minimum -->
    <root level="WARN"/>

    <!-- Apache HttpClient is too verbose at INFO level in most cases -->
    <logger level="WARN" name="org.apache.http"/>

    <!-- turn up to DEBUG to diagnose GitHub API issues -->
    <logger level="WARN" name="org.apache.http.headers"/>

    <!-- turn up to DEBUG to see information about guides as they are -->
    <!-- fetched and processed -->
    <logger level="WARN" name="sagan.guides.support"/>

    <!-- always log high-level information about application startup -->
    <logger level="INFO" name="sagan.SiteMain"/>

    <!-- log generated password for admin endpoints, e.g. /env, /beans -->
    <!-- See http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-endpoints -->
    <logger level="INFO" name="org.springframework.boot.autoconfigure.security.AuthenticationManagerConfiguration"/>

</configuration>
