<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<div layout:fragment="tools-links">
			<div class="tool-versions--wrapper">
				<div class="tool-versions--icon--container">
					<div class="tool-versions--icon sts-icon"></div>
					<h2 th:text="'STS '+ ${version}" class="tool-versions--version">1.2.3.RELEASE</h2>
				</div>
				<ul class="tool-versions--container">
					<li class="platform" th:each='platform : ${platforms}'>
						<a href="#collapse" data-toggle="collapse" th:attr="data-target='#platform--' + ${platform.name}">
							<div th:class="${platform.name.toLowerCase()}+'-icon platform--icon'"></div>
							<h3 th:text="${platform.name}">Mac</h3>
						</a>
						<div class="collapse in" th:id="'platform--' + ${platform.name}">
							<div class="btn-toolbar">
								<div th:each="eclipseVersion : ${platform.eclipseVersions}" class="btn-group">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="">
										<span th:text="${eclipseVersion.name}"></span>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li class='list-link' th:each='architecture : ${eclipseVersion.architectures}'>
											<p th:text='${architecture.name}'>Architecture name</p>
											<ul>
												<li class='list-link' th:each='downloadLink : ${architecture.downloadLinks}'>
													<a th:href='${downloadLink.url}' th:text='${downloadLink.fileType}'>A file type</a>
		                      <span class="file-size" th:text="${downloadLink.fileSize}">2 MB</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

<script type="text/javascript">

    $(".collapse")
		.removeClass('in')
		.on({
			shown: function(){
				$(this).css('overflow','visible');
			},
			hide: function(){
				$(this).css('overflow','hidden');
			}
		});
	$('#platform--' + detectOs()).addClass('in').css('overflow','visible');

</script>

<hr />

<h2>Update Site Archives</h2>
<table>
	<tr th:each="archive : ${updateSiteArchives}">
		<td th:text="${archive.version}">e.43</td>
		<td><a th:href="${archive.url}" th:text="${archive.fileName}">springsource-tool-suite-3.2.0.RELEASE-e4.3-updatesite.zip</a></td>
		<td th:text="${archive.fileSize}">185MB</td>
	</tr>
</table>
</div>
</body>
</html>