<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<title>SpringFramework - Tools</title>
</head>
<body>
<h1 layout:fragment="header">Tools</h1>

<div layout:fragment="overview">
	These are tools that we recommend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit ante vitae
	risus pharetra bibendum. Nullam quam purus, laoreet ac fringilla quis, iaculis nec libero. Nulla laoreet sapien eu
	dolor pretium non sagittis neque fringilla.
</div>

<div layout:fragment="content" class="container">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="span5">
				<h2><a href="sts/index.html" th:href="@{/tools/sts}">Spring Tool Suite</a></h2>

				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
					mollis
					euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
					elit.
					Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
			<div class="span5 offset1">
				<h2><a href="ggts/index.html" th:href="@{/tools/ggts}">Groovy/Grails Tool Suite</a></h2>

				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
					mollis
					euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
					elit.
					Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<h2><a href="#">Eclipse</a></h2>

				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
					mollis
					euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
					elit. Donec
					sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<h2><a href="http://www.yourkit.com/overview/">YourKit Java Profiler</a></h2>

				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
					mollis
					euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
					elit. Donec
					sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<h2><a href="http://structure101.com/products/#/define">Structure 101</a></h2>

				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
					mollis
					euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
					elit. Donec
					sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>