<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<title>SpringFramework - Tools</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container-fluid">
	<div class="row-fluid">
		<h1 class="index-page--title">Spring Tools</h1>
		<p class="index-page--subtitle">
			Spring provides powerful and flexible collection of technologies to improve your enterprise Java application development that is used by millions of developers. It is easy to get started by using our free development tool, <a href="#">Spring Tool Suite,</a> or following one of the many tutorials. If you have specific questions then you can ask them in the <a href="#">community forum,</a> look for a solution in our extensive <a href="#">code samples</a> or search the outstanding <a href="#">Spring documentation.</a>
		</p>
	</div>
	<div class="tools--wrapper">
		<div class="tool--container">
			<div class="tool--icon sts-icon"></div>
			<div class="tool--title">Spring Tool Suite&trade;</div>
			<div class="tool--description">Spring provides a powerful and flexible collection of technologies to improve your Java application development that is used by millions of developers.</div>
			<a href="sts/index.html" th:href="@{/tools/sts}" class="tool--learn-more">Learn More</a>
            <ul class='download-links'>
                <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${stsDownloadLinks}">
                    <a class="tool--download-btn" th:href="${downloadLink.url}">
                        Download STS
                        <p th:text="'(' + ${stsVersion} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                    </a>
                </li>
            </ul>
			<a href="all.html" th:href="@{/tools/sts/all}" class="tool--see-all-versions">See all versions</a>
		</div>

		<div class="tool--container">
			<div class="tool--icon ggts-icon"></div>
			<div class="tool--title">Groovy/Grails Tool Suite&trade;</div>
			<div class="tool--description">Groovy/Grails Tool Suite is an Eclipse base development environment for building Groovy and Grails applications. It provides support for the latest versions of Groovy and Grails.</div>
			<a href="ggts/index.html" th:href="@{/tools/ggts}" class="tool--learn-more">Learn More</a>
            <ul class='download-links'>
                <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${ggtsDownloadLinks}">
                    <a class="tool--download-btn" th:href="${downloadLink.url}">
                        Download STS
                        <p th:text="'(' + ${ggtsVersion} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                    </a>
                </li>
            </ul>
			<a href="all.html" th:href="@{/tools/ggts/all}" class="tool--see-all-versions">See all versions</a>
		</div>
	</div>
	<div class="eclipse--container">
		<div class="eclipse--icon"></div>
		<div class="eclipse-content--container">
			<h2>Eclipse</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna
				mollis
				euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
			<a href="eclipse/index.html" th:href="@{/tools/eclipse}">Learn More</a>	
		</div>
	</div>
	</div>
</div>
</body>
</html>