<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      data-platform-downloads data-info-popups>
<head>
    <title>Spring &middot; Eclipse Downloads</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="Spring - Eclipse Downloads" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="Welcome to the Spring Eclipse download mirror, where you'll find fast
    downloads of the most common Eclipse distributions from various Eclipse release trains" />
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container">
    <div class="main-body--wrapper">
        <div class="content--title">Tools</div>
        <h1 class="tools--title">Eclipse Downloads</h1>
        <div class="row-fluid tools--wrapper">
            <div class="span8">
                <p class="tools--description">Welcome to the Spring Eclipse download mirror, where you'll find fast downloads of the most common Eclipse distributions from various Eclipse release trains:
                    <ul class="tools--description">
                        <li><em>Eclipse Standard/Classic</em>: the original Eclipse IDE distribution, containing Java and Plugin Development Tooling alongside Git and CVS integration.</li>
                        <li><em>Eclipse IDE for Java EE Developers</em>: a pre-configured IDE package for Java developers creating Java EE and Web applications, including a Java Development Tools, tools for Java EE, JPA, JSF, Mylyn, and more.</li>
                        <li><em>Eclipse IDE for Java Developers</em>: The best-suited tools for general Java developers, including the Java Development Tools, CVS and Git integration, an XML Editor, Mylyn, Maven integration for Eclipse and WindowBuilder.</li>
                        <li><em>Eclipse for RCP (and RAP/Plugin) Developers</em>: An Eclipse package that comes with tools for developers who want to create Eclipse plug-ins and Rich Clients (RCP), or develop with the Remote Application Platform (RAP), including Mylyn, XML editors, Code Recommenders, Git and CVS integration, plus Maven integration for Eclipse.</li>
                    </ul>
                </p>
            </div>
            <div class="span4">
                <div class="right-pane-widget--container tools-right-pane">
                    <div class="other-tools--container">
                        <div class="tools-logo-small sts-logo pull-left"></div>
                        <div>
                            <a href="/tools/sts" class="other-tools--link">Spring Tool Suite&trade;</a>
                            <p>The Eclipse-based development environment for building Spring applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eclipse-platform--container js-item-dropdown-widget--wrapper" th:each="platform : ${platforms}">
            <a href="#collapse" data-toggle="collapse" th:attr="data-target='#platform--' + ${platform.name}" class="js-dropdown-link eclipse-platform-dropdown-link">
                <i class="platform-dropdown--icon icon-chevron-down pull-right"></i>
                <div class="platform--name">
                    <div th:class="${platform.name.toLowerCase()}+'-icon platform--icon-small'"></div>
                    <h3 th:text="${platform.name}">Mac</h3>
                </div>
            </a>
            <div class="collapse in platform-versions--container" th:id="'platform--' + ${platform.name}">
                <div class="release js-item-dropdown-widget--wrapper" th:each="release : ${platform.releases}">
                    <h3 class="platform-release--name" th:text="${release.name}">Eclipse Kepler Package Downloads (based on Eclipse 4.3)</h3>
                    <div class="item-dropdown-widget js-item-dropdown--wrapper" th:each="package : ${release.packages}">
                        <div class="item-dropdown--link js-item--open-dropdown">
                            <i class="item-dropdown--icon icon-reorder pull-right"></i>
                            <p class="item-dropdown--title" th:text="${package.name}">Eclipse Standard 4.3 (Win32, 0MB)</p>
                        </div>
                        <div class="item--dropdown no-item--header ecplise-version--dropdown">
                            <div class="item--body">
                                <div class='item--half-column' th:each='architecture : ${package.architectures}'>
                                    <p class="item--body-title" th:text='${architecture.displayName}'>Architecture name</p>
                                    <div>
                                        <div class='item--body--version' th:each='downloadLink : ${architecture.downloadLinks}'>
                                            <a class="tool-download-link" th:href='${downloadLink.url}'>
                                                <p class="file-type" th:text='${downloadLink.fileType}'>A file type</p>
                                                <span class="file-size" th:text="${downloadLink.fileSize}">2 MB</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
