<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Spring Data Projects</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container">
    <h1 class="index-page--title">Attic Projects</h1>
    <p class="index-page--subtitle">SCras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui.</p>
    <div class="projects--wrapper project-aggregator">
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
      <a href="#" class="project--container project--container--link">
        <div class="project--title">Nullam Cursus</div>
        <p class="project--description">Hearts of the stars brain is the seed of intelligence consciousness extraplanetary shores of the cosmic ocean! As a patch of light paroxysm of global death? Inconspicuous motes of rock and gas. </p>
      </a>
    </div>
  </div>
</body>
</html>
