<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<title>Spring &middot; Eclipse Downloads</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container">
	
	<div class="content--title">Tools</div>
	<h1 class="tools--title">Eclipse Downloads</h1>
	<div class="row-fluid tools--wrapper">
		<div class="span8">
			<p class="tools--description">TBD</p>
		</div>
		<div class="span4">
			<div class="right-pane-widget--container tools-right-pane">
				<div class="other-tools--container">
					<div class="tools-logo-small sts-logo pull-left"></div>
					<div>
						<a href="/tools/sts" class="other-tools--link">Spring Tool Suite&trade;</a>
						<p>The Eclipse-based development environment for building Spring applications.</p>
					</div>
				</div>
				<div class="other-tools--container">
					<div class="tools-logo-small ggts-logo pull-left"></div>
					<div>
						<a href="/tools/ggts" class="other-tools--link">Groovy/Grails Tool Suite&trade;</a>
						<p>The Eclipse-based development environment for building Groovy and Grails applications.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="eclipse-platform--container js-item-dropdown-widget--wrapper" th:each="platform : ${platforms}">
		<a href="#collapse" data-toggle="collapse" th:attr="data-target='#platform--' + ${platform.name}" class="js-dropdown-link eclipse-platform-dropdown-link">
			<i class="platform-dropdown--icon icon-chevron-down pull-right"></i>
			<div class="platform--name">
				<div th:class="${platform.name.toLowerCase()}+'-icon platform--icon-small'"></div>
				<h3 th:text="${platform.name}">Mac</h3>
			</div>
		</a>
		<div class="collapse in platform-versions--container" th:id="'platform--' + ${platform.name}">
			<div class="release js-item-dropdown-widget--wrapper" th:each="release : ${platform.releases}">
				<h3 class="platform-release--name" th:text="${release.name}">Eclipse Kepler Package Downloads (based on Eclipse 4.3)</h3>
				<div class="item-dropdown-widget js-item-dropdown--wrapper" th:each="package : ${release.packages}">
					<div class="item-dropdown--link js-item--open-dropdown">
						<i class="item-dropdown--icon icon-reorder pull-right"></i>
						<p class="item-dropdown--title" th:text="${package.name}">Eclipse Standard 4.3 (Win32, 0MB)</p>
					</div>
					<div class="item--dropdown no-item--header ecplise-version--dropdown">
						<div class="item--body">
							<div class='item--half-column' th:each='architecture : ${package.architectures}'>
								<p class="item--body-title" th:text='${architecture.displayName}'>Architecture name</p>
								<div>
									<div class='item--body--version' th:each='downloadLink : ${architecture.downloadLinks}'>
										<a class="tool-download-link" th:href='${downloadLink.url}'>
											<p class="file-type" th:text='${downloadLink.fileType}'>A file type</p>
											<span class="file-size" th:text="${downloadLink.fileSize}">2 MB</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">

		$(".collapse")

				.removeClass('in')
				.on({
					shown: function () {
						$(this).css('overflow', 'visible').css("height", "auto").parent().find(".platform-dropdown--icon").removeClass("icon-chevron-down").addClass("icon-chevron-up");
					},
					hide: function () {
						$(this).css('overflow', 'hidden').css("height", "0").parent().find(".platform-dropdown--icon").removeClass("icon-chevron-up").addClass("icon-chevron-down");
					}
				});
		$('#platform--' + detectOs()).addClass('in').css('overflow', 'visible').css("height", "auto").parent().find(".platform-dropdown--icon").removeClass("icon-chevron-down").addClass("icon-chevron-up");

	</script>

</div>
</body>
</html>
