$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");

.blog--container {
  padding: 0 0 40px 0;
  &.blog-preview {
    margin: 0 0 40px 0;
    border-bottom: 1px solid #ffffff;
    .meta-data--container {
      margin-bottom: 0;
    }
    .blog-preview--readmore {
      color: $link-green;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
    .blog--post {
      ul, ol, table, h3, h2 {
        display: none;
      }
      p {
        margin-bottom: 15px;
      }
    }
    &:last-child {
      margin: 0;
      border-color: #cccccc;
    }
  }
  .blog--title {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 35px;
    font-family: $secondary-font-family;
    color: $black-brown;
    & a {
      color: $black-brown;
      &:hover {
        text-decoration: none;
        color: $link-green;
      }
    }
  }
  .meta-data--container {
    margin-bottom: 30px;
    .meta-data--item {
      display: inline-block;
      margin: 2px 30px 0 0;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      .meta-data--icon {
        display: inline-block;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin: -2px 5px 0 0;
      }
      a {
        color: $black-brown;
        &:hover {
          text-decoration: none;
          color: $link-green;
        }
      }
    }
  }
  .blog--post {
    margin: 20px 0 30px;
    a {
      color: $link-green;
      &:hover {
        text-decoration: underline;
      }
    }
    h2 {
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
      margin: 30px 0 15px;
    }
    h3, h4 {
      font-family: $secondary-font-family;
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      margin: 30px 0 15px;
    }
    p {
      margin-bottom: 20px;
    }
    code {
      color: #305CB5;
      font-size: 14px;
      padding: 2px 6px;
      white-space: normal;
    }
    ul, ol {
      margin: 15px 0 20px 25px;
      li {
        padding: 6px 0;
        font-size: 15px;
        line-height: 18px;
      }
    }
    img {
      display: block;
      margin: 20px 0;
    }
    pre {
      margin: 20px 0;
    }
    blockquote {
      margin: 20px 0;
      padding: 0 0 0 10px;
      border-left: 5px solid #DDD;
      p {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 24px;
      }
      code {
        color: #305CB5;
        font-size: 14px;
        padding: 2px 6px;
      }
    }
    .highlight {
      margin-bottom: 20px;
      pre {
        border-radius: 0;
        word-break: normal;
        word-wrap: normal;
        white-space: pre;
        overflow-x: auto;
        width: 96.9%%;
      }
      .copy-button {
        position: absolute;
        margin-left: 633px;
      }
    }
    .callout {
      border-left: 4px solid $green;
      background-color: #EBF1E7;
      padding: 25px 20px;
      font-family: $secondary-font-family;
      margin: 20px 30px;
      .callout-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 6px;
      }
      p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.blog-comments--wrapper {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  .blog-comments--container {
    border: 1px solid $black-brown;
    .blog-comments--header {
      background-color: $black-brown;
      color: #f1f1f1;
      font-size: 14px;
      line-height: 14px;
      padding: 18px;
      a {
        color: $link-green;
      }
      .icon {
        margin-top: -11px;
      }
    }
    .blog-comments--body {
      padding: 18px;
    }
  } 
}





.social-btn--container {
  margin: 40px 0;
  text-align: center;
  .social-btn {
    background-image: url("../img/iconsprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 3.5%;
    &.twitter {
      background-position: -1px -143px;
      &:hover {
        background-position: -84px -143px;
      }
    }
    &.googleplus {
      background-position: -1px -220px;
      &:hover {
        background-position: -84px -220px;
      }
    }
    &.linkedin {
      background-position: -1px -297px;
      &:hover {
        background-position: -84px -297px;
      }
    }
    &.facebook {
      background-position: -1px -373px;
      &:hover {
        background-position: -84px -373px;
      }
    }
    &.youtube {
      background-position: -1px -450px;
      &:hover {
        background-position: -84px -450px;
      }
    }
  }
}

.promo-material {
  padding: 75px 0;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
  border: 6px solid white;
  color: #ccc;
  background-color: #ddd; 
}
