$off-white: #eee;
$black-green: #3A3C2F;
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");


.btn {
  &.btn-black {
    background-color: $black-brown;
    background-image: none;
    border-radius: 0;
    color: #f1f1f1;
    font-size: 14px;
    line-height: 14px;
    font-family: $secondary-font-family;
    border: 2px solid $green;
    padding: 21px 60px;
    text-shadow: none;
    transition: border 0.15s;
    -webkit-transition: border 0.15s;
    -moz-transition: border 0.15s;
    -o-transition: border 0.15s;
    -ms-transition: border 0.15s;
    &.compact{
      padding: 6px 12px;
      font-size: 12px;
    }
    &.sub-text {
      padding: 12px 0;
      p {
        margin-top: 6px;
        color: $off-white;
        font-size: 14px;
        line-height: 14px;
        font-family: $secondary-font-family;
        text-transform: none;
      }
    }
    &.on-black {
      &:hover {
        border-color: $green;
        box-shadow: 0 1px 3px darken($black-brown, 15%);
      }
      &:active {
        box-shadow: 0 1px 3px darken($black-brown, 15%), inset 0 3px 6px darken($black-brown, 15%);
        border-color: $green;
      }
    }
    &.with-icon {
      & [class^="icon-"] {
        margin-right: 21px;
        font-size: 20px;
        vertical-align: top;
        line-height: 10px;
      }
    }
    &:hover {
      border-color: $black-brown;
      box-shadow: none;
      text-decoration: none;
    }
    &:active {
      box-shadow: inset 0 3px 6px darken($black-brown, 15%);
      border-color: $black-brown;
    }
  }
  &.uppercase {
    text-transform: uppercase;
  }
}