$off-white: #eee;
$black-green: #3A3C2F;
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");


.docs--header {
  .docs-icon {
    background-color: $black-brown;
    width: 94px;
    height: 122px;
    margin: 0 40px 40px 0;
    padding: 39px;
    background-image: url("../img/iconsprite.png");
    background-repeat: no-repeat;
    background-position: 37px -506px;
  }
}

.docs--body {
  margin: 40px 0;
  width: auto;
  min-height: 50px;
  display: block !important;
  .docs-item--wrapper {
    padding: 0 20px;
    margin: 20px -22px;
  }
  .empty-project {
    margin-bottom: -40px;
  }
  .docs-section-title {
    margin: 40px 20px 30px;
    border-top: 1px solid #FFF;
    padding-top: 40px;
    font-family: $secondary-font-family;
    font-weight: bold;
    &.no-border {
      border: 0;
      padding-top: 0;
    }
  }
}

.docs--item {
  display: inline-block;
  width: 295px;
  vertical-align: top;
  margin: 0 22px;
  .docs-version--dropdown {
    width: 86.5%;
    p {
      display: inline-block;
    }
    .icon {
      vertical-align: top;
      margin: 2px 0 0 6px;
    }
  }
}










