$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");


.docs--header {
  .docs-icon {
    background-color: $black-brown;
    width: 94px;
    height: 122px;
    margin: 0 40px 40px 0;
    padding: 39px;
    background-image: url("../img/iconsprite.png");
    background-position: 37px -506px;
  }
}

.docs--body {
  margin: 40px 0;
  width: auto;
  .docs-item--wrapper {
    padding: 20px;
  }
  .empty-project {
    margin-bottom: -40px;
  }
}

.docs--item {
  display: inline-block;
  width: 295px;
  vertical-align: top;
  margin: 0 44px 0 0;
  &:nth-child(3n+3) {
    margin-right: 0;
  }

  .docs-version--dropdown {
    width: 86.5%;
    p {
      display: inline-block;
    }
    .current-version--icon, .pre-release-version--icon {
      background-image: $icon-sprite;
      display: inline-block;
      height: 13px;
      vertical-align: top;
      margin: 2px 0 0 6px;
    }
    .current-version--icon {
      background-position: -284px -520px;
      width: 42px;
    }
    .pre-release-version--icon {
      background-position: -344px -520px;
      width: 23px;
    }
  }
}










