$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$base-font-family: 'Varela Round', sans-serif;
$link-green: #5fa134;



.guides-section--container {
  border: 1px solid $black-brown;
  min-height: 284px;
  margin-top: 50px;
  display: block !important;
  &:first-child {
    margin-top: 0;
  }
  .section-title--container {
    background-color: $black-brown;
    color: $off-white;
    padding: 40px 0;
    margin: -40px 40px 40px -40px;
    float: left;
    width: 324px;
    height: 284px;
    text-align: center;
    .section-title--icon {
      height: 100px;
      width: 72px;
      display: inline-block;
      background-image: url("../img/iconsprite.png");
      &.gs-guides--icon {
        background-position: -1px -737px;
      }
    }
    .section-title--title {
      text-transform: uppercase;
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 18px;
      padding: 30px 20px 25px;
    }
    .section-title--intro {
      padding: 0 40px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .guides--wrapper {
    margin-right: -40px
  }
  .guide--container {
    display: inline-block;
    width: 29.269%;
    margin: 0 4.066% 20px 0;
    vertical-align: top;
    .guide--title {
      font-size: 16px;
      color: $link-green;
      line-height: 22px;
    }
    .guide--subtitle {
      font-size: 14px;
      line-height: 20px;
      margin-top: 5px;
    }
  }
}



.content--container {
  h1 {
    margin-bottom: 15px;
  }
  a {
    color: $link-green;
  }
  p, ul {
    margin-bottom: 20px;
    border-radius: 0;
  }

  pre {
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 0;
  }

  h2 {
    font-family: $secondary-font-family;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 30px 0 10px;
  }
  h3, h4 {
    font-family: $secondary-font-family;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 20px 0 10px;
  }
  p code {
    color: #305CB5;
    font-size: 14px;
    padding: 2px 6px;
  }
  ul {
    li {
      margin-bottom: 5px;
      code {
        color: #305CB5;
        font-size: 14px;
        padding: 2px 6px;
      }
    }
  }
  blockquote {
    padding: 0 0 0 10px;
    border-left: 4px solid $green;
    background-color: #EBF1E7;
    padding: 25px 20px;
    margin: 30px 0;
    font-family: $secondary-font-family;
    strong {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 6px;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
  pre {
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
    width: 96.9%%;
  }
  .highlight .copy-button {
    position: absolute;
    margin-left: 634px;
  }
  strong {
    font-family: $secondary-font-family;
  }
}

.content-right-pane--container {
  h2 {
    margin: 15px 6.2%;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    margin: 15px 6.2%;
  }
  h3 {
    border-top: 1px solid #ddd;
    padding: 6px 6.2%;
    font-family: $secondary-font-family;
    margin: 0;
  }
  ul {
    margin: 0;
    li {
      line-height: 21px;
      &:last-child {
        padding-bottom: 28px;
      }
      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
  .btn-group {
    margin: 0 6.2%;
    display: block;
    .btn {
      font-family: $base-font-family;
      padding: 12px 6.4% 10px;
      font-size: 16px;
      line-height: 16px;
      border: 1px solid #ddd;
      box-shadow: none;
      &.active {
        background: #fff;
        box-shadow: none;
      }
      &:active {
        box-shadow: inset 0 1px 3px darken(#eee, 15%);
      }
    }
  }
  .clone-url {
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    margin: 15px 6.2%;
    input {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 10px 0 10px 14px;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 20px;
      margin: 0;
      float: right;
      background-position: 3px -66px;

    }
  }
  .github_download {
    display: block;
    text-align: center;
    margin: 15px 6.2%;
  }
}

.go-to-repo--container {
  margin-top: 20px;
  padding: 10px 6.2%;
  border-top: 1px solid white;
  a {
    vertical-align: middle;
    color: $link-green;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    margin-top: 1px;
    &:hover {
      color: lighten($link-green, 5%);
    }
  }
  i {
    color: #d4d4d4;
    font-size: 24px;
    margin-right: 10px;
    float: left;
    margin-top: -2px;
  }
}

.copy-button {
  background-color: #cccccc;
  margin: 1px 1px 10px 0;
  padding: 20px;
  background-image: url("../img/iconsprite.png");
  background-repeat: no-repeat;
  background-position: 2px -66px;
  width: 20px;
  height: 22px;
  border: none;
  background-color: $black-brown;
  &.snippet {
    float: right;
  }
}





a.ci-status {
  float: right;
  margin-top: -27px;
}

.gs-guide-import {
  display: none;
}
