$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$base-font-family: 'Varela Round', sans-serif;
$link-green: #5fa134;


.content--container {
  margin-bottom: 100px;
  h1 {
    margin-bottom: 50px;
  }
  a {
    color: $link-green;
  }
  p, pre {
    margin-bottom: 18px;
    border-radius: 0;
  }

  p code {
    color: #305CB5;
    font-size: 14px;
    padding: 2px 6px;
  }
  ul {
    margin-bottom: 30px;
    li {
      padding: 5px 0;
      code {
        color: #305CB5;
        font-size: 14px;
        padding: 2px 6px;
      }
    }
  }
  blockquote {
    padding: 0 0 0 10px;
    border-left: 5px solid #DDD;
  }
}

.content-right-pane--container {
  h2 {
    margin: 15px 6.2%;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    margin: 15px 6.2%;
  }
  h3 {
    border-top: 1px solid #ddd;
    padding: 0px 6.2%;
    font-family: $secondary-font-family;
    font-size: 16px;
    font-family: 700;
  }
  ul {
    margin: 0;
    li {
      line-height: 21px;
      &:last-child {
        padding-bottom: 28px;
      }
      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
  .btn-group {
    margin: 0 6.2%;
    display: block;
    .btn {
      font-family: $base-font-family;
      padding: 18px 6.4%;
      font-size: 16px;
      line-height: 16px;
      border: 1px solid #ddd;
      box-shadow: none;
      &.active {
        background: #fff;
        box-shadow: none;
      }
      &:active {
        box-shadow: inset 0 1px 3px darken(#eee, 15%);
      }
    }
  }
  .clone-url {
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    margin: 15px 6.2%;
    input {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 14px 0 14px 14px;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 24px;
      margin: 0;
      float: right;
      background-position: 13px -71px;
    }
  }
  .github_download {
    display: block;
    text-align: center;
    color: #f1f1f1;
    border: 2px solid #6db341;
    background-color: $black-brown;
    margin: 15px 6.2%;
    padding: 21px 0;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 14px;
    line-height: 14px;
    transition: border-color 0.25s;
    -webkit-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
    -ms-transition: border-color 0.25s;
    &:hover {
      text-decoration: none;
      border-color: $black-brown;
    }
    &:active {
      box-shadow: inset 0 3px 6px darken($black-brown, 15%);
    }
  } 
}

.copy-button {
  background-color: #cccccc;
  margin: 1px 1px 10px 0;
  padding: 20px;
  background-image: url("../img/iconsprite.png");
  background-repeat: no-repeat;
  background-position: 9px -75px;
  width: 20px;
  height: 22px;
  border: none;
  background-color: $black-brown;
  &.snippet {
    float: right;
  }
}

a.ci-status {
  float: right;
  margin-top: -27px;
}

.gs-guide-import {
  display: none;
}