
$off-white: #f1f1f1;
$black-green: #3A3C2F;
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");




.homepage-billboard {
  background-image: url("../img/homepage-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
  .billboard--container {
    margin-top: 60px;
  }
  .homepage-title--container {
    margin-top: 66px;
    .homepage-title, .homepage-subtitle {
      background: rgba(52, 48, 45, 0.8);
      color: $off-white;
      display: inline-block;
    }
    .homepage-title {
      font-size: 48px;
      line-height: 68px;
      font-family: $secondary-font-family;
      padding: 0 15px;
      letter-spacing: -2px;
    }
    .homepage-subtitle--container {
      .homepage-subtitle {
        font-size: 22px;
        line-height: 18px;
        padding: 2px 19px 12px;
        &:first-child {
          padding-top: 12px;
        }
      }
    }
  }
}

.homepage--body {
  margin-bottom: -200px;
  .platform--wrapper {
    background: url("../img/platform-bg.png") $black-brown 50% 0 no-repeat;
    height: 438px;
    text-align: center;
    .platform--icon {
      background: url("../img/spring-platform-watermark.png") no-repeat;
      width: 241px;
      height: 74px;
      display: inline-block;
      margin: 43px 0;
    }
    .platform--title {
      font-family: $secondary-font-family;
      color: $off-white;
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .platform--text {
      color: $off-white;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .platform--link {
      font-size: 18px;
      line-height: 28px;
      & [class^="icon-"] {
        margin-left: 15px;
        line-height: 10px;
        vertical-align: middle;
        text-decoration: none;
      }
    }
  }

  .key-feature--wrapper {
    background-color: #6db33f;
    padding: 60px 0;
    .key-feature--container {
      text-align: center;
      color: #f1f1f1;
      .key-feature--icon--container {
        height: 88px;
        text-align: center;
        margin-bottom: 44px;
      }
      .key-feature--title {
        text-transform: uppercase;
        font-family: $secondary-font-family;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }
      .key-feature--text {
        font-size: 18px;
        line-height: 28px;
        &.highlight {
          text-transform: uppercase;
        }
      }
    }
  }
  .offset-feature--container {
    border-bottom: 1px solid #dddbda;
    .feature--content {
      padding: 90px 0;
    }
    .offset-feature--title {
      font-size: 30px;
      line-height: 30px;
      font-family: $secondary-font-family;
      margin-bottom: 20px;
      color: $black-brown;
    }
    .offset-feature--text {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
      color: $black-brown;
    }
    .offset-feature--link {
      color: $link-green;
      font-size: 18px;
      line-height: 18px;
      i {
        font-size: 18px;
        line-height: 10px;
        margin-left: 10px;
        text-decoration: none;
      }
    }
    &.feature-guides {
      background-image: url("../img/homepage-feature-guides.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }
    &.feature-sts {
      background-image: url("../img/homepage-feature-sts.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    &.feature-projects {
      background-image: url("../img/homepage-feature-projects.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }
    &:last-child {
      border: none;
    }
    &:nth-child(even) {
      background-color: #ebf1e7;
    }
    // &:hover {
    //   .offset-feature--link {
    //     text-decoration: underline;
    //   }
    // }
  }
}
.support--wrapper {
  background-color: #5d5d5d;
  padding: 50px 0 60px;
  .support--container {
    .icon {
      float: left;
      margin-right: 45px;
    }
    .support--title {
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      color: #f1f1f1;
      margin: 22px 0;
    }
    .support-links a {
      color: $link-green;
      padding: 0 20px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  &.about-page {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.tool-suite {
  text-align: right;
}