$icon-sprite: url("../img/iconsprite.png");

.icon {
  background-image: $icon-sprite;
  display: inline-block !important;
  &.icon-spring-logo-mobile {
    background-position: 113px 30px;
    width: 113px;
    height: 30px;
  }
  &.icon-spring-logo-big {
    width: 154px;
    height: 154px;
    background-position: 154px 191px;
  }
  &.project--logo {
    &.logo-spring-framework {
      width: 135px;
      height: 133px;
      background-position: -483px 0;
      margin-top: 2px;
    }
    &.logo-spring-security {
      width: 99px;
      height: 137px;
      background-position: -483px -161px;
    }
    &.logo-spring-data {
      width: 111px;
      height: 111px;
      background-position: -483px -325px;
      margin-top: 13px;
    }
    &.logo-spring-batch {
      width: 104px;
      height: 108px;
      background-position: -641px 0;
      margin-top: 14px;
    }
    &.logo-spring-integration {
      width: 145px;
      height: 104px;
      background-position: -641px -161px;
      margin-top: 16px;
    }
    &.logo-spring-amqp {
      width: 109px;
      height: 98px;
      background-position: -641px -325px;
      margin: 19px;
    }
    &.logo-spring-default {
      width: 100px;
      height: 100px;
      background-position: -805px 0;
      margin-top: 18px;
    }
    &.logo-spring-mobile {
      width: 104px;
      height: 137px;
      background-position: -805px -161px;
    }
    &.logo-spring-android {
      width: 104px;
      height: 126px;
      background-position: -805px -325px;
      margin-top: 10px;
    }
    &.logo-spring-social {
      width: 130px;
      height: 100px;
      background-position: -483px -481px;
      margin-top: 18px;
    }
  }
  &.icon-projects {
    width: 28px;
    height: 28px;
    background-position: -641px -481px;
    &:hover {
      background-position: -641px -521px;
    }
  }
  &.icon-forum {
    width: 32px;
    height: 32px;
    background-position: -409px -450px;
    &:hover {
      background-position: -449px -450px;
    }
  }
  &.icon-current-version {
    height: 13px;
    width: 42px;
    background-position: -284px -520px;
  }
  &.icon-pre-release {
    height: 13px;
    width: 23px;
    background-position: -344px -520px;
  }
  &.icon-ga-release {
    margin-left: 0 !important;
    height: 13px;
    width: 9px;
    background-position: 626px 317px;
    background-color: #6db33f;
    padding: 0 2px;
    border-radius: 10px;
  }
  &.icon-snapshot-release {
    height: 13px;
    width: 46px;
    background-position: 603px 317px;
  }
  &.logo-eclipse-text {
    width: 159px;
    height: 38px;
    background-position: 785px 287px;
  }
  &.icon-social-twitter {
    width: 36px;
    height: 36px;
    background-position: -1px -143px;
    &:hover {
      background-position: -84px -143px;
    }
  }
  &.icon-build-anything {
    width: 107px;
    background-position: 107px 279px;
    height: 88px;
  }
  &.icon-run-anywhere {
    background-position: 120px 344px;
    width: 120px;
    height: 65px;
    margin-top: 11px;
  }
  &.icon-rest-assured {
    background-position: 253px 86px;
    width: 86px;
    height: 86px;
    margin-top: 1px;
  }
  &.icon-community-support {
    width: 97px;
    height: 97px;
    background-position: 257px 185px;
  }
  &.icon-professional-support {
    width: 126px;
    height: 97px;
    background-position: 272px 282px;
  }
  &.icon-gs-guides {
    width: 73px;
    height: 101px;
    background-position: 356px 101px;
  }
  &.icon-tutorial {
    width: 73px;
    height: 101px;
    background-position: 430px 101px;
  }
}
i.icon {
  background-image: none;
}
