$icon-sprite: url("../img/iconsprite.png");

.icon {
  background-image: $icon-sprite;
  display: inline-block !important;
  &.icon-spring-logo-mobile {
    width: 204px;
    height: 60px;
    background-position: 904px 302px;
    margin-top: -13px;
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
  }
  &.icon-spring-logo-big {
    width: 154px;
    height: 154px;
    background-position: 154px 191px;
  }
  &.project--logo {
    &.logo-spring-framework {
      width: 135px;
      height: 133px;
      background-position: 518px 837px;
      margin-top: 2px;
    }
    &.logo-spring-security {
      width: 99px;
      height: 137px;
      background-position: 519px 677px;
    }
    &.logo-spring-data {
      width: 111px;
      height: 111px;
      background-position: 519px 512px;
      margin-top: 13px;
    }
    &.logo-spring-batch {
      width: 104px;
      height: 108px;
      background-position: 360px 837px;
      margin-top: 14px;
    }
    &.logo-spring-integration {
      width: 145px;
      height: 104px;
      background-position: 361px 677px;
      margin-top: 16px;
    }
    &.logo-spring-amqp {
      width: 109px;
      height: 98px;
      background-position: 361px 513px;
      margin: 19px;
    }
    &.logo-spring-default {
      width: 100px;
      height: 100px;
      background-position: -805px 0;
      margin-top: 18px;
    }
    &.logo-spring-mobile {
      width: 104px;
      height: 137px;
      background-position: 196px 677px;
    }
    &.logo-spring-android {
      width: 104px;
      height: 126px;
      background-position: 196px 513px;
      margin-top: 10px;
    }
    &.logo-spring-social {
      width: 130px;
      height: 100px;
      background-position: 518px 357px;
      margin-top: 18px;
    }
    &.logo-spring-hateoas {
      width: 126px;
      height: 99px;
      background-position: 518px 256px;
      margin-top: 19px;
    }
    &.logo-spring-webflow {
      width: 99px;
      height: 99px;
      background-position: 619px 256px;
      margin-top: 19px;
    }
    &.logo-spring-web-services {
      width: 100px;
      height: 100px;
      background-position: 532px 155px;
      margin-top: 19px;
    }
    &.logo-spring-xd {
      width: 104px;
      height: 113px;
      background-position: 247px 837px;
      margin-top: 11px;
    }
    &.logo-spring-boot {
      width: 102px;
      height: 90px;
      background-position: 143px 837px;
      margin-top: 23px;
    }
    &.logo-spring-ldap {
      width: 93px;
      height: 107px;
      background-position: 247px 944px;
      margin-top: 19px;
    }
    &.logo-grails {
      width: 107px;
      height: 100px;
      background-position: 361px 944px;
      margin-top: 23px;
    }
    &.logo-groovy {
      width: 183px;
      height: 92px;
      background-position: 546px 940px;
      margin-top: 23px;
    }
  }
  &.icon-projects {
    width: 28px;
    height: 28px;
    background-position: -641px -481px;
    &:hover {
      background-position: -641px -521px;
    }
  }
  &.icon-forum {
    width: 32px;
    height: 32px;
    background-position: -409px -450px;
    &:hover {
      background-position: -449px -450px;
    }
  }
  &.icon-current-version {
    height: 13px;
    width: 42px;
    background-position: 718px 317px;
  }
  &.icon-pre-release {
    height: 13px;
    width: 23px;
    background-position: 657px 317px;
  }
  &.icon-ga-release {
    margin-left: 0 !important;
    height: 13px;
    width: 9px;
    background-position: 626px 317px;
    background-color: #6db33f;
    padding: 0 2px;
    border-radius: 10px;
  }
  &.icon-snapshot-release {
    height: 13px;
    width: 46px;
    background-position: 603px 317px;
  }
  &.logo-eclipse-text {
    width: 159px;
    height: 38px;
    background-position: 603px 38px;
  }
  &.icon-social-twitter {
    width: 36px;
    height: 36px;
    background-position: -1px -143px;
    &:hover {
      background-position: -84px -143px;
    }
  }
  &.icon-build-anything {
    width: 107px;
    background-position: 107px 279px;
    height: 88px;
  }
  &.icon-run-anywhere {
    background-position: 120px 344px;
    width: 120px;
    height: 65px;
    margin-top: 11px;
  }
  &.icon-rest-assured {
    background-position: 253px 86px;
    width: 86px;
    height: 86px;
    margin-top: 1px;
  }
  &.icon-community-support {
    width: 97px;
    height: 97px;
    background-position: 257px 185px;
    font-size: 0;
  }
  &.icon-professional-support {
    width: 126px;
    height: 97px;
    background-position: 272px 282px;
    font-size: 0;
  }
  &.icon-gs-guides {
    width: 73px;
    height: 101px;
    background-position: 356px 101px;
  }
  &.icon-tutorial {
    width: 73px;
    height: 101px;
    background-position: 430px 101px;
  }
  &.blog-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    &.calendar {
      background-position: 20px 594px;
    }
    &.all-posts{
      background-position: 20px 561px;
    }
    &.broadcasts {
      background-position: 20px 519px;
    }
    &.engineering {
      background-position: 20px 477px;
    }
    &.releases {
      background-position: 20px 433px;
    }
    &.news-and-events {
      background-position: 20px 387px;
    }
  }
  &.about-icon {
    &.team {
      width: 183px;
      height: 127px;
      background-position: 902px 202px;
    }
    &.jobs {
      width: 112px;
      height: 85px;
      background-position: 387px 415px;
      margin: 21px 0;
    }
    &.pivotal {
      width: 93px;
      height: 114px;
      background-position: 387px 329px;
      margin: 6px 0 7px;
    }
  }
}
i.icon {
  background-image: none;
}
