$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$header-bg: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;



body {
  background-color: #f1f1f1;
}

.background-grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -10000px;
  background-image: url("../img/grid30x30.png");
}

.container-fluid {
	max-width: 1224px;
	margin: 0 auto;
}

.title-divider {
  width: 75%;
  height: 5px;
  background-color: #8CC63F;
  margin: 21px 0;
  &.full-width {
    width: 100%;
  }
}

.code-snippet {
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  padding: 12px 18px;
  margin: 15px 0;
  font-size: 13px;
  line-height: 13px;
}

.header--navbar {
  border-top: 4px solid $green;
  margin: 0;
  .navbar-inner {
    background-image: none;
    background-color: $header-bg;
    border: none;
    box-shadow: none;
    position: relative;
    border-radius: 0;
    .spring-logo--container {
      display: inline-block;
      padding: 16px 0;
      .logo-bg {
        width: 37px;
        height: 30px;
        border-radius: 30px;
        margin: 10px 0 0 1px;
        top: 13px;
        background-color: $green;
        position: absolute;
        z-index: 1034;
        opacity: 0;
        transition: opacity 0.15s;
        -webkit-transition: opacity 0.15s;
        -moz-transition: opacity 0.15s;
        -o-transition: opacity 0.15s;
        -ms-transition: opacity 0.15s;
      }
      .spring-logo {
        background-image: url("../img/iconsprite.png");
        width: 153px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 2230px;
        background-position: -1px -1px;
        position: absolute;
        z-index: 1035;
      }
      &:hover {
        .logo-bg {
          opacity: 1;
        }
      }
    }
    .nav {
      .navbar-link {
        &.active a {
          background-color: $green;
          box-shadow: none;
        }
        a {
          color: $off-white;
          font-family: $secondary-font-family;
          text-transform: uppercase;
          text-shadow: none;
          font-size: 14px;
          line-height: 15px;
          padding: 30px 20px;
          transition: all 0.15s;
          -webkit-transition: all 0.15s;
          -moz-transition: all 0.15s;
          -o-transition: all 0.15s;
          -ms-transition: all 0.15s;
        }
        &:hover a {
          color: $off-white;
          background-color: $green;
        }
      }
      .nav-search {
        padding: 19px 0;
        &:hover {
          .header-nav-search--icon {
            text-shadow: 0 0 10px $green;
          }
          .header-nav-search--container.js-open .header-nav-search--icon {
            text-shadow: none;
          }
        }
        form {
          margin: 0;
        }
      }
    }
    .header-nav-search--container {
      padding: 3px 6px;
      .header-nav-search--icon {
        color: $off-white;
        font-size: 24px;
        padding: 3px 0 3px 12px;
        cursor: pointer;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
      }
      .header-nav-search--input {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        width: 0px;
        font-size: 14px;
        height: 26px;
        color: transparent;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        -ms-transition: width 0.5s;
        &::-webkit-input-placeholder {
          color: transparent;
        }
        &:-moz-placeholder {
          color: transparent;
        }
        &::-moz-placeholder {
          color: transparent;
        }
        &:-ms-input-placeholder {
          color: transparent;
        }
      }
      &.js-open {
        background-color: #fff;
        margin: 0 0 0 12px;
        .header-nav-search--input {
          width: 350px;
          color: #666;
          &::-webkit-input-placeholder {
            color: #999;
          }
          &:-moz-placeholder {
            color: #999;
          }
          &::-moz-placeholder {
            color: #999;
          }
          &:-ms-input-placeholder {
            color: #999;
          }
        }
        .header-nav-search--icon {
          color: #333;
          border: none;
          padding: 0 6px 0 0;
          margin: 0;
        }
      }
    }
  }
}

.right-pane-widget--container {
  border: 1px solid #ccc;
  box-shadow: 0 -4px 0 $header-bg;
  margin: 4px 0 40px 0;
  li {
    display: block;
    padding: 12px 20px;
    border-top: 1px solid white;
    font-size: 16px;
    line-height: 16px;
    a {
      font-size: 14px;
      text-transform: uppercase;
      color: #888;
    }
    & [class^=icon-] {
      font-size: 16px;
    }
    &:first-child {
      border-bottom: none;
    }
    &.active a {
      font-weight: bold;
      color: $header-bg;
    }
  }
}

.header--content {
  background-color: $medium-grey;
  padding: 60px 0;
  .header--content-subtitle--link {
    color: $lime;
    &:hover {
      text-decoration: none;
      color: $leaf;
    }
  }
}

.body--container {
	margin-top: 100px;
}

.row--container {
  margin-bottom: 60px;
}

.body--container--row {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.body--container--link {
  color: $slate;
  &:hover {
    color: darken($lime, 15%);
    text-decoration: none;
  }
  &.bold {
    font-weight: bold;
  }
}

.list-link--container {
  margin: 0;
  .list-link {
    display: block;
    a, div {
      color: #333;
      cursor: pointer;
      &:hover {
        color: $lime;
        text-decoration: none;
      }
    }
  }
}

.popover {
  border-radius: 1px;
  padding: 0;
  &.right {
    margin-top: 46px;
    .arrow {
      top: 14px;
      border-right-color: $lime;
      left: -8px;
      &:after {
        border-right-color: $lime;
      }
    }
  }
  &.bottom {
    margin-top: 5px;
    .arrow {
      border-bottom-color: $lime;
      top: -9px;
      left: 15%;
      &:after {
        border-bottom-color: $lime;
      }
    }
  }
  .popover-title {
    border-radius: 1px 1px 0 0;
    background-color: $lime;
    color: white;
  }
  .popover-content {
    border-radius: 0 0 1px 1px;
  }
}

input.floating-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $medium-grey;
	box-shadow: none;
	border-radius: 0;
	padding: 0 0 0 0;
	&:focus {
		border: none;
		border-bottom: 1px solid $medium-grey;
		box-shadow: none;
		background: $light-grey;
	}
}

.floating-input--icon {
  font-size: 16px;
  color: darken($medium-grey, 10%);
}

.bottom-slide--container {
  height: 190px;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgba(204, 204, 204, 1);
  border: 1px solid darken($medium-grey, 10%);
  box-shadow: 1px 2px 3px rgba(204, 204, 204, 0.5);

  .bottom-slider--image {
    background-image: url("http://imgs.mi9.com/uploads/landscape/2101/beautiful-leaf-wallpapers_1280x960_28083.jpg");
    background-size: cover;
    height: 137px;

    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
  }
  .bottom-slider {
    background-color: $light-grey;
    padding: 15px 10px;
    border-top: 1px solid darken($medium-grey, 25%);
    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
    .bottom-slider--title {
      display: inline-block;
      max-width: 360px;
      line-height: 14px;

    }
    .bottom-slider--icon {
      color: #333;
      font-size: 27px;
      line-height: 22px;
      font-size: 27px;
    }
    .bottom-slider--more-info {
      opacity:0;
    }
  }
  &:hover {
    .bottom-slider--image {
      transform: translateY(-26px);
      -webkit-transform: translateY(-26px);
      -moz-transform: translateY(-26px);
      -o-transform: translateY(-26px);
      -ms-transform: translateY(-26px);
    }
    .bottom-slider {
      transform: translateY(-53px);
      -webkit-transform: translateY(-53px);
      -moz-transform: translateY(-53px);
      -o-transform: translateY(-53px);
      -ms-transform: translateY(-53px);
    }
    .bottom-slider--more-info {
      opacity: 1;
    }
  }
}

.dashboard--posts {
  tr:hover {
    .actions {
      visibility: visible;
    }
  }

  .actions {
    visibility: hidden;
    form {
      display: inline;
    }
  }
}

.gh-project-url--container {
  background-color: #FFF;
  border: 1px solid #CCC;
  height: 20px;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 12px 0;
  input {
    width: 87%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }
  .icon--pull-right {
    float: right;
    margin-top: 2px;
    cursor: pointer;
  }
}

.btn--full-width {
  display: block;
}

.footer {
  background-color: $header-bg;
  color: $off-white;
  padding: 30px 0;
  a {
    color: $green;
  }
  .nav li {
    a {
      color: $off-white;
      text-shadow: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 17px;
      &:hover {
        color: $green;
      }
    } 
    &:first-child a {
      padding-left: 0;
    }
  }
  .footer-newsletter--container {
    label {
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .footer-subscribe--input--container {
      background-color: white;
      border: 1px solid #f1f1f1;
      .footer-subscribe--input {
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: 12px;
        margin-left: 10px;

      }
      .footer-subscibe--btn {
        text-transform: uppercase;
        background-color: $green;
        background-image: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        color: $off-white;
        text-shadow: none;
        font-size: 12px;
        padding: 9px 16px;
      }
    }
  }
}

