$off-white: #FCFAFB;
$black-green: #3A3C2F; 
$lime: #7E9456;
$leaf: #4E681E;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #1F2D36;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;




body {
  background-color: $off-white;
}

.container-fluid {
	max-width: 1224px;
	margin: 0 auto;
}

.header--navbar {
  margin-bottom: 60px;
  box-shadow: 0 1px 3px rgba(153, 153, 153, 0.75);
  .navbar-inner {
    background-image: url("../img/pattern-blinding-dark-blue.png");
    border: none;
    .spring-logo {
      background-image: url("../img/icon-spring-logo-white.png");
      width: 120px;
      height: 34px;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: all 0.15s;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      -ms-transition: all 0.15s;
      &:hover {
        background-image: url("../img/icon-spring-logo-green.png");
      }
      &.brand {
        padding: 0;
        margin: 8px 0;
      }
    }
    .nav .navbar-link {
      padding: 13px 15px 0;
      &.active a {
        background-color: transparent;
        border-bottom: 3px solid $off-white;
      }
      a {
        color: $off-white;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: none;
        font-size: 11px;
        transition: all 0.15s;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -o-transition: all 0.15s;
        -ms-transition: all 0.15s;
        padding: 0 1px 2px;
      }
      &:hover a {
        color: $off-white;
        border-bottom: 3px solid $off-white;
      }
    }
    .nav-search {
      color: $off-white;
      padding: 15px 0;
      form {
        border-left: 1px solid white;
        padding-left: 10px;
        margin-bottom: 0;
      }
      .icon-search {
        font-size: 18px;
        background-color: transparent;
        color: white;
        border: none;
      }
    }
  }
}



.header--container {
  background-color: $medium-grey;
  padding: 60px 0;
  margin-top: 50px;
  .header--content-subtitle--link {
    color: $lime;
    &:hover {
      text-decoration: none;
      color: $leaf;
    }
  }
}

.body--container {
	padding: 60px 0;
	&.with-filter {
		padding-top: 30px;
		.filter--container {
			margin-bottom: 30px;
		}
	}
}

.row--container {
  margin-bottom: 60px;
}

.body--container--row {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.body--container--link {
  color: $leaf;
  &:hover {
    color: $lime;
    text-decoration: none;
  }
  &.bold {
    font-weight: bold;
  }
}

.list-link--container {
  margin: 0;
  .list-link {
    display: block;
    a {
      color: #333;
      &:hover {
        color: $lime;
        text-decoration: none;
      }
    }
  }
}

.popover {
  border-radius: 1px;
  padding: 0;
  &.right {
    margin-top: 46px;
    .arrow {
      top: 14px;
      border-right-color: $lime;
      left: -8px;
      &:after {
        border-right-color: $lime;
      }
    }
  }
  &.bottom {
    .arrow {
      border-bottom-color: $lime;
      top: -9px;
      &:after {
        border-bottom-color: $lime;
      }
    }
  }
  .popover-title {
    border-radius: 1px 1px 0 0;
    background-color: $lime;
    color: white;
  }
  .popover-content {
    border-radius: 0 0 1px 1px;
  }
}

input.floating-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $medium-grey;
	box-shadow: none;
	border-radius: 0;
	padding: 0 0 0 0;
	&:focus {
		border: none;
		border-bottom: 1px solid $medium-grey;
		box-shadow: none;
		background: $light-grey;
	}
}

.floating-input--icon {
  font-size: 16px;
  color: darken($medium-grey, 10%);
}

.bottom-slide--container {
  height: 190px;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgba(204, 204, 204, 1);
  border: 1px solid darken($medium-grey, 10%);
  box-shadow: 1px 2px 3px rgba(204, 204, 204, 0.5);

  .bottom-slider--image {
    background-image: url("http://imgs.mi9.com/uploads/landscape/2101/beautiful-leaf-wallpapers_1280x960_28083.jpg");
    background-size: cover;
    height: 137px;

    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
  }
  .bottom-slider {
    background-color: $light-grey;
    padding: 15px 10px;
    border-top: 1px solid darken($medium-grey, 25%);
    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
    .bottom-slider--title {
      display: inline-block;
      max-width: 360px;
      line-height: 14px;

    }
    .bottom-slider--icon {
      color: #333;
      font-size: 27px;
      line-height: 22px;
      font-size: 27px;
    }
    .bottom-slider--more-info {
      opacity:0;
    }
  }
  &:hover {
    .bottom-slider--image {
      transform: translateY(-26px);
      -webkit-transform: translateY(-26px);
      -moz-transform: translateY(-26px);
      -o-transform: translateY(-26px);
      -ms-transform: translateY(-26px);
    }
    .bottom-slider {
      transform: translateY(-53px);
      -webkit-transform: translateY(-53px);
      -moz-transform: translateY(-53px);
      -o-transform: translateY(-53px);
      -ms-transform: translateY(-53px);
    }
    .bottom-slider--more-info {
      opacity: 1;
    }
  }
}

.dashboard--posts {
  tr:hover {
    .actions {
      visibility: visible;
    }
  }

  .actions {
    visibility: hidden;
    form {
      display: inline;
    }
  }
}

