$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");

//making stuff not responsive
.container-fluid {
  width: 1024px !important;
}
.navbar-inner, .search-dropdown--container, footer, .team-map--wrapper {
  min-width: 1024px;
}



body {
  background-color: #f1f1f1;
}

#scrim {
  display: none;
  &.js-show {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 700;
  }
}

.container-fluid {
  max-width: 1024px;
  margin: 0 auto;
}

.title-divider {
  width: 75%;
  height: 5px;
  background-color: #8CC63F;
  margin: 21px 0;
  &.full-width {
    width: 100%;
  }
}

.code-snippet {
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  padding: 12px 18px;
  margin: 15px 0;
  font-size: 13px;
  line-height: 13px;
}

.header--navbar {
  margin: 0;
  .navbar-inner {
    position: absolute;
    z-index: 999;
    background-image: none;
    background-color: $black-brown;
    border: none;
    border-top: 4px solid $green;
    box-shadow: none;
    position: relative;
    border-radius: 0;
    .spring-logo--container {
      display: inline-block;
      padding: 15px 0;
      .logo-bg {
        width: 37px;
        height: 30px;
        border-radius: 30px;
        margin: 10px 0 0 1px;
        top: 13px;
        background-color: $green;
        position: absolute;
        z-index: 1034;
        opacity: 0;
        transition: opacity 0.15s;
        -webkit-transition: opacity 0.15s;
        -moz-transition: opacity 0.15s;
        -o-transition: opacity 0.15s;
        -ms-transition: opacity 0.15s;
      }
      .spring-logo {
        background-image: $icon-sprite;
        width: 153px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 2230px;
        background-position: -1px -1px;
        position: absolute;
        z-index: 1035;
      }
      &:hover {
        .logo-bg {
          opacity: 1;
        }
      }
    }
    .navbar-link {
      &.active a {
        background-color: $green;
        box-shadow: none;
      }
      a {
        color: $off-white;
        font-family: $secondary-font-family;
        text-transform: uppercase;
        text-shadow: none;
        font-size: 14px;
        line-height: 14px;
        padding: 28px 20px;
        transition: all 0.15s;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -o-transition: all 0.15s;
        -ms-transition: all 0.15s;
      }
      &:hover a {
        color: $off-white;
        background-color: $green;
      }
      &.nav-search {
        padding: 20px 0 23px;
        .navbar-search--icon {
          color: $off-white;
          font-size: 24px;
          padding: 3px 16px 3px 18px;
          cursor: pointer;
        }
        &:hover .navbar-search--icon {
          text-shadow: 0 0 10px #6db33f;
        }
        .search-input-close {
          display: none;
        }
        &.js-highlight {
          background-color: $green;
          .navbar-search--icon {
            display: none;
          }
          .search-input-close {
            display: inline-block;
            color: $off-white;
            padding: 4px 24px 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .search-dropdown--container {
    position: absolute;
    z-index: 998;
    margin-top: -90px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    border-bottom: 1px solid #ddd;
    transition: margin 0.25s;
    -webkit-transition: margin 0.25s;
    -moz-transition: margin 0.25s;
    -o-transition: margin 0.25s;
    -ms-transition: margin 0.25s;
    &.no-animation {
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
    }
    .form-search {
      margin: 0;
      .search-form--form {
        background: rgba(0, 0, 0, 0);
        border: none;
        box-shadow: none;
        color: #34302D;
        font-size: 21px;
        line-height: 29px;
        height: 30px;
        padding: 25px 0;
        width: 93%;
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &:-moz-placeholder {
          font-style: italic;
        }
        &::-moz-placeholder {
          font-style: italic;
        }
        &:-ms-input-placeholder {
          font-style: italic;
        }
      }
      .search-form--submit {
        background-color: transparent;
        border: none;
        float: right;
        padding: 28px 16px 24px 0;
      }
      .icon-search {
        font-size: 22px;
        color: $black-brown;
      }
    }
    &.js-show {
      margin-top: 0;
    }
  }
}



.right-pane-widget--container {
  border: 1px solid #ccc;
  box-shadow: 0 -4px 0 $black-brown;
  margin: 4px 0 40px 0;
  li {
    display: block;
    padding: 12px 6.2%;
    line-height: 14px;
    border-top: 1px solid white;
    & [class^=icon-] {
      font-size: 16px;
    }
    a {
      font-size: 14px;
      line-height: 14px;
      color: $link-green;
    }
    &:first-child {
      border-bottom: none;
    }
  }
  &.secondary-nav {
    li {
      a {
        text-transform: uppercase;
        color: #888;
      }
      &.active a {
        font-weight: bold;
        color: $black-brown;
      }
    }
  }
}

.header--content {
  background-color: $medium-grey;
  padding: 60px 0;
  .header--content-subtitle--link {
    color: $lime;
    &:hover {
      text-decoration: none;
      color: $leaf;
    }
  }
}

.body--container {
	margin-top: 100px;
  margin-bottom: 100px;
}

.row--container {
  margin-bottom: 60px;
}

.body--container--row {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.body--container--link {
  color: $slate;
  &:hover {
    color: darken($lime, 15%);
    text-decoration: none;
  }
  &.bold {
    font-weight: bold;
  }
}

.list-link--container {
  margin: 0;
  .list-link {
    display: block;
    a, div {
      color: #333;
      cursor: pointer;
      &:hover {
        color: $lime;
        text-decoration: none;
      }
    }
  }
}

.popover {
  border-radius: 1px;
  padding: 0;
  &.right {
    margin-top: 46px;
    .arrow {
      top: 14px;
      border-right-color: $lime;
      left: -8px;
      &:after {
        border-right-color: $lime;
      }
    }
  }
  &.bottom {
    margin-top: 5px;
    .arrow {
      border-bottom-color: $lime;
      top: -9px;
      left: 15%;
      &:after {
        border-bottom-color: $lime;
      }
    }
  }
  .popover-title {
    border-radius: 1px 1px 0 0;
    background-color: $lime;
    color: white;
  }
  .popover-content {
    border-radius: 0 0 1px 1px;
  }
}

input.floating-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $medium-grey;
	box-shadow: none;
	border-radius: 0;
	padding: 0 0 0 0;
	&:focus {
		border: none;
		border-bottom: 1px solid $medium-grey;
		box-shadow: none;
		background: $light-grey;
	}
}

.floating-input--icon {
  font-size: 16px;
  color: darken($medium-grey, 10%);
}

.bottom-slide--container {
  height: 190px;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgba(204, 204, 204, 1);
  border: 1px solid darken($medium-grey, 10%);
  box-shadow: 1px 2px 3px rgba(204, 204, 204, 0.5);

  .bottom-slider--image {
    background-image: url("http://imgs.mi9.com/uploads/landscape/2101/beautiful-leaf-wallpapers_1280x960_28083.jpg");
    background-size: cover;
    height: 137px;

    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
  }
  .bottom-slider {
    background-color: $light-grey;
    padding: 15px 10px;
    border-top: 1px solid darken($medium-grey, 25%);
    transition: all 0.33s;
    -wekit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -o-transition: all 0.33s;
    -ms-transition: all 0.33s;
    .bottom-slider--title {
      display: inline-block;
      max-width: 360px;
      line-height: 14px;

    }
    .bottom-slider--icon {
      color: #333;
      font-size: 27px;
      line-height: 22px;
      font-size: 27px;
    }
    .bottom-slider--more-info {
      opacity:0;
    }
  }
  &:hover {
    .bottom-slider--image {
      transform: translateY(-26px);
      -webkit-transform: translateY(-26px);
      -moz-transform: translateY(-26px);
      -o-transform: translateY(-26px);
      -ms-transform: translateY(-26px);
    }
    .bottom-slider {
      transform: translateY(-53px);
      -webkit-transform: translateY(-53px);
      -moz-transform: translateY(-53px);
      -o-transform: translateY(-53px);
      -ms-transform: translateY(-53px);
    }
    .bottom-slider--more-info {
      opacity: 1;
    }
  }
}

.dashboard--posts {
  tr:hover {
    .actions {
      visibility: visible;
    }
  }

  .actions {
    visibility: hidden;
    form {
      display: inline;
    }
  }
}

.gh-project-url--container {
  background-color: #FFF;
  border: 1px solid #CCC;
  height: 20px;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 12px 0;
  input {
    width: 87%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }
  .icon--pull-right {
    float: right;
    margin-top: 2px;
    cursor: pointer;
  }
}

.btn--full-width {
  display: block;
}


// GENERAL CONTENT STYLES

.content--title {
  display: inline-block;
  border-top: 3px solid $green;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-top: 8px;
  position: absolute;
  margin-top: -30px;
  font-family: $secondary-font-family;
  &.search-title {
    position: relative;
  }
}

.index-page--title {
  margin-bottom: 30px;
  line-height: 24px;
}

.index-page--subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
  a {
    color: $link-green;
  }
}

//SEARCH RESULT STYLES
.search-result--title {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: $secondary-font-family;
  margin-bottom: 6px;
  color: $link-green;
  &:hover {
    color: $link-green;
  }
}
.search-result--summary {
  font-size: 14px;
  line-height: 18px;
  font-family: $secondary-font-family;
  margin-bottom: 30px;
  em {
    font-weight: bold;
    font-style: normal;
    color: black;
  }
}


//FOOTER
.footer {
  background-color: $black-brown;
  color: $off-white;
  padding: 30px 0;
  a {
    color: $green;
  }
  .nav {
    margin-bottom: 12px;
    li {
      a {
        color: $off-white;
        text-shadow: none;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        padding: 0 17px;
        &:hover {
          color: $green;
        }
      } 
      &:first-child a {
        padding-left: 0;
      }
    }
  }
  .footer-newsletter--wrapper {
    width: auto;
    margin: 0;
  }
  .footer-newsletter--container {
    form {
      margin: 0;
    }
    label {
      text-transform: uppercase;
      margin-bottom: 15px;
      line-height: 12px;
      font-weight: bold;
      font-size: 12px;
    }
    .footer-subscribe--input--container {
      background-color: white;
      border: 1px solid #f1f1f1;
      .footer-subscribe--input {
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      }
      .footer-subscibe--btn {
        text-transform: uppercase;
        background-color: $green;
        background-image: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        color: $off-white;
        text-shadow: none;
        font-size: 12px;
        padding: 9px 16px;
      }
    }
  }
}

.item-dropdown-widget {
  text-align: left;
  z-index: 800;
  position: relative;
  .item-dropdown--link {
    cursor: pointer;
    .item-dropdown--title {
      padding: 14px 0 14px 20px;
      font-size: 14px;
      line-height: 14px;
    }
    .item-dropdown--icon {
      color: #cbcaca;
      padding: 14px;
      margin: 0;
    }
    &:hover {
      .item-dropdown--title, .item-dropdown--icon {
        color: $link-green;
      }
    }
  }
  .item--dropdown {
    display: none;
  }
  &.js-open {
    z-index: 801;
    .item-dropdown--title {
      color: #f1f1f1;
      background-color: $green;
      position: relative;
      z-index: 802;
    }
    .item-dropdown--icon {
      color: #dddddd;
      background-color: $black-brown;
      position: relative;
      z-index: 803;
    }
    .item--dropdown {
      display: block;
    }
    .item-dropdown--link:hover {
      .item-dropdown--title {
        color: #f1f1f1;
      }
      .item-dropdown--icon {
        color: #ddd;
      }
    }
  }
}




// OPENS AND CLOSES DOCUMENTATION DROPDOWN
// .js-documentation--item {
//   .item--dropdown {
//     display: none;
//   }
//   &.js-open {
//     z-index: 801;
//     .item--title {
//       color: #f1f1f1;
//       background-color: $green;
//       position: relative;
//       z-index: 802;
//     }
//     .item--icon {
//       color: #dddddd;
//       background-color: $black-brown;
//       position: relative;
//       z-index: 803;
//     }
//     .item--dropdown {
//       display: block;
//     }
//   }
// }

.item--dropdown {
  position: absolute;
  background-color: $black-brown;
  padding: 20px;
  width: 255px;
  z-index: 999;

  border: 1px solid $off-white;
  border-top: none;
  margin-left: -1px;
  .item--header{
    padding-bottom: 20px;
    border-bottom: 1px solid #cccbca;
    .item--header-link {
      color: $green;
      & [class^=icon-] {
        color: #93918f;
        font-size: 20px;
        vertical-align: middle;
        padding-right: 10px;
      }
      &:hover {
        text-decoration: none;
        color: lighten($green, 5%);
        & [class^=icon-] {
          color: #f1f1f1;
        }
      }
    }
  }
  .item--left-column, .item--right-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  .item--half-column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    &:first-child {
      .item--body-title, .item--body--version {
        padding-right: 15px;
      }
    }
    &:nth-child(2) {
      .item--body-title, .item--body--version {
        padding-left: 15px;
      }
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
  }
  .item--body-title {
    padding: 30px 0 15px 0;
    color: #f1f1f1;
    border-bottom: 1px solid #4a4440;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }
  .item--body {
    .item--body--version {
      border-bottom: 1px solid #4a4540;
      padding: 7px 0;
      p {
        color: #f1f1f1;
        font-size: 14px;
        line-height: 19px;
      }
      .documentation-link {
        display: inline-block;
        color: $green;
        &:hover {
          color: lighten($green, 5%);
        }
        &.reference-link {
          border-right: 1px solid #4a4540;
          padding-right: 10px;
          margin-right: 5px;
        }
      }
    }
  }
  &.no-item--header {
    .item--body-title {
      padding-top: 0;
      border-bottom: 1px solid #cccbca;
    }
    .tool-download-link {
      .file-type {
        color: $link-green;
        line-height: 14px;
        font-size: 14px;
        display: inline-block;
      }
      .file-size {
        color: #6c635d;
        font-size: 12px;
        float: right;
      }
    }
  }
}



.search-facets {
  > ul {
    margin-left: 0px;
  }
  ul {
    list-style-type: none;
  }
}
