$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");

.projects--wrapper {
  margin-left: -8px;
  .project--container {
    border: 1px solid $black-brown;
    display: inline-block;
    width: 286px;
    height: 338px;
    margin: 0 6px 20px 6px;
    vertical-align: top;
    text-align: center;
    padding: 30px 20px;
    .project-logo--container {
      margin-bottom: 25px;
      height: 137px;
      vertical-align: middle;
      .project--logo {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .project--title {
      font-family: $secondary-font-family;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .project--description {
      font-size: 14px;
      line-height: 20px;
    }
    .project-links--container {
      position: absolute;
      background-color: rgba(109, 179, 63, 0.95);
      padding: 13px 0;
      width: 326px;
      margin: 127px 0 0 -20px;
      height: 58px;
      opacity: 0;
      transition: opacity 0.15s;
      -webkit-transition: opacity 0.15s;
      -moz-transition: opacity 0.15s;
      -o-transition: opacity 0.15s;
      -ms-transition: opacity 0.15s;
      .project-link {
        display: inline-block;
        margin: 0 15px;
        [class^=icon-] {
          font-size: 34px;
          width: 34px;
          height: 34px;
          color: rgba(241, 241, 241, 0.75);
        }
        p {
          margin: 6px 0;
          color: rgba(241, 241, 241, 0.75);
          font-size: 14px;
          line-height: 14px;
        }
        &:hover {
          text-decoration: none;
          [class^=icon-] {
            color: white;
          }
        }
      }
    }
    &:hover {
      .project-links--container {
        opacity: 1;
      }
    }
    &.parent-project {
      .child-project-count--wrapper {
        float: right;
        .child-project-count--number {
          position: relative;
          z-index: 101;
          color: #f1f1f1;
          margin: -22px -9px 0 9px;
        }
        .child-project-count--background {
          position: absolute;
          margin: -54px 0 0 -5px;
          z-index: 100;
          width: 0; 
          height: 0; 
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 40px solid $green;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
        }
      }
    }
    &.full-width {
      background-color: #ddd;
      border-color: white;
      display: block;
      height: auto;
      width: auto;
      text-align: left;
      padding-bottom: 60px;
      .project--title {
        margin-bottom: 10px;
      }
      .project--description {
        margin-bottom: 20px;
      }
      .project--link {
        color: $link-green;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  &.project-aggregator {
    .project--container {
      height: 160px;
      .project-links--container {
        margin-top: 42px;
      }
    }
  }
}

.project-header--wrapper {
  .billboard--container {
    margin-top: 60px;
  }
  .content--title {
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    a {
      color: #f1f1f1;
    }
  }
  .project--title {
    font-family: $secondary-font-family;
    font-size: 24px; 
    line-height: 24px;
    color: #ebf1e7;
  }
  .project--links--container {
    float: right;
    margin-top: -2px;
    .project-link {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      [class^=icon-] {
        font-size: 37px;
        width: 34px;
        height: 34px;
        color: #d4d4d4;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        text-decoration: none;
        [class^=icon-] {
          color: $green;
        }
      }
      div.icon {
        margin-top: 3px;
      }
    }
  }
  .project--description {
    color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    a {
      color: $link-green;
    }
  }
  .project-quickstart-btn {
    margin-top: 40px;
  }
  .billboard-bg {
    background-color: #666;
    .billboard-icon {
      width: 330px;
      height: 364px;
      position: absolute;
      right: 0;
      margin-top: 25px;
      opacity: 0.5;
      &.icon-spring-data-large {
        background-image: url("../img/icon-spring-data-large.png");
      }
    }
  }
}

.project-body--container {
  .project-body--section {
    margin-bottom: 30px;
    padding-right: 20px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    li {
      padding: 5px 0;
    }
    .underlined-title {
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    h3 {
      font-family: $secondary-font-family;
      font-weight: bold;
    }
    pre {
      border-radius: 0;
    }
  }
}

.quickstart--container {
  border: 1px solid $black-brown;
  .quickstart--title {
    font-family: $secondary-font-family;
    color: #f1f1f1;
    background-color: $black-brown;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 0;
    width: 211px;
    text-align: center;
    display: inline-block;
  }
  .quickstart--dropdown {
    display: inline-block;
    width: 34.6%;
    margin-left: 16px;
    .item-dropdown--title {
      padding: 9px 0 7px 20px;
      border: 1px solid $black-brown;
      .icon {
        margin: -3px 0 0 6px;
        vertical-align: middle;
      }
    }
    .item-dropdown--icon {
      padding: 9px;
      background-color: $black-brown;
    }
    .project-version--dropdown {
      width: 100%%;
      padding: 0;
      .project-version {
        color: #f1f1f1;
        padding: 8px 20px;
        border-top: 1px solid #4a4440;
        cursor: pointer;
        .icon {
          margin: -3px 0 0 6px;
          vertical-align: middle;
        }
        &.active {
          background-color: black;
          border-color: transparent;
          &:hover {
            background-color: black;
          }
        }
        &:first-child {
          border: none;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    &.js-open {
      .item-dropdown--title {
        border: 1px solid $green;
      }
    }
    &:hover {
      .item-dropdown--icon {
        color: white;
      }
    }
  }
  .quickstart--body {
    padding: 20px;
  }
}

.project-documentation--container {
  border-color: $black-brown;
  .item-dropdown--title {
    background-color: transparent;
    border-bottom: 1px solid $black-brown;
    padding: 20px;
    font-family: $secondary-font-family;
    font-size: 14px;
    line-height: 14px;
  }
  .item--dropdown {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    .item--body-title {
      padding-top: 15px;
      color: $black-brown;
      margin: 0 20px;
      border-color: #d7d5d3;
    }
    .item--body--version {
      margin: 0 20px;
      border-color: #d7d5d3;
      p {
        color: $black-brown;
        display: inline-block
      }
      .icon {
        vertical-align: top;
        margin: 2px 0 0 6px;
        &.icon-pre-release {
          background-color: $black-brown;
          border-radius: 2px;
        }
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

.project-sub-link--wrapper {
  padding: 20px 20px 18px;
  .project-sub-link {
    background-color: #cbcaca;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 2.9%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.project-additional-resource--wrapper {
  padding: 20px;
  h3 {
    margin: 5px 0;
  }
  ul {
    margin: 0 0 25px 0;
    li {
      border: none;
      padding: 5px 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.github-fork-ribbon--wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  margin-top: -102px;
  z-index: 9999;
  right: 0;
  .github-fork-ribbon {
    position: absolute;
    padding: 2px 0;
    background-color: $black-brown;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    z-index: 9999;
    top: 42px;
    right: -43px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #f1f1f1;
      text-decoration: none;
      text-shadow: 0 -1px rgba(0,0,0,0.5);
      text-align: center;
      width: 200px;
      line-height: 20px;
      display: inline-block;
      padding: 2px 0;
      border: 1px dotted rgba(255,255,255,0.75);
      border-width: 1px 0;
      i {
        font-size: 23px;
        vertical-align: middle;
        margin: 0 3px 0 0;
        color: black;
      }
    }
  }
}
