$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");


.team-map--wrapper {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  #map {
    height: 425px;
    border-bottom: 1px solid $black-brown;
    &.placeholder-bg {
      background: url("../img/carousel-laptop-bg.png") no-repeat;
      background-size: cover;
    }
  }
  .team-map--container {
    position: absolute;
    z-index: 600;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    margin-top: 212px;
    .team-map--title, .team-map--subtitle {
      background: rgba(52, 48, 45, 0.8);
      color: $off-white;
      display: inline-block;
    }
    .team-map--title {
      font-size: 48px;
      line-height: 68px;
      font-family: $secondary-font-family;
      padding: 0 15px;
      letter-spacing: -2px;
    }
    .team-map--subtitle {
      font-size: 18px;
      line-height: 18px;
      padding: 12px 19px;
      &.subtitle-bottom {
        padding-top: 0;
      }
    }
  }
  .team-member--container {
    position: absolute;
    z-index: 600;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    .content--title {
      color: #ebf1e7;
    }
    .team-member--avatar {
      border: 10px solid rgba(52, 48, 45, 0.75);
    }
    .team-member-info--container {
      padding: 40px;
      background-color: rgba(52, 48, 45, 0.75); 
      color: #ebf1e7;
      height: 190px;
      .team-member-social {
        .team-member--social--icon {
          opacity: 0.8;
          margin-right: 10px;
          &:last-child {
            margin: 0;
          }
        }
      }
      .team-member--name {
        color: #ebf1e7;
        line-height: 24px;
      }
      .team-member--sub-info {
        margin-top: 6px;
        p {
          font-size: 14px;
          line-height: 21px;
          color: white;
        }
      }
      .team-member--bio {
        margin-top: 20px;
        color: #ebf1e7;
        max-height: 120px;
        overflow: hidden;
      }
    }
  }
}



.team-members--wrapper {
  margin-top: 326px;
  .team-member--container {
    background-color: white;
    border: 1px solid $off-white;
    display: inline-block;
    float: left;
    padding: 10px;
    width: 319px;
    .team-member--avatar {
      display: inline-block;
      img {
        display: inline-block;
        margin-right: 13px;
      }
    }
    .team-member--info {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      width: 149px;
      .team-member--name {
        color: $link-green;
        font-size: 16px;
        line-height: 16px;
        width: 149px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .team-member--bio {
        margin-top: 6px;
        height: 61px;
        p {
          font-size: 14px;
          line-height: 18px;
          &.team-member--position {
            max-height: 36px;
            overflow: hidden;
            margin-bottom: 5px;
          }
          &.team-member--location {
            width: 149px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .team-member--social {
        margin-top: 12px;
      }
    }
  }
  .content-items--container  {
    padding: 40px;
  }
  .member-post--container {
    .member-post--title {
      margin-top: 40px;
      
    }
    .member-post--summary p {
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0 20px;
      &:first-child {
        margin: 20px 0 10px;
      }
    }
    &:first-child {
      border-bottom: 1px solid white;
      padding-bottom: 40px;
      .member-post--title {
        margin-top: 0;
      }
    }    
  }

  .blog-preview--readmore {
    color: $link-green;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
  &.with-padding {
    padding-top: 100px;
  }
}

.team-member--social--icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: $icon-sprite;
  &.twitter-small {
    background-position: -314px -452px;
    &:hover {
      background-position: -314px -486px;
    }
  }
  &.github-small {
    background-position: -344px -452px;
    &:hover {
      background-position: -344px -486px;
    }
  }
  &.speakerdeck-small {
    background-position: -374px -452px;
    &:hover {
      background-position: -374px -486px;
    }
  }
  &.lanyrd-small {
    background-position: -284px -452px;
    &:hover {
      background-position: -284px -486px;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}


.member-twitter--wrapper {
  width: 270px;
  border: 1px solid $black-brown;
  .member-twitter--header {
    background-color: $black-brown;
    padding: 15px 20px;
    .twitter-handle {
      color: $off-white;
      display: inline-block;
    }
    .twitter-follow-btn {
      border: 2px solid $green;
      color: $off-white;
      font-size: 12px;
      line-height: 12px;
      padding: 6px 9px;
      float: right;
      margin-top: -4px;
      transition: background-color 0.15s;
      -webkit-transition: background-color 0.15s;
      -moz-transition: background-color 0.15s;
      -ms-transition: background-color 0.15s;
      -o-transition: background-color 0.15s;
      .icon-twitter {
        color: #d4d4d6;
        margin-right: 3px;
      }
      &:hover {
        background-color: $green;
        text-decoration: none;
        color: white;
        .icon-twitter {
          color: white;
        }
      }
      &:active {
        background-color: $green;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        border: none;
        padding: 8px 11px;
      }
    }
  }
  .member-twitter--body {
    padding: 0 20px;
  }
}

