$off-white: #eee;
$black-green: #3A3C2F; 
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");


.team-map--wrapper {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  #map {
    height: 425px;
    border-bottom: 1px solid $black-brown;
  }
  .team-map--container {
    position: absolute;
    z-index: 600;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    margin-top: 212px;
    .team-map--title, .team-map--subtitle {
      background: rgba(52, 48, 45, 0.8);
      color: $off-white;
      display: inline-block;
    }
    .team-map--title {
      font-size: 48px;
      line-height: 68px;
      font-family: $secondary-font-family;
      padding: 0 15px;
      letter-spacing: -2px;
    }
    .team-map--subtitle {
      font-size: 18px;
      line-height: 18px;
      padding: 12px 19px;
      &.subtitle-bottom {
        padding-top: 0;
      }
    }
  }
}

.team-members--wrapper {
  margin-top: 326px;
  .team-member--container {
    background-color: white;
    border: 1px solid $off-white;
    display: inline-block;
    float: left;
    padding: 10px;
    width: 319px;
    .team-member--avatar {
      display: inline-block;
      img {
        display: inline-block;
        width: 153px;
        height: 153px;
        margin-right: 13px;
      }
    }
    .team-member--info {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      width: 149px;
      .team-member--name {
        color: $link-green;
        font-size: 16px;
        line-height: 16px;
        width: 149px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .team-member--bio {
        margin-top: 6px;
        p {
          font-size: 14px;
          line-height: 18px;
          &.team-member--position {
            height: 36px;
            overflow: hidden;
            margin-bottom: 5px;
          }
          &.team-member--location {
            width: 149px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .team-member--social {
        margin-top: 12px;
        .team-member--social--icon {
          width: 24px;
          height: 24px;
          display: inline-block;
          float: left;
          margin-right: 5px;
          background-image: $icon-sprite;
          &.twitter-small {
            background-position: -314px -452px;
            &:hover {
              background-position: -314px -486px;
            }
          }
          &.github-small {
            background-position: -344px -452px;
            &:hover {
              background-position: -344px -486px;
            }
          }
          &.speakerdeck-small {
            background-position: -374px -452px;
            &:hover {
              background-position: -374px -486px;
            }
          }
          &.lanyrd-small {
            background-position: -284px -452px;
            &:hover {
              background-position: -284px -486px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

ul.team-members {
  margin: 50px 0 0 0;
  li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin-bottom: 20px;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }

    .team-member-name {
      font-weight: bold;
    }

    .team-member-location {
      font-size: 0.9em;
    }
  }
}