$off-white: #eee;
$black-green: #3A3C2F;
$lime: #8CC63F;
$leaf: #4E681E;
$green: #6db33f;
$bark: #AF9A85;
$light-grey: #ECEBEB;
$medium-grey: #DEDEDE;
$navy: #3A5056;
$slate: #44474C;
$mauve: #665A6B;
$denim: #8395A1;
$black-brown: #34302d;
$secondary-font-family: 'Montserrat', sans-serif;
$link-green: #5fa134;
$icon-sprite: url("../img/iconsprite.png");




//TOOLS INDEX
.tool--container {
  background-color: $black-brown;
  display: inline-block;
  color: $off-white;
  text-align: center;
  width: 48.85%;
  margin: 0 1.9% 40px 0;
  line-height: 20px;
  &:last-child {
    margin-right: 0;
  }
  .tool--icon {
    height: 134px;
    display: inline-block;
    margin: 40px 0;
    background-image: $icon-sprite;
    &.sts-icon {
      width: 124px;
      background-position: -194px 0;
    }
    &.ggts-icon {
      width: 96px;
      background-position: -204px -140px
    }
  }
  .tool--title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .tool--description {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 40px;
  }
  .tool--learn-more {
    color: $link-green;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .tool--download-btn {
    width: 237px;
  }
  .tool--see-all-versions {
    display: block;
    color: $link-green;
    line-height: 14px;
    margin: 26px 0 43px;
  }
}

.eclipse--container {
  border: 1px solid $black-brown;
  padding: 40px;
  .logo-eclipse-text {
    float: left;
    margin: 20px 40px 40px 0;
  }
  .eclipse-content--container {
    margin-left: 159px;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  a {
    color: $link-green;
    &.learn-more-link {
      text-transform: uppercase;
    }
  }
}

.tools--title {
  margin-bottom: 30px;
}

.tools--wrapper {
  margin-bottom: 20px;
  .tools--description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-right: 20px;
    &.small-font {
      font-size: 14px;
      line-height: 24px;
    }
    li {
      margin-bottom: 10px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 40px;
      }
    }
    em {
      font-family: $secondary-font-family;
      font-style: normal;
      font-weight: bold;
    }
  }
  .centered-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .tools-feature--container {
    vertical-align: top;
    h3 {
      font-family: $secondary-font-family;
    }
    .tools-feature--thumbnail {
      height: 160px;
      width: 100%;
      margin-bottom: 30px;
      &.sts-spring-model-detail {
        background: url("../img/sts-spring-model-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-validations-detail {
        background: url("../img/sts-validations-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-refactoring-support-detail {
        background: url("../img/sts-refactoring-support-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-content-assist-detail {
        background: url("../img/sts-content-assist-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-graphical-editors-detail {
        background: url("../img/sts-graphical-editors-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-aop-support-detail {
        background: url("../img/sts-aop-support-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.sts-tcserver-cloudfoundry-detail {
        background: url("../img/sts-tcserver-cloudfoundry-detail.png") transparent no-repeat;
        border: 3px solid #ccc;
      }
      &.placeholder-img {
        background-color: #ccc;
        box-shadow: inset 3px 3px 0 white, inset -3px -3px 0 white;
      }
      &.screenshot-ggts-editing {
        background: url("../img/screenshot-ggts-editing.png") transparent no-repeat;
      }
      &.screenshot-ggts-support {
        background: url("../img/screenshot-ggts-support.png") transparent no-repeat;
      }
      &.screenshot-ggts-integration {
        background: url("../img/screenshot-ggts-integration.png") transparent no-repeat;
      }
    }

    .tools-feature--description {
      font-size: 14px;
      line-height: 20px;
      padding-right: 40px;
      li {
        padding: 5px 0;
      }
      a {
        color: $link-green;
      }
    }
  }
  &.testimonial {
    margin: 45px 0;
    .testimonial--container {
      background-color: white;
      margin: 0 67px;
      padding: 20px;
      border-bottom: 1px solid #ccc;
      .quotation--icon {
        width: 30px;
        height: 21px;
        background-image: $icon-sprite;
        background-position: -155px -381px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
      }
      .quotation--text {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        margin-right: 3%;
        font-style: italic;
      }
      .quotation--speaker {
        display: inline-block;
        vertical-align: top;
        strong {
          margin-left: -13px;
          font-family: $secondary-font-family;
        }
      }
    }
  }
  &.screenshot {
    .screenshot {
      height: 318px;
      margin: 60px 0;
      &.sts-screenshot {
        background-image: url("../img/sts-screenshot.png");
      }
      &.ggts-screenshot {
        background-image: url("../img/ggts-screenshot.png");
      }
    }
  }
  &.tools-feature--wrapper {
    .tools-feature--container {
      min-height: 175px;
      padding: 45px 30px 55px 0;
      border-top: 1px solid white;
      .tools-feature--thumbnail {
        float: left;
        width: 45.8%;
        margin: 0 7% 0 0;
        height: 188px;
      }
      &:nth-child(even) {
        .tools-feature--thumbnail {
          float: right;
          margin: 0 1.4% 0 6%;
        }
      }
      h3 {
        padding-top: 15px;
      }
      p {
        padding: 0;
      }
    }
  }
  &.more-feature-list {
    ul {
      margin: 0 0 10px 20px;
      li {
        padding: 5px 0;
      }

    }
  }
  .tools-bottom--container {
    margin-top: 60px;
    p {
      margin: 10px 0;
      a:hover {
        color: $link-green;
      }
    }
  }
}

.tool-versions--wrapper {
  border: 1px solid $black-brown;
  margin: 60px 0;
  .tool-versions--icon--container {
    background-color: $black-brown;
    float: left;
    width: 240px;
    text-align: center;
    padding: 30px 0;
    .tool-versions--icon {
      background-image: $icon-sprite;
      height: 134px;
      display: inline-block;
      margin-bottom: 27px;
      &.sts-icon {
        width: 124px;
        background-position: -194px 0;
      }
      &.ggts-icon {
        width: 96px;
        background-position: -204px -140px;
      }
    }
    .tool-versions--version {
      color: #f1f1f1;
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 18px;
    }
  }
  .tool-versions--container {
    display: block;
    vertical-align: top;
    margin: 0;
    .platform {
      display: inline-block;
      border-right: 1px solid white;
      text-align: center;
      vertical-align: top;
      margin: 40px 0 33px;
      width: 22.7%;
      padding: 0 1.3545%;
      &:last-child {
        border-right: none;
      }
      .platform--icon {
        background-image: $icon-sprite;
        display: inline-block;
        &.windows-icon {
          width: 48px;
          height: 48px;
          background-position: -364px -282px;
          margin-top: -12px;
        }
        &.mac-icon {
          width: 46px;
          height: 56px;
          background-position: -300px -282px;
          margin-top: -20px;
        }
        &.linux-icon {
          width: 51px;
          height: 43px;
          background-position: -300px -354px;
          margin-top: -7px;
        }
      }
      h3 {
        margin: 20px 0;
        font-family: $secondary-font-family;
        line-height: 16px;
      }
    }
    .tools-version-dropdown--title {
      display: block;
    }
    .place-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    .platform-version--dropdown {
      width: 82.75%;
    }
  }
}

.eclipse-platform--container {
  border: 1px solid #34302D;
  margin-bottom: 40px;
  .eclipse-platform-dropdown-link {
    display: block;
  }
  .platform-dropdown--icon {
    color: #EEE;
    padding: 18px;
    background-color: #34302D;
    text-decoration: none;
  }
  .platform--name {
    background-color: #34302D;
    display: inline-block;
    width: 327px;
    text-align: center;
    .platform--icon-small {
      display: inline-block;
      vertical-align: middle;
      background-image: $icon-sprite;
      width: 24px;
      &.mac-icon {
        height: 28px;
        background-position: -285px -406px;
      }
      &.windows-icon {
        height: 24px;
        background-position: -328px -409px;
      }
      &.linux-icon {
        height: 21px;
        background-position: -369px -412px;
      }
    }
    h3 {
      display: inline-block;
      color: #EEE;
      line-height: 16px;
      vertical-align: middle;
      margin: 17px 0 17px 15px;
    }
  }
  .platform-versions--container {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    margin-left: -1.5%;
    .release {
      margin: 20px 1% 20px;
      width: 31.33467%;
      display: inline-block;
    }
    .platform-release--name {
      font-family: $secondary-font-family;
      text-transform: uppercase;
      padding: 0 20px;
    }
  }
  .ecplise-version--dropdown {
    width: 87.2%;
  }
}

.tool-archive--table {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  th {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    border-bottom: 1px solid #ccc;
    font-family: $secondary-font-family;
  }
  td:last-child {
    color: #6c635d;
  }
  td:first-child {
    border-left: 1px solid #ccc;
  }
  td:last-child {
    border-right: 1px solid #ccc;

  }
  tr:last-child {
    border-bottom: 1px solid #ccc;

  }
  a {
    color: $link-green;
  }
}

.tools-right-pane {
  text-align: center;
  .tools-logo {
    display: inline-block;
    background-image: $icon-sprite;
    height: 134px;
    margin: 20px 0;
    &.sts-logo {
      background-position: -328px 0;
      width: 124px;
    }
    &.ggts-logo {
      background-position: -338px -140px;
      width: 96px;
    }
  }
  .tools-logo-small {
    background-image: $icon-sprite;
    margin: 0 20px 0 0;
    width: 43px;
    height: 58px;
    &.sts-logo {
      background-position: -231px -367px;
    }
    &.ggts-logo {
      background-position: -231px -433px;
    }
  }
  ul {
    margin: 0;
    li {
      border: none;
      padding: 0;
    }
  }
  .download-btn {
    width: 237px;
    margin-bottom: 20px;
  }
  .all-versions {
    color: $link-green;
    font-family: $secondary-font-family;
    margin-bottom: 20px;
    display: block;
  }
  .other-tools--container {
    margin: 20px;
    text-align: left;
    &:first-child {
      border-bottom: 1px solid #FFF;
    }
    .other-tools--link {
      color: #5FA134;
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 20px 63px;
    }
  }
}