$base-font-family: 'Varela Round', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
$slate: #44474C;
$navy: #3A5056;
$black-brown: #34302d;
$link-green: #5fa134;

body, h1, h2, h3, p, input {
  margin: 0;
  font-weight: 400;
  font-family: $base-font-family;
  color: $black-brown;
}

h1 {
	font-size: 24px;
  line-height: 30px;
  font-family: $secondary-font-family;
}

h2 {
	font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: $secondary-font-family;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 24px;
}

code {
  font-size: 14px;
}


