<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>SpringFramework - Edit Team Member Profile</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form th:action="@{/admin/profile}" action="#" method="post" th:object="${profile}">
        <label for="name">Name:<input id="name" type="text" th:field="*{name}" name="name" /></label>
        <label for="location">Location:<input id="location" type="text" th:field="*{location}" name="location" /></label>
        <label for="bio">Bio:<input id="bio" type="text" th:field="*{bio}" name="bio" /></label>
        <label for="avatarUrl">Avatar URL:<input id="avatarUrl" type="text" th:field="*{avatarUrl}" name="avatarUrl" /></label>
        <label for="githubUsername">Github Username:<input id="githubUsername" type="text" th:field="*{githubUsername}" name="githubUsername" /></label>
        <label for="speakerdeckUsername">Speakerdeck Username:<input id="speakerdeckUsername" type="text" th:field="*{speakerdeckUsername}" name="speakerdeckUsername" /></label>
        <label for="twitterUsername">Twitter Username:<input id="twitterUsername" type="text" th:field="*{twitterUsername}" name="twitterUsername" /></label>
        <label for="lanyrdUsername">Lanyrd Username:<input id="lanyrdUsername" type="text" th:field="*{lanyrdUsername}" name="lanrydUsername" /></label>
        <input type="hidden" name="_method" value="PUT" />
        <button type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>
