<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Spring | Events</title>
    <meta property='og:title' content='Spring Events'/>
    <meta property='og:description' content='Engage with the Spring community by attending an event.'/>
</head>

<body id='fourohfour'>

<div layout:fragment="~{content}">
    <div class='container'>
        <div class='content'>
            <h1>Events</h1>
        </div>
    </div>
</div>
</body>
</html>