<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    data-platform-downloads>
  <head>
    <title>Spring</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="full-width--layout">
      <div class="homepage--body">
        <div class="billboard--wrapper homepage-billboard">
          <!-- Billboard photo by Alvaro Videla -->
          <div class="billboard--container">
            <div class="container-fluid">
              <div class="icon icon-spring-logo-big homepage-icon"></div>
              <div class="homepage-title--container">
                <div class="homepage-title">
                  Let's build a better Enterprise.
                </div>
                <div class="homepage-subtitle--container desktop-only">
                  <div class="homepage-subtitle">
                    Spring helps development teams everywhere build simple, portable,
                  </div>
                  <div class="homepage-subtitle">
                    fast and flexible JVM-based systems and applications.
                  </div>
                </div>
                <div class="homepage-subtitle--container mobile-only">
                  <div class="homepage-subtitle">
                    Spring helps development teams everywhere build simple, portable, fast and flexible JVM-based systems and applications.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="key-feature--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-build-anything"></div>
                </div>
                <div class="key-feature--title">Build Anything</div>
                <div class="key-feature--text">
                  Write clean, testable code against the infrastructure components of your choice and accomplish any task &ndash; without re-inventing the wheel.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-run-anywhere"></div>
                </div>
                <div class="key-feature--title">Run Anywhere</div>
                <div class="key-feature--text">
                  Keep it portable &ndash; Spring-based apps run anywhere the JVM does. Deploy standalone, in an app server, on a PaaS or all of the above.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-rest-assured"></div>
                </div>
                <div class="key-feature--title">Rest Assured</div>
                <div class="key-feature--text">
                  Code with confidence &ndash; Spring provides an open programming model that is comprehensive, cohesive, widely understood and well-supported.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="platform--wrapper">
          <div class="platform--icon"></div>
          <div class="platform--title">The Spring IO Platform</div>
          <div class="platform--text">
            <div class="container-fluid">
              Announced at this year's SpringOne/2GX, Spring IO brings together the Spring family of projects into a cohesive and versioned foundational platform for modern applications. On top of this foundation it also provides domain-specific execution environments for a variety of enterprise workloads.
            </div>
          </div>
          <p><a href="/platform" class="platform--link">Preview the Platform<i class="icon-chevron-right"></i></a></p>
        </div>
        <div class="offset-feature--wrapper">
          <div class="offset-feature--container feature-guides">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8 mobile-left-pane">
                  <div class="offset-feature--title">Guides</div>
                  <div class="offset-feature--text">
                    Whether you're an expert or a newcomer our task-focused Getting Started Guides and Tutorials are designed to get you productive with Spring as quickly as possible.
                  </div>
                  <a href="/guides" class="offset-feature--link">
                    Browse the Guides
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-sts desktop-only">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="tool-suite span8 offset4 mobile-left-pane">
                  <div class="offset-feature--title">Spring Tool Suite&trade;</div>
                  <div class="offset-feature--text">
                    Your tools should be as refined as the code you write. STS is our Eclipse-based IDE crafted to serve the needs of building applications with Spring. We're always working on new features and performance in our mission to make STS the most productive Eclipse distribution available.
                  </div>
                  <a href="/tools/sts" class="offset-feature--link">
                    Learn more about STS
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-projects">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8 mobile-left-pane">
                  <div class="offset-feature--title">Spring Projects</div>
                  <div class="offset-feature--text">
                    From configuration to security, web apps to big data &ndash; whatever the infrastructure needs of your application may be, there is a Spring Project to help you build it. Start small and use just what you need &ndash; Spring is modular by design.
                  </div>
                  <a href="/projects" class="offset-feature--link">
                    Explore the Projects
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="support--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span6 support--container mobile-left-pane">
                <div class="icon icon-community-support"></div>
                <div class="support--title">
                  Community Support
                </div>
                <div class="support-links">
                  <a href="/questions">Questions</a>
                </div>
              </div>
              <div class="span6 support--container mobile-left-pane">
                <div class="icon icon-professional-support"></div>
                <div class="support--title">
                  Professional Support
                </div>
                <div class="support-links">
                  <a href="/services">Support</a>
                  <a href="http://www.gopivotal.com/contact/spring-training">Training</a>
                  <a href="http://www.gopivotal.com/contact/spring-consulting">Consulting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="content"></div>
  </body>
</html>
