<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Logos and Usage</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container">
    <div class="main-body--wrapper">
      <div class="content--title">Logos and Usage</div>
      <div class="content--container">
        <h2>Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      </div>
      <div class="row-fluid spaced--container">
        <div class="span6 about-feature--container no-link">
          <div class="icon--container">
            <div class="icon icon-spring-logo-big"></div>
          </div>
          <div class="title">Spring Leaf</div>
          <a th:href="@{/img/spring-leaf.zip}" class="btn btn-black on-black uppercase with-icon"><i class="icon-download"></i>Download Leaf</a>
        </div>
        <div class="span6 about-feature--container no-link">
          <div class="icon--container">
            <div class="icon icon-spring-logo"></div>
          </div>
          <div class="title">Spring Logo</div>
          <a th:href="@{/img/spring-logo.zip}" class="btn btn-black on-black uppercase with-icon"><i class="icon-download"></i>Download Logo</a>

        </div>
      </div>
      <div class="row-fluid spaced--container">
        <div class="span6">
          <h2>Do's</h2>
          <ul class="usage-lists okay">
            <li>
              <i class="icon-ok"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-ok"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-ok"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-ok"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-ok"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
          </ul>
        </div>
        <div class="span6">
          <h2>Dont's</h2>
          <ul class="usage-lists not-okay">
            <li>
              <i class="icon-remove"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-remove"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-remove"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-remove"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
            <li>
              <i class="icon-remove"></i>
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </li>
          </ul>
        </div>
      </div>
      <div class="row-fluid spaced--container">
        <div class="span6">
          <h2>Please contact us</h2>
          <ul>
            <li>If you want to use artwork not included in this repository</li>
            <li>If you want to use these images in a video/mainstream media</li>
          </ul>
        </div>
        <div class="span6">
          <h2>Naming projects and products</h2>
          <p>Please avoid naming your projects anything that implies Spring's endorsement. This also applies to domain names.</p>
        </div>
      </div>
      <div class="row-fluid spaced--container">
        <div class="span6">
          <h2>Legal</h2>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
