<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'maintenance', ~{::div})}">
<head>
    <title>Scheduled Maintenance</title>
</head>

<body>
<div>
    <div class='container'>
        <div class='content page-error'>
            <h1>:-\</h1>
            <h2>Sorry, we're down for scheduled maintenance. We'll be back up by 3AM Pacific Time.</h2>
            <p>Check out our <a href='https://status.spring.io/'>status page</a> and follow <a href="https://twitter.com/springops">@springops</a> for updates.</p>
        </div>
    </div>
</div>
</body>
</html>