<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>Services</title>
<!-- http://opengraphprotocol.org/ -->
<meta property="og:title" content="Spring Services" />
<meta property="og:image" content="/img/spring-by-pivotal.png" />
<meta property="og:description" content="Spring services such as consulting, developer support, training." />
</head>
<body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid">
        <article class="main-body--wrapper">
            <h1 class="content--title">Services</h1>
            <div class="content--container">
                <section>
                <h2>Spring Training</h2>
                <p>In conjunction with its partners, Pivotal offers training courses for developers, architects, system administrators, and technical managers.  Learn more about the various Spring courses available using one of the links below:</p>
                <ul>
                    <li><a href="https://pivotal.io/training/courses/core-spring-training">
                    Core Spring Training</a></li>
                    <li><a href="https://pivotal.io/training/courses/spring-boot-developer-training">
                    Spring Boot Developer Training</a></li>  
                    <li> <a href="https://pivotal.io/training/courses/spring-cloud-data-flow-developer-training">
                    Spring Cloud Data Flow Developer Training</a>     </li>           
                    <li><a href="https://pivotal.io/training/courses/spring-cloud-developer-training">
                    Spring Cloud Developer Training</a></li>  
                </ul>
                </section>
                <section>
                <h2>Spring Certification</h2>
                <p>The Spring Professional certification exam is designed to test and validate your understanding of and familiarity with:</p>

                <ul>
                    <li>Container basics</li>
                    <li>Aspect Oriented Programming (AOP)</li>
                    <li>Data access and transactions</li>
                    <li>Spring model-view-controller (MVC)</li>
                </ul>
                <a href="https://pivotal.io/training/certification/spring-professional-certification">
                    Learn More
                    <i class="icon-chevron-right"></i>
                </a>
                </section>
                <section>
                <h2>Spring Consulting</h2>
                <p>Accelerate your new application development projects and minimize performance risks by taking advantage of Spring Services by <a href="http://www.pivotal.io">Pivotal</a>. Pivotal is the primary sponsor of the  Spring Community and our consultants are the same people that create and maintain Spring and Apache Tomcat. This means:</p>
                <ul>
                    <li>Our consultants are also hard-core Java developers
                    <li>Our consultants bring real-world expertise to your company</li>
                    <li>We have an army of Java engineers backing up the consultants you work with</li>
                </ul>
                <a href="http://www.pivotal.io/contact/spring-consulting">
                    Learn More
                    <i class="icon-chevron-right"></i>
                </a>
                </section>
                <section>
                <h2>Spring Developer Support</h2>
                <p>Commercial support, maintenance, and tools are available for all aspects of the Spring Framework through the Developer Support Subscription from Pivotal, the company behind Spring. This Subscription covers the application development phase for developers using the following technologies: Spring Framework and related Spring projects, Apache Tomcat and HTTP Server, and RabbitMQ.</p>
                <a href="http://www.pivotal.io/contact/spring-support">
                    Learn More
                    <i class="icon-chevron-right"></i>
                </a>
                </section>

            </div>
        </article>
    </div>
</body>
</html>
