<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
</head>
<body id='streams'>
<div layout:fragment="~{content}">
    <div id='hero' class='topics-banner mb-5'>
        <img id='midshape' src='/images/header-streams.svg'>
    </div>
    <div class='content' role='Main'>
        <section class='container mb-5'>
            <h1 class='h1'>Streams</h1>
            <div class='flex jc-between topic-hero'>
                <div class='left m-0 topic-info'>
                    <p class='big'>Streaming data means a constant flow of events, each containing information about a change of some kind. Streaming data reflects how modern businesses actually work&mdash;thousands of small changes happening all day, every day. Spring’s ability to handle events and easily build applications around them lets your apps stay in sync with your business.</p>
                    <div class='flex jc-between half-and-half'>
                        <div class='topics-half'>
                            <h2 class='h3'>What is Streaming Data?</h3>
                                <p>Streaming data means a constant flow of data about an event (or “change of state”). One example might be a stock ticker. Every time a stock price changes, a new event is created. It’s called “streaming data” because there are thousands of these events resulting in a constant stream of data.</p>
                        </div>
                        <div class='topics-half'>
                            <h2 class='h3'>Streaming Data and Microservices</h3>
                                <p>When combined with microservices, event streaming can open up exciting opportunities—event-driven architecture being one common example. Spring can simplify the production, processing, and consumption of events, providing several useful abstractions.</p>
                        </div>
                    </div>
                </div>
                <img class='as-fs topic-icon' src='/images/streams.svg'>
            </div>
        </section>
        <section class='cornell container'>
            <div class='flex jc-between py-50'>
                <div class='left third'>
                    <h2 class='h2'>Spring Cloud Stream</h2>
                </div>
                <div class='right'>
                    <p class='mb-3'>Spring Cloud Stream improves your productivity when working with Apache Kafka, RabbitMQ, Azure Event Hub, and more. It features three simple abstractions that simplify your code. “Binders” provide integration with the external messaging systems. “Bindings” bridge the gap between the messaging systems and your code. “Messages” provide a simple structure that your code can use to communicate.</p>
                    <p>Spring Cloud Stream also provides support for provisioning, content conversion, error handling, configuration management, consumer groups, partitioning, monitoring, and health checks.</p>
                    <a class='link-animate blue' href='https://dataflow.spring.io/docs/stream-developer-guides/getting-started/stream/'>Getting Started with Stream Processing</a>
                </div>
            </div>
            <div id='quote' class='flex mb-4 mx-auto jc-between'>
                <img class='mb-2' src='/images/quote.svg'>
                <div class='text'>
                    <blockquote class='h3 green antialiased m-0'>Spring [Cloud] Stream and Spring solutions help us to have a cohesive solution for both imperative and reactive needs.”</blockquote>
                    <div class='quoted bold uppercase antialiased smaller'>
                        Anil Gursel, Software Engineer, PayPal
                    </div>
                    <a class='blue link-animate' href="https://www.youtube.com/watch?v=khzC-VwpFVM">Watch now</a>
                </div>
            </div>
        </section>
        <section id='kakfastreams' class='cornell container'>
            <div class='flex jc-between py-50'>
                <div class='left third'>
                    <h2 class='h2'>Spring Cloud Kafka Streams</h2>
                </div>
                <div class='right'>
                    <div class='flex jc-between'>
                        <div class='text'>
                            <p>Spring Cloud Stream provides a second, more specific binder solely for working with Kafka Streams. This special binder still focuses on developer productivity but adds support for Kafka-specific features like KStream, KTable, and GlobalKTable. As with regular Spring Cloud Stream, the binder also takes care of connecting to Kafka, as well as creating, configuring, and maintaining the streams and topics. <a class='blue link-animate' href='https://www.confluent.io/blog/spring-for-apache-kafka-deep-dive-part-2-apache-kafka-spring-cloud-stream/'>Learn more</a></p>
                        </div>
                        <img src='/images/apache-kakfa.svg'>
                    </div>
                </div>
            </div>
        </section>
        <section class='cornell container'>
            <div class='flex jc-between py-50'>
                <div class='left third'>
                    <h2 class='h2'>Spring Cloud Function</h2>
                </div>
                <div class='right'>
                    <p class='mb-3'>With Spring Cloud Function, you can write functions once and run them anywhere (AWS, Azure, etc.) while continuing to use all the familiar and comprehensive Spring APIs to get your work done. You can chain multiple functions together to offer additional features, and there’s support for multiple inputs and outputs to bring merging, joining, and other more advanced use cases within easy reach. <a class='blue link-animate' href="/projects/spring-cloud-function">Learn more</a></p>
                    <div class='terminal rad-5 border-box mb-3'>
                        <div class='top'>
                            <div class='x-circle'></div>
                            <div class='circle'></div>
                            <div class='circle'></div>
                        </div>
                        <code>
                            <span class='terminal-blue'>@SpringBootApplication</span><br>
                            <span class='terminal-green'>public class</span> Application {<br>
                            <div class='indent'>
                                <br>
                                <span class='terminal-blue'>@Bean</span><br>
                                <span class='terminal-green'>public </span> Function&lt;Flux&lt;String&gt;, Flux&lt;String&gt;&gt; uppercase() {<br>
                                <div class='indent'><span class='terminal-green'>return</span> flux -> flux.map(value -> value.toUpperCase());</div>
                                }
                                <br>
                                <br>
                                <span class='terminal-green'>public static void</span> main(String[] args) {<br>
                                <div class='indent'>SpringApplication.run&#40;DemoApplication.class, args&#41;;</div>
                                }
                            </div>
                            }
                        </code>
                    </div>
                </div>
            </div>
        </section>
        <section class='cornell container'>
            <div class='flex jc-between py-50'>
                <div class='left third'>
                    <h2 class='h2'>Spring Cloud Data Flow</h2>
                </div>
                <div class='right'>
                    <p class='m-0'>Spring Cloud Data Flow offers developers a range of tools and automation for working with all kinds of data sources and destinations. Spring Cloud Data Flow helps you to develop, deploy, manage, and scale high-throughput streaming data pipelines across multiple cloud-native platforms. It also features a rich user interface for building and monitoring your applications. <a class='blue link-animate' href='https://dataflow.spring.io/'>Learn more</a></p>
                    <br/>
                    <br/>
                    <img src='/images/SpringCloudDataFlow.png' alt="Spring Cloud Data Flow"/>
                </div>
            </div>
        </section>
        <section class='cornell container mb-2'>
            <div class='flex jc-between py-50'>
                <div class='left third'>
                    <h2 class='h2'>Spring AMQP and Spring for Apache Kafka</h2>
                </div>
                <div class='right'>
                    <p class='m-0'>With the Spring AMQP and Spring for Apache Kafka projects, you can apply core Spring concepts to the development of Kafka- or RabbitMQ-based messaging solutions.</p>
                    <p>Both include "template" as a high-level message handling abstraction, and support message-driven POJOs with a "listener container."</p>
                </div>
            </div>
        </section>
        <section class='topic-getstarted mb-6 container center'>
            <div class='bg-lightblue py-40'>
                <h2 class='h2'>Ready to get started?</h2>
                <div class='flex jc-center'>
                    <a class='button animate uppercase' href='/blog/2019/10/15/simple-event-driven-microservices-with-spring-cloud-stream'><span>Try this guide</span></a>
                </div>
            </div>
        </section>
        <section class='topics-resources mb-7'>
            <div class='container'>
                <!-- <hr class='dark'> -->
                <h2 class='h2'>
                    More resources
                </h2>
                <div class='flex jc-between'>
                    <div class='item third'>
                        <a class='thumbnail mb-1 block' href='https://www.youtube.com/watch?v=9I3CDfHKfNY'>
                            <img src='/images/streams-res1.png'>
                            <div class='play'><div class='relative'><div class='triangle'></div></div></div>
                        </a>
                        <a class='h3 blue mb-1 inline-block link-darken' href='https://www.youtube.com/watch?v=9I3CDfHKfNY'>Kafka Summit 2019 Keynote</a>
                        <div class='author'>James Watters</div>
                    </div>
                    <div class='item third'>
                        <a class='thumbnail mb-1 block' href='https://content.pivotal.io/webinars/jun-6-boosting-microservice-performance-with-kafka-rabbitmq-and-spring-webinar'>
                            <img src='/images/streams-res2.png'>
                            <div class='play'><div class='relative'><div class='triangle'></div></div></div>
                        </a>
                        <a class='h3 blue mb-1 inline-block link-darken' href='https://content.pivotal.io/webinars/jun-6-boosting-microservice-performance-with-kafka-rabbitmq-and-spring-webinar'>Boosting Microservice Performance with Kafka</a>
                        <div class='author'>Mark Heckler</div>
                    </div>
                    <div class='item third'>
                        <a class='thumbnail mb-1 block' href='https://content.pivotal.io/content-developers/getting-started-with-spring-cloud-stream'>
                            <img src='/images/streams-res3.png'>
                        </a>
                        <a class='h3 blue mb-1 inline-block link-darken' href='https://content.pivotal.io/content-developers/getting-started-with-spring-cloud-stream'>Getting Started With Spring Cloud Stream</a>
                        <div class='author'>Ben Wilcock and Brian McClain</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>