<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'support', ~{::div})}">
<head>
    <title>Spring | VMware Spring Runtime</title>
    <meta property='og:title' content='VMware Spring Runtime'/>
    <meta property='og:description' content='Comprehensive support for OpenJDK™, Spring®, and Apache Tomcat® for any enterprise.'/>
</head>
<body>
<div>
    <div id='hero' class='rel of-hide' role='Banner'>
        <div id='pacman' data-th-insert="~{svg/_shapes :: pacman}"></div>
        <div class='container rel z-1'>
            <div class='mw-850'>
                <p class='h3 bold m-0'>Support</p>
                <h1 class='h1 antialiased'>VMware Spring Runtime</h1>
                <p class='mb-4'>Comprehensive support for OpenJDK&trade;, Spring, and Apache Tomcat® for any enterprise.</p>
                <div id='trio' class='flex jc-between mb-3'>
                    <div class='third'>
                        <div class="img" data-th-insert="~{svg/_icons-color :: icon-support-1}"></div>
                        <h2 class='h3 antialiased'>Lean on the Spring experts</h2>
                        <p>VMware has years of experience working with Spring Framework, Spring Boot, and Apache Tomcat®.</p>
                    </div>
                    <div class='third'>
                        <div class="img" data-th-insert="~{svg/_icons-color :: icon-support-2}"></div>
                        <h2 class='h3 antialiased'>24x7 support from VMware</h2>
                        <p>Focus on your work and leave the support to us!</p>
                    </div>
                    <div class='third'>
                        <div class="img" data-th-insert="~{svg/_icons-color :: icon-support-3}"></div>
                        <h2 class='h3 antialiased'>Simple and fair pricing</h2>
                        <p>VMware Spring Runtime makes OpenJDK support easy. Annual subscriptions are available for Kubernetes pods or CPU cores.</p>
                    </div>
                </div>
                <div id='subscription' class='flex ai-center'>
                    <img data-th-src="@{/images/big-check.svg}" alt=''>
                    <h2 class='h3 m-0 antialiased'>Subscription includes OpenJDK binaries, licensing and support</h2>
                </div>
            </div>
        </div>
    </div>
    <div class='content bg-lightblue' role='Main'>
        <div class='container'>
            <section id='included' class='flex jc-between mb-5'>
                <h2 class='h2 antialiased m-0'>What's included</h2>
                <div class='item third'>
                    <h3 class='h3 antialiased'>Binary downloads</h3>
                    <ul>
                        <li class='mb-2'>VMware Distribution of OpenJDK or AdoptOpenJDK<sup class='smallest'>*</sup></li>
                        <li class='mb-2'>Apache Tomcat or VMware tc Server</li>
                        <li class='mb-2'>Spring<sup class='smallest'>^</sup></li>
                        <li>All Updates & Upgrades</li>
                    </ul>
                </div>
                <div class='item third'>
                    <h3 class='h3 antialiased'>Premium Support</h3>
                    <ul>
                        <li class='mb-2'>Global, 24x7 support for over 40 Spring projects, plus OpenJDK and Tomcat</li>
                        <li class='mb-2'>Fast response times</li>
                        <li class='mb-2'>Access to VMware docs, resources, and knowledge base</li>
                    </ul>
                </div>
            </section>
            <section id='support-list'>
                <h2 class='h3 mb-2'>Technical support covers</h2>
                <div class='flex jc-between mb-6 desktop'>
                    <div class='col'>
                        <ul>
                            <li>OpenJDK<sup class='smallest'>*</sup></li>
                            <li>Apache Tomcat</li>
                            <li>VMware tc Server</li>
                            <li>AspectJ</li>
                            <li>Micrometer</li>
                            <li>Reactor</li>
                            <li>Spring AMQP</li>
                            <li>Spring Batch</li>
                            <li>Spring Boot</li>
                            <li>Spring Cloud Commons</li>
                            <li>Spring Cloud Config</li>
                            <li>Spring Cloud Netflix</li>
                            <li>Spring Cloud Bus</li>
                            <li>Spring Cloud Cloud Foundry</li>
                            <li>Spring Cloud Open Service Broker</li>
                            <li>Spring Cloud Consul</li>
                            <li>Spring Cloud Security</li>
                            <li>Spring Cloud Sleuth</li>
                        </ul>
                    </div>
                    <div class='col'>
                        <ul>
                            <li>Spring Cloud Zookeeper</li>
                            <li>Spring Cloud Kubernetes</li>
                            <li>Spring Cloud CLI</li>
                            <li>Spring Cloud OpenFeign</li>
                            <li>Spring Cloud Gateway</li>
                            <li>Spring Cloud Function</li>
                            <li>Spring Cloud Contract</li>
                            <li>Spring Cloud Task</li>
                            <li>Spring Cloud Stream</li>
                            <li>Spring Cloud Stream Binder for Apache Kafka®</li>
                            <li>Spring Cloud Stream Binder for RabbitMQ</li>
                            <li>Spring Cloud Stream Binder for Kafka Streams</li>
                            <li>Spring Cloud Stream Binder for AWS Kinesis</li>
                            <li>Spring Cloud Vault</li>
                            <li>Spring CredHub</li>
                        </ul>
                    </div>
                    <div class='col'>
                        <ul>
                            <li>Spring Data for Apache Cassandra&trade;</li>
                            <li>Spring Data Commons</li>
                            <li>Spring Data KeyValue</li>
                            <li>Spring Data LDAP</li>
                            <li>Spring Data JDBC</li>
                            <li>Spring Data JPA</li>
                            <li>Spring Data MongoDB</li>
                            <li>Spring Data GemFire</li>
                            <li>Spring Data for Apache Geode™</li>
                            <li>Spring Data Redis</li>
                            <li>Spring Data REST</li>
                            <li>Spring Data Solr</li>
                            <li>Spring Framework</li>
                            <li>Spring HATEOAS</li>
                            <li>Spring Integration (Core modules + Kafka + AWS)</li>
                            <li>Spring for Apache Kafka®</li>
                            <li>Spring LDAP</li>
                        </ul>
                    </div>
                    <div class='col'>
                        <ul>
                            <li>Spring Kerberos</li>
                            <li>Spring REST Docs</li>
                            <li>Spring Retry</li>
                            <li>Spring Statemachine</li>
                            <li>Spring Security</li>
                            <li>Spring Security OAuth</li>
                            <li>Spring Security SAML</li>
                            <li>Spring Cloud Data Flow</li>
                            <li>Spring Session</li>
                            <li>Spring Session for MongoDB</li>
                            <li>Spring Session for GemFire/Apache Geode™</li>
                            <li>Spring Tool Suite</li>
                            <li>Spring Tools 4</li>
                            <li>Spring Vault</li>
                            <li>Spring Cloud Skipper</li>
                            <li>Spring Shell</li>
                            <li>Spring Cloud Stream Applications</li>
                        </ul>
                    </div>
                </div>
                <div class='flex jc-between mb-8 mobile'>
                    <div class='col'>
                        <ul>
                            <li>OpenJDK<sup class='smallest'>*</sup></li>
                            <li>Apache Tomcat</li>
                            <li>VMware tc Server</li>
                            <li>AspectJ</li>
                            <li>Micrometer</li>
                            <li>Reactor</li>
                            <li>Spring AMQP</li>
                            <li>Spring Batch</li>
                            <li>Spring Boot</li>
                            <li>Spring Cloud Commons</li>
                            <li>Spring Cloud Config</li>
                            <li>Spring Cloud Netflix</li>
                            <li>Spring Cloud Bus</li>
                            <li>Spring Cloud Cloud Foundry</li>
                            <li>Spring Cloud Open Service Broker</li>
                            <li>Spring Cloud Consul</li>
                            <li>Spring Cloud Security</li>
                            <li>Spring Cloud Sleuth</li>
                            <li>Spring Cloud Zookeeper</li>
                            <li>Spring Cloud Kubernetes</li>
                            <li>Spring Cloud CLI</li>
                            <li>Spring Cloud OpenFeign</li>
                            <li>Spring Cloud Gateway</li>
                            <li>Spring Cloud Function</li>
                            <li>Spring Cloud Contract</li>
                            <li>Spring Cloud Task</li>
                            <li>Spring Cloud Stream</li>
                            <li>Spring Cloud Stream Binder for Apache Kafka®</li>
                            <li>Spring Cloud Stream Binder for RabbitMQ</li>
                            <li>Spring Cloud Stream Binder for Kafka Streams</li>
                            <li>Spring Cloud Stream Binder for AWS Kinesis</li>
                            <li>Spring Cloud Vault</li>
                            <li>Spring CredHub</li>
                        </ul>
                    </div>
                    <div class='col'>
                        <ul>
                            <li>Spring Data for Apache Cassandra&trade;</li>
                            <li>Spring Data Commons</li>
                            <li>Spring Data KeyValue</li>
                            <li>Spring Data LDAP</li>
                            <li>Spring Data JDBC</li>
                            <li>Spring Data JPA</li>
                            <li>Spring Data MongoDB</li>
                            <li>Spring Data GemFire</li>
                            <li>Spring Data for Apache Geode™</li>
                            <li>Spring Data Redis</li>
                            <li>Spring Data REST</li>
                            <li>Spring Data Solr</li>
                            <li>Spring Framework</li>
                            <li>Spring HATEOAS</li>
                            <li>Spring Integration (Core modules + Kafka + AWS)</li>
                            <li>Spring for Apache Kafka®</li>
                            <li>Spring LDAP</li>
                            <li>Spring Kerberos</li>
                            <li>Spring REST Docs</li>
                            <li>Spring Retry</li>
                            <li>Spring Statemachine</li>
                            <li>Spring Security</li>
                            <li>Spring Security OAuth</li>
                            <li>Spring Security SAML</li>
                            <li>Spring Cloud Data Flow</li>
                            <li>Spring Session</li>
                            <li>Spring Session for MongoDB</li>
                            <li>Spring Session for GemFire/Apache Geode™</li>
                            <li>Spring Tool Suite</li>
                            <li>Spring Tools 4</li>
                            <li>Spring Vault</li>
                            <li>Spring Cloud Skipper</li>
                            <li>Spring Shell</li>
                            <li>Spring Cloud Stream Applications</li>
                        </ul>
                    </div>
                </div>
                <p class='caption'> * Restrictions apply &nbsp; ^ Downloads from official sources</p>
            </section>
        </div>
        <section id='contact-form' class='bg-black py-40'>
            <div class='flex jc-between container'>
                <div class='left'>
                    <h2 class='h2 antialiased white hide mt-50'>Let's talk.</h2>
                    <p class='hide white'>Contact us about VMware Spring Runtime.</p>
                    <h2 class='h2 antialiased white confirmation'>Thank you for your interest!</h2>
                    <p class='hide white confirmation'>We will get back to you shortly.</p>
                </div>
                <div class='right'>
                    <br/>
                    <br/>
                    <script src="//app-sj05.marketo.com/js/forms2/js/forms2.min.js"></script>
                    <form id="mktoForm_7985"></form>
                    <script>
                        MktoForms2.loadForm("https://app-sj05.marketo.com", "625-IUJ-009", 7985, function(form){
                            form.setValues({ "Product_Selection__c": "Pivotal Spring Runtime", "Most_Recent_Lead_Source_Description__c": "Global_Website_Product Contact", "Original_Lead_Source_Description__c":"Global_Website_Product Contact"});
                            form.onSuccess(function(values, followUpUrl) {
                                form.getFormElem().hide();
                                $('.hide').hide();
                                $('.confirmation').show();
                                return false;
                            });
                        });
                    </script>
                    <br/>
                    <br/>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>