<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'thankyou', ~{::div})}">
<head>
    <title>Spring | Thank You</title>
    <meta property='og:title' content='Spring Thank You'/>
    <meta property='og:description' content='Tools that make Spring happen!'/>
</head>
<body>
<div>
    <div id='hero' class='topics-banner mb-5'>
        <img id='midshape' data-th-src="@{/images/header-microservices.svg}" alt=''>
    </div>
    <div class='content' role='main'>
        <div class='container'>
            <h1 class='h1 antialiased mb-5'>Thank you</h1>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs ht-6 img-light' data-th-src="@{/images/logo-eclipse-ide.svg}" alt='Eclipse'>
                    <img class='as-fs ht-6 img-dark' data-th-src="@{/images/logo-eclipse-white.svg}" alt='Eclipse'>
                </div>
                <div class='text'>
                    <p>The Spring Tool Suite 4 is built on top of the Eclipse platform, which is provided by the <a
                            class='link-animate blue' href="https://www.eclipse.org">Eclipse Foundation</a> under the <a
                            class='link-animate blue' href="https://www.eclipse.org/org/documents/epl-v10.php">Eclipse
                        Public License</a>.
                    </p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs max-ht-8' data-th-src="@{/images/logo-jetbrains.svg}" alt='JetBrains'>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img class='as-fs max-ht-8' data-th-src="@{/images/logo-intellij.svg}" alt='IntelliJ IDEA'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='link-animate blue' href="https://www.jetbrains.com/idea/">IntelliJ
                        IDEA</a> when working on <a class='link-darken blue' href="https://spring.io/projects">Spring
                        portfolio projects</a>.</p>
                    <p>Many thanks to <a class='link-animate blue' href="https://www.jetbrains.com/">JetBrains</a> for
                        sponsoring our Open Source projects with a license.</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs img-light' data-th-src="@{/images/logo-jfrog-artifactory.png}" alt='JFrog Artifactory'>
                    <img class='as-fs img-dark' width="230px" data-th-src="@{/images/logo-jfrog-artifactory-white.png}" alt='JFrog Artifactory'>
                </div>
                <div class='text'>
                    <p>The Spring team uses JFrog <a class='link-animate blue'
                                                     href="https://www.jfrog.com/artifactory/">Artifactory</a> to host
                        <a class='link-animate blue' href="https://repo.spring.io">repo.spring.io</a> when working on
                        the <a class='link-darken blue' href="https://spring.io/projects">Spring portfolio projects</a>.
                    </p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs ht-6 img-light' data-th-src="@{/images/gradle-enterprise-dark-green-primary.svg}" alt='Gradle'>
                    <img class='as-fs ht-6 img-dark' data-th-src="@{/images/gradle-enterprise-white.svg}" alt='Gradle'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='blue link-animate' href="https://gradle.com/">Gradle
                        Enterprise</a> to analyze and speed up our projects' builds.</p>
                    <p>Many thanks to Gradle for sponsoring our open source projects with a license!</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs img-light' data-th-src="@{/images/logo-yourkit.png}" alt='YourKit'>
                    <img class='as-fs img-dark' data-th-src="@{/images/logo-yourkit-black.png}" alt='YourKit'>
                </div>
                <div class='text'>
                    <p>The Spring team uses the <a class='link-animate blue' href="http://yourkit.com/">Yourkit Java
                        Profiler</a> when working on the <a class='link-darken blue' href="https://spring.io/projects">Spring
                        portfolio projects</a>.</p>
                    <p>Many thanks to Yourkit for sponsoring our Open Source projects with a license</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo as-fs'>
                    <img id='bintray' class='block mx-auto img-light' data-th-src="@{/images/logo-jfrog-bintray.png}" alt='JFrog Bintray'>
                    <img style="max-height: 70px" class='block mx-auto img-dark' data-th-src="@{/images/logo-jfrog-bintray-white.png}" alt='JFrog Bintray'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='link-animate blue' href="Bintray">Bintray</a> for <a
                            class='link-animate blue' href="https://bintray.com/spring">releases distribution</a>.
                        Signing of artifacts and syncing to Maven Central is also done by Bintray.</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs img-light' data-th-src="@{/images/logo-structure101.png}" alt='Structure101'>
                    <img class='as-fs img-dark' style="max-width:170px" data-th-src="@{/images/logo-structure101-white.png}" alt='Structure101'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='blue link-animate' href="https://www.structure101.com">Structure101</a>
                        to enforce strict architectural rules, producing a high quality family of open source projects.
                        Structure101 is by far the best tooling we have found for this job.</p>
                    <p>Many thanks to Headway Software for sponsoring our projects with Open Source licenses</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs ht-6' data-th-src="@{/images/logo-asciidoctor.svg}" alt='Asciidoctor'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='blue link-animate' href="https://asciidoctor.org/">Asciidoctor</a>
                        to produce its documentation.</p>
                </div>
            </div>
            <div class='item flex jc-between'>
                <div class='logo flex jc-center'>
                    <img class='as-fs ht-6 img-light' data-th-src="@{/images/logo-browserstack.svg}" alt='BrowserStack'>
                    <img class='as-fs ht-6 img-dark' data-th-src="@{/images/logo-browserstack-white.svg}" alt='BrowserStack'>
                </div>
                <div class='text'>
                    <p>The Spring team uses <a class='blue link-animate' href="https://www.browserstack.com">BrowserStack</a>
                        when working on the <a class='link-darken blue' href="https://spring.io/projects">Spring
                            portfolio projects</a>.</p>
                    <p>Many thanks to BrowserStack for sponsoring our Open Source projects with a license!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
