<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  <head>
  </head>
  <body id='training'>
    <div layout:fragment="~{content}">
      <div id='hero' role='Banner'>
        <div class='container'>
          <h1 class='h1 antialiased'>Training & Certification</h1>
          <p class='big mb-4'>Increase your mastery of Spring with official training and certification from Pivotal and our global network of Authorized Training Partners. Every course is laser-focused to equip you with the skills you need to be a successful Spring practitioner in your chosen discipline. You can validate your learning with an industry-recognized certification.</p>
        </div>        
      </div>
      <div class='content bg-lightblue' role='Main'>
        <section class='container mb-5'>
          <h2 class='h2 antialiased'>Training</h2>
          <div class='course border-dark rad-5 border-box mb-2 bg-white'>
            <div class='course-title flex ai-center'>
              <div class='course-icon'>
                <img src='/images/icon-spring.svg'>
              </div>
              <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1094'>Core Spring for Developers</a>
            </div>
            <div class='course-details flex jc-between'>
              <p class='course-description m-0'>This course offers hands-on experience with Spring and its major features, including configuration, data access, web and REST applications, Spring Boot, Spring Security and using Spring Cloud to build...</br><em class='small'>One Spring Professional exam attempt is included in the cost of the Core Spring training course.</em></p>
<!--               <div class='course-dates'>
                <div class='course-date mb-1'>
                  <b class='date'>December 3, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>December 10, 2019</b>
                  <span class='location'>VILT - IST</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>March 10, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
              </div> -->
              <a href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1094' class='as-fs button uppercase transparent animate'>View details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
            </div>
          </div>
          <div class='course border-dark rad-5 border-box mb-2 bg-white'>
            <div class='course-title flex ai-center'>
              <div class='course-icon'>
                <img src='/images/icon-spring-boot.svg'>
              </div>
              <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1100'>Spring Boot Developer Training</a>
            </div>
            <div class='course-details flex jc-between'>
              <p class='course-description m-0'>This course teaches developers how to create enterprise-ready applications using Spring Boot. The course explores major features of Spring Boot, including auto-configuration, data access, Actuator, ...</p>
<!--               <div class='course-dates'>
                <div class='course-date mb-1'>
                  <b class='date'>December 3, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>December 10, 2019</b>
                  <span class='location'>VILT - IST</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>March 10, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
              </div> -->
              <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1100'>View details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
            </div>
          </div>
          <div class='course border-dark rad-5 border-box mb-2 bg-white'>
            <div class='course-title flex ai-center'>
              <div class='course-icon'>
                <img src='/images/icon-spring-data-flow.svg'>
              </div>
              <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1122'>Spring Cloud Data Flow Training</a>
            </div>
            <div class='course-details flex jc-between'>
              <p class='course-description m-0'>The course offers hands-on experience with installation and administration of Spring Cloud Data Flow; usage of the Spring Cloud Data Flow shell; creating, configuring, deploying, and scaling streams ... </p>
<!--               <div class='course-dates'>
                <div class='course-date mb-1'>
                  <b class='date'>December 3, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>December 10, 2019</b>
                  <span class='location'>VILT - IST</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>March 10, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
              </div> -->
              <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1122'>View details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
            </div>
          </div>
          <div class='course border-dark rad-5 border-box mb-2 bg-white'>
            <div class='course-title flex ai-center'>
              <div class='course-icon'>
                <img src='/images/icon-spring-cloud.svg'>
              </div>
              <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1102'>Spring Cloud Developer Training</a>
            </div>
            <div class='course-details flex jc-between'>
              <p class='course-description m-0'>This course provides participants with an in-depth coverage of cloud-native and microservices patterns using Spring Cloud and Netflix components to help solve challenges  ...</p>
<!--               <div class='course-dates'>
                <div class='course-date mb-1'>
                  <b class='date'>December 3, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>December 10, 2019</b>
                  <span class='location'>VILT - IST</span>
                </div>
                <div class='course-date mb-1'>
                  <b class='date'>March 10, 2019</b>
                  <span class='location'>Live Online</span>
                </div>
              </div> -->
              <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1102'>View details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
            </div>
          </div>
        </section>
        <section>
          <div class='container'>
            <h2 class='h2 antialiased'>Certification</h2>
            <div class='course border-dark rad-5 border-box mb-2 bg-white'>
              <div class='course-title flex ai-center'>
                <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1202'>Spring Professional Certification</a>
              </div>
              <div class='course-details flex jc-between'>
                <p class='course-description m-0'>Designed to test and validate your understanding of and familiarity with core aspects of Spring such as container basics, AOP, and more...</p>
<!--                 <div class='course-dates'>
                  <div class='course-date mb-1'>
                    <b class='date'>December 3, 2019</b>
                    <span class='location'>Live Online</span>
                  </div>
                  <div class='course-date mb-1'>
                    <b class='date'>December 10, 2019</b>
                    <span class='location'>VILT - IST</span>
                  </div>
                  <div class='course-date mb-1'>
                    <b class='date'>March 10, 2019</b>
                    <span class='location'>Live Online</span>
                  </div>
                </div> -->
                <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1202'>View details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>