<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Spring | Training</title>
    <meta property='og:title' content='Increase your mastery of Spring with official training and certification'/>
    <meta property='og:description' content='Every course is laser-focused to equip you with the skills you need to be a successful Spring practitioner in your chosen discipline. You can validate your learning with an industry-recognized certification.'/>
</head>
<body id='training'>
<div layout:fragment="~{content}">
    <div id='hero' role='Banner'>
        <img id='pacman' th:src="@{/images/training.svg}">
        <div class='container'>
            <h1 class='h1 antialiased'>Training & Certification</h1>
            <p class='big mb-4'>Increase your mastery of Spring with official training and certification from Pivotal and our global network of Authorized Training Partners. Every course is laser-focused to equip you with the skills you need to be a successful Spring practitioner in your chosen discipline. You can validate your learning with an industry-recognized certification. Most courses are instructor-led, either in person or online. Some are also available privately onsite.</p>
        </div>
    </div>
    <div class='content bg-lightblue' role='Main'>
        <section class='container mb-5'>
            <h2 class='h2 antialiased'>Training</h2>
            <div class='course border-dark rad-5 border-box mb-2 bg-white'>
                <div class='course-title flex ai-center'>
                    <div class='course-icon'>
                        <img th:src="@{/images/icon-spring.svg}" alt=''>
                    </div>
                    <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1094'>Core Spring Training</a>
                </div>
                <div class='course-details flex jc-between'>
                    <p class='course-description m-0'>This course offers hands-on experience with Spring and its major features, including configuration, data access, web and REST applications, testing, AOP and security. It also covers Spring Boot features such as auto-configuration, actuator, and Spring Boot testing. On completion, participants will have a foundation for creating enterprise-ready applications. </br><em class='small'>One Spring Professional exam attempt is included in the cost of the Core Spring training course.</em></p>
                    <a href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1094' class='as-fs button uppercase transparent animate'>Learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
                </div>
            </div>
            <div class='course border-dark rad-5 border-box mb-2 bg-white'>
                <div class='course-title flex ai-center'>
                    <div class='course-icon'>
                        <img th:src="@{/images/icon-spring-boot.svg}" alt=''>
                    </div>
                    <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1100'>Spring Boot Developer Training</a>
                </div>
                <div class='course-details flex jc-between'>
                    <p class='course-description m-0'>Building on the benefits of the Spring framework, Spring Boot represents the next chapter in Java development.  Spring Boot’s opinionated approach removes much of the boilerplate and configuration that characterizes Spring, making development faster and deployment easier. This course offers hands-on experience with Spring Boot and its major features, including auto-configuration, Spring data, Actuator, Spring Boot testing and more. On completion, participants will have a foundation for creating enterprise-ready applications.
                    </p>
                    <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1100'>Learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
                </div>
            </div>
            <div class='course border-dark rad-5 border-box mb-2 bg-white'>
                <div class='course-title flex ai-center'>
                    <div class='course-icon'>
                        <img th:src="@{/images/icon-spring-data-flow.svg}" alt=''>
                    </div>
                    <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1122'>Spring Cloud Data Flow Training</a>
                </div>
                <div class='course-details flex jc-between'>
                    <p class='course-description m-0'>Spring Cloud Data Flow is a cloud-native programming and operating model for creating, orchestrating and deploying composable data-driven microservices on modern runtimes such as Kubernetes or Cloud Foundry. This course offers hands-on experience with installation and administration of Spring Cloud Data Flow; usage of the Spring Cloud Data Flow shell; creating, configuring, deploying, and scaling streams and tasks; as well as the development of custom modules including source, processor, and sink stream applications by using Spring Boot and Spring Cloud Stream.</p>
                    <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1122'>Learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
                </div>
            </div>
            <div class='course border-dark rad-5 border-box mb-2 bg-white'>
                <div class='course-title flex ai-center'>
                    <div class='course-icon'>
                        <img th:src="@{/images/icon-spring-cloud.svg}" alt=''>
                    </div>
                    <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1102'>Spring Cloud Developer Training</a>
                </div>
                <div class='course-details flex jc-between'>
                    <p class='course-description m-0'>Spring Cloud provides tools for developers to quickly build some of the common patterns in distributed systems. The Spring Cloud course demonstrates common architecture challenges you will encounter while building RESTful microservices,and how you can address them using Spring Cloud solutions such as Service Registry, Client Load Balancing, Retry/Backoff, Circuit Breaker, Load Shedding, External Configuration and Telemetry.
                    </p>
                    <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1102'>Learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
                </div>
            </div>
        </section>
        <section>
            <div class='container'>
                <h2 class='h2 antialiased'>Certification</h2>
                <div class='course border-dark rad-5 border-box mb-2 bg-white'>
                    <div class='course-title flex ai-center'>
                        <a class='h3 link-darken blue antialiased' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1202'>Spring Professional Certification</a>
                    </div>
                    <div class='course-details flex jc-between'>
                        <div class='course-description'>
                            <p class='m-0'>The Spring Professional certification exam is designed to test and validate your understanding of and familiarity with core aspects of Spring such as:</p><ul><li>Container basics</li><li>Aspect Oriented Programming (AOP)</li><li>Data access and transactions</li><li>Spring model-view-controller (MVC)</li></ul>
                        </div>
                        <a class='as-fs button uppercase transparent animate' href='https://store.education.pivotal.io/confirm-course?courseid=EDU-1202'>Learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="15 10.94 15 15 1 15 1 1 5.06 1" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><polyline points="8.93 1 15 1 15 7.07" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/><line x1="15" y1="1" x2="8" y2="8" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/></svg></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>