<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'error', ~{::div})}">
<head>
    <title>Server Error</title>
</head>

<body>
<div>
    <div class='container'>
        <div class='content page-error'>
            <h1>500</h1>
            <h2>There was a server error.</h2>
            <p>Check out our <a href='https://status.spring.io/'>status page</a> and let us know <a href="https://twitter.com/springops">@springops</a>.</p>
        </div>
    </div>
</div>
</body>
</html>