<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<!-- Why Spring -->
<div layout:fragment="shape-quote">
    <svg
            class="shape-quote"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 92.81 161.83">
        <polygon class="shape-color-1" points="92.81 161.84 92.81 69.03 41.95 119.89 41.95 161.84 92.81 161.84"/>
        <polygon class="shape-color-2" points="41.95 119.89 0 161.84 41.95 161.84 41.95 119.89"/>
        <polygon class="shape-color-3" points="92.81 0 41.95 0 41.95 119.89 92.81 69.03 92.81 0"/>
    </svg>
</div>

<!-- Header microservices -->
<div layout:fragment="header-microservices">
    <svg
            class="header-microservices"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 650.72 40">
        <polygon class="shape-color-3" points="650.72 0 382.01 0 422.01 40 650.72 40 650.72 0"/>
        <polygon class="shape-color-1" points="0 0 0 40 172.4 40 132.4 0 0 0"/>
        <polygon class="shape-color-4" points="132.4 0 172.4 40 422.01 40 382.01 0 132.4 0"/>
    </svg>
</div>

<!-- Header reactive -->
<div layout:fragment="header-reactive">
    <svg
            class="header-microservices"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 650.72 40">
        <path class="shape-color-1"
              d="M650.72,0H568.94a254.61,254.61,0,0,1-41.69,23,252.65,252.65,0,0,1-56.4,17H650.72Z"/>
        <path class="shape-color-1" d="M282.93,0H0V40H380.73a252.9,252.9,0,0,1-56.14-17A254.32,254.32,0,0,1,282.93,0Z"/>
        <path class="shape-color-3"
              d="M568.94,0H429V40h41.89a252.65,252.65,0,0,0,56.4-17A254.61,254.61,0,0,0,568.94,0Z"/>
        <path class="shape-color-4" d="M429,23V0h-146a254.32,254.32,0,0,0,41.66,23,252.9,252.9,0,0,0,56.14,17H429Z"/>
    </svg>
</div>

<!-- Header serverless -->
<div layout:fragment="header-serverless">
    <svg
            class="header-cloud"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 650.7 40">
        <polygon class="shape-color-3" points="593.6,0 484.4,0 484.6,40 602.9,40 650.7,40 650.7,0 "/>
        <polygon class="shape-color-1" points="370.9,0 261,0 0,0 0,40 251.8,40 408.9,40 "/>
        <polygon class="shape-color-4" points="408.9,40 484.6,40 484.4,0 370.9,0 "/>
    </svg>
</div>

<!-- Header batch -->
<div layout:fragment="header-batch">
    <svg
            class="header-cloud"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 650.72 40">
        <polygon class="shape-color-3" points="561.52 0 601.52 40 650.72 40 650.72 0 561.52 0"/>
        <polygon class="shape-color-4" points="403.97 40 601.52 40 561.52 0 403.97 0 403.97 40"/>
        <rect class="shape-color-1" width="403.97" height="40"/>
    </svg>
</div>

<!-- Learn packman -->
<div layout:fragment="pacman-learn">
    <svg
            class="packman-learn"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 169.82 170.1">
        <g>
            <path class="shape-color-3" d="M146.44,26.4A84.89,84.89,0,0,0,0,85.74l84.59-.55Z"/>
            <path class="shape-color-1"
                  d="M148.58,84.78l-63.67.41h-.3L23.38,143.42A84.6,84.6,0,0,1,.06,87.78a84.9,84.9,0,0,0,169.76-3.14Z"/>
            <path class="shape-color-1" d="M0,85.74c0,.23,0,.46,0,.69,0-.23,0-.46,0-.69Z"/>
            <path class="shape-color-4"
                  d="M84.61,85.19,0,85.74c0,.23,0,.46,0,.69,0,.45,0,.9,0,1.35a84.6,84.6,0,0,0,23.32,55.64Z"/>
        </g>
    </svg>
</div>

<!-- Shape learn -->
<div layout:fragment="shape-learn">
    <svg
            class="shape-learn"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 37.79 69.16">
        <g>
            <rect class="shape-color-7" width="37.79" height="68.7"/>
            <polygon class="shape-color-1" points="19.37 50.74 19.37 0 0 0 0 31.37 19.37 50.74"/>
            <polygon class="shape-color-3" points="19.37 69.16 37.79 69.16 37.79 69.16 19.37 50.74 19.37 69.16"/>
            <polygon class="shape-color-4" points="19.37 69.16 19.37 50.74 0 31.37 0 69.16 19.37 69.16"/>
        </g>
    </svg>
</div>

<!-- Shape quickstart -->
<div layout:fragment="shape-quickstart">
    <svg
            class="shape-learn"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 124.93 124.93">
        <g>
            <path d="M24.84,100.09a33.39,33.39,0,0,1-15-8.67h0a33.52,33.52,0,0,1,0-47.4l44-44,23.7,23.7-44,44A33.5,33.5,0,0,0,24.84,100.09Z"
                  class="shape-color-3"/>
            <path d="M80.91,115.11a33.5,33.5,0,0,1-47.39,0h0a33.39,33.39,0,0,1-8.67-15,33.5,33.5,0,0,0,32.37-8.67l0,0,44-44,23.7,23.7-44,44Z"
                  class="shape-color-1"/>
            <path d="M57.21,91.42a33.5,33.5,0,0,1-32.37,8.67,33.5,33.5,0,0,1,8.67-32.37l44-44,23.7,23.7-44,44Z"
                  class="shape-color-4"/>
        </g>
    </svg>
</div>

<!-- Packman -->
<div layout:fragment="pacman">
    <svg
            class="packman"
            aria-hidden='true'
            focusable='false'
            role='img'
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 602.76 602.74">
        <g>
            <path d="M60.93,483.08c99.72,132,287,158.72,419.66,60.53L298.94,303.23Z" class="shape-color-3"/>
            <path d="M117.3,62.84C-13.38,163.64-38.8,351.1,60.93,483.08l238-179.85Z" class="shape-color-4"/>
            <path d="M117.28,62.81l0,0c.81-.62,1.57-1.28,2.38-1.9C118.87,61.56,118.08,62.19,117.28,62.81Z"
                  class="shape-color-1"/>
            <path d="M537.43,488.86a298.52,298.52,0,0,0,25-36.64q7.33-12.72,13.36-26a301.22,301.22,0,0,0,15.09-40.85q2-7,3.69-14,3.35-14.08,5.35-28.42,1-7.17,1.65-14.37,1.31-14.4,1.24-28.91,0-7.25-.42-14.49a300.94,300.94,0,0,0-5.46-43.31q-1.44-7.17-3.24-14.29-3.58-14.23-8.6-28.2t-11.49-27.52a302.75,302.75,0,0,0-31.73-52.15L298.94,303.23,480.59,543.61c.82-.61,1.66-1.16,2.47-1.77A302,302,0,0,0,537.43,488.86Z"
                  class="shape-color-5"/>
            <path d="M541.82,119.7C441.47-13.1,252.48-39.4,119.68,60.94c-.81.62-1.57,1.28-2.38,1.9L298.94,303.23Z"
                  class="shape-color-1"/>
        </g>
    </svg>
</div>

</body>
</html>