<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Spring | Community</title>
    <meta property='og:title' content='Engage with the Spring Community'/>
    <meta property='og:description' content='Explore Spring community events, projects, social media and more.'/>
</head>
<body id='community'>
<div layout:fragment="~{content}">
    <div id='hero' class='bg-lightblue rel of-hide' role='banner'>
        <div class='container rel z-1'>
            <h1 class='h1 antialiased mb-3'>Community</h1>
            <h2 class='h3 antialiased mb-2'>Events</h2>
            <div class='flex jc-between flex-wrap mb-2'>
                <a th:each="event : ${events}"
                   th:href="${event.link}" class='card third shadow-hover bg-white border-box block rel mb-2'
                    target="_blank">
                    <div class='greenbar'></div>
                    <div class='border-dark rad-5'>
                        <h3 class='h3 antialiased' th:text="${event.summary}">Event</h3>
                        <p class='location m-0' th:text="${event.location}">Location</p>
                        <p class='date' th:text="${#temporals.format(event.firstDay, 'yyyy-MM-dd')}">2020-01-01</p>
                    </div>
                </a>
            </div>
            <div class='center'>
                <a class='button transparent animate' th:href="@{/events}">More events</a>
            </div>
        </div>
        <img th:src="@{/images/world-map.svg}" alt=''>
    </div>
    <div class='content' role='main'>
        <div class='container'>
            <div class='flex jc-between flex-wrap mb-6'>
                <div class='third'>
                    <h2 class='h3 antialiased mb-2'>Community support</h2>
                    <div class='item mb-2'>
                        <a class='link-animate blue' href='https://stackoverflow.com/questions/tagged/spring'>Stack
                            Overflow</a>
                        <p class='m-0'>Ask questions and get help with problems from the global Spring community of
                            users and practitioners.</p>
                    </div>
                    <div class='item mb-2'>
                        <a class='link-animate blue' href='https://github.com/spring-projects'>Spring Projects on
                            GitHub</a>
                        <p class='m-0'>Read the code for most Spring projects, raise issues, suggest changes, and view
                            milestones and releases.</p>
                    </div>
                    <div class='item'>
                        <a class='link-animate blue' href='https://gitter.im/spring-projects/home'>Gitter</a>
                        <p class='m-0'>Some Spring projects also offer help and answer questions over Gitter.</p>
                    </div>
                </div>
                <div class='two-thirds'>
                    <h2 class='h3 antialiased mb-2'>Community projects</h2>
                    <div class='flex jc-between flex-wrap'>
                        <div class='half'>
                            <div class='item mb-2'>
                                <a class='link-animate blue' href='/projects/spring-cloud-alibaba'>Alibaba</a>
                                <p class='m-0'>With Spring Cloud Alibaba, you can easily connect your Spring
                                    applications to Alibaba services.</p>
                            </div>
                            <div class='item'>
                                <a class='link-animate blue' href='/projects/spring-cloud-aws'>Amazon Web Services</a>
                                <p class='m-0'>Spring Cloud for Amazon Web Services eases the integration of Spring
                                    applications with hosted Amazon Web Services.</p>
                            </div>
                        </div>
                        <div class='half'>
                            <div class='item mb-2'>
                                <a class='link-animate blue' href='/projects/spring-cloud-gcp'>Google Cloud Platform</a>
                                <p class='m-0'>Using Google Cloud from Spring needn’t be taxing. The Spring Cloud GCP
                                    project makes the Spring Framework a first-class citizen of Google Cloud Platform
                                    (GCP)</p>
                            </div>
                            <div class='item'>
                                <a class='link-animate blue' href='https://cloud.spring.io/spring-cloud-azure/'>Microsoft</a>
                                <p class='m-0'>The Spring Cloud for Microsoft Azure project provides seamless
                                    integration to Azure managed services from your Spring applications. And there’s
                                    also <a class='link-darken blue'
                                            href='https://azure.microsoft.com/en-us/services/spring-cloud/'>Azure Spring
                                        Cloud</a>, a platform for running Spring Boot microservice applications on
                                    Azure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='flex flex-wrap jc-between'>
                <div class='third'>
                    <div class='flex ai-center mb-3'>
                        <img id='twitter' th:src="@{/images/twitter.svg}">
                        <h3 class='h3 antialiased inline-block m-0'>Twitter</h3>
                    </div>
                    <div id='twitter-list' class='flex jc-between'>
                        <div class='half'>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springcentral">Spring
                                Central</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springboot">Spring Boot</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springframework">Spring
                                Framework</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springcloud">Spring
                                Cloud</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springdata">Spring Data</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/Springbatch">Spring
                                Batch</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/SpringSecurity">Spring
                                Security</a>
                        </div>
                        <div class='half'>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springtools4">Spring
                                Tools</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springone">SpringOne</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springops">Spring Ops</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/springrestdocs">Spring
                                RESTDocs</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/SpringTipsLive">Spring Tips
                                Live!</a>
                            <a class='blue link-darken block mb-1' href="https://twitter.com/BootifulPodcast">A Bootiful
                                Podcast</a>
                        </div>
                    </div>
                </div>
                <div class='two-thirds'>
                    <div class='flex ai-center mb-3'>
                        <img id='youtube' th:src="@{/images/youtube.svg}">
                        <h3 class='h3 antialiased inline-block m-0'>YouTube</h3>
                    </div>
                    <div class='iframe-container'>
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/videoseries?list=UU7yfnfvEUlXUIfm8rGLwZdA"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <br>
                    <a class='button transparent animate' href='https://www.youtube.com/user/SpringSourceDev'>More
                        videos</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
