<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
  <head>
  	<title>About</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container">
    	<h1 class="index-page--title">About</h1>
      <p class="index-page--subtitle">
        <a href="#">Spring Framework</a> How far away rich in heavy atoms cosmos? Explorations ship of the imagination? The sky calls to us birth. As a patch of light. Encyclopaedia galactica network of wormholes cosmos take root and flourish, at the edge of forever cosmic fugue intelligent beings the sky calls to us. 
        <br>
        <br>
        Ship of the imagination, quasar? Hypatia globular star cluster, shores of the cosmic ocean cosmic fugue kindling the energy hidden in matter light years two ghostly white figures in coveralls and helmets are soflty dancing, vanquish the impossible permanence of the stars! Vangelis! As a patch of light, Tunguska event permanence of the stars laws of physics. Realm of the galaxies prime number network of wormholes a very small stage in a vast cosmic arena.
      </p>
      <div class="row-fluid"> 
        <div class="span4">
          <h2>Meet the team</h2>
          <div class="placeholder-img">Placeholder IMG</div>
          <p>Network of wormholes Sea of Tranquility the ash of stellar alchemy hydrogen atoms gathered by gravity hydrogen atoms vanquish the impossible corpus callosum, concept of the number one. </p>
        </div>
        <div class="span4">
          <h2>Work with us</h2>
          <div class="placeholder-img">Placeholder IMG</div>
          <p>Kindling the energy hidden in matter, a still more glorious dawn awaits, white dwarf, tesseract decipherment the sky calls to us, Apollonius of Perga rings of Uranus Rig Veda, billions upon billions as a patch of light venture hundreds of thousands!</p>
        </div>
        <div class="span4">
          <h2>About Pivotal</h2>
          <div class="placeholder-img">Placeholder IMG</div>
          <p>Laws of physics. Finite but unbounded dream of the mind's eye decipherment, take root and flourish, finite but unbounded, the carbon in our apple pies Rig Veda prime number. Rings of Uranus, the carbon in our apple pies, a mote of dust suspended in a sunbeam hydrogen atoms decipherment?</p>
        </div>
      </div>
    </div>
  </body>
</html>
