<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
  <head>
    <title>Spring</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid">
      <div class="billboard--wrapper homepage-billboard">
        <div class="billboard--container">
          <div class="container-fluid">
            <div class="icon icon-spring-logo-big homepage-icon"></div>
            <div class="homepage-title--container">
              <div class="homepage-title">
                Let's build a better Enterprise.
              </div>
              <div class="homepage-subtitle--container">
                <div class="homepage-subtitle">
                  Spring helps development teams everywhere build
                </div>
                <div class="homepage-subtitle">
                  simple, fast and powerful JVM-based systems and applications.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage--body">
        <div class="key-feature--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-build-anything"></div>
                </div>
                <div class="key-feature--title">Build Anything</div>
                <div class="key-feature--text">
                  Write clean, testable code against the infrastructure components of your choice and accomplish any task – without re-inventing the wheel.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-run-anywhere"></div>
                </div>
                <div class="key-feature--title">Run Anywhere</div>
                <div class="key-feature--text">
                  Keep it portable – Spring-based apps run anywhere the JVM does. Deploy standalone, in an app server, on a PaaS or all of the above.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-rest-assured"></div>
                </div>
                <div class="key-feature--title">Rest Assured</div>
                <div class="key-feature--text">
                  Code with confidence – Spring provides an open programming model that is comprehensive, cohesive, widely understood and well-supported.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-feature--wrapper">
          <div class="offset-feature--container feature-guides">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8">
                  <div class="offset-feature--title">Guides</div>
                  <div class="offset-feature--text">
                    Whether you're an expert or a newcomer our task-focused Getting Started Guides and Tutorials are designed to get you productive with Spring as quickly as possible.
                  </div>
                  <a href="/guides" class="offset-feature--link">
                    Browse the guides
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-sts">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8 offset4">
                  <div class="offset-feature--title">Spring Tool Suite&trade;</div>
                  <div class="offset-feature--text">
                    Your tools should be as refined as the code you write. STS is our Eclipse-based IDE crafted to serve the needs of building applications with Spring. We're always working on new features and performance in our mission to make STS the most productive Eclipse distribution available.
                  </div>
                  <a href="/tools/sts" class="offset-feature--link">
                    Learn more about STS
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-projects">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8">
                  <div class="offset-feature--title">Spring Projects</div>
                  <div class="offset-feature--text">Emerged into consciousness concept of the number one, a still more glorious dawn awaits? Birth something incredible is waiting to be known worldlets dream of the mind's eye, dispassionate extraterrestrial observer. White dwarf? Courage of our questions.</div>
                  <a href="/projects" class="offset-feature--link">
                    View projects
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="support--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span6 support--container">
                <div class="icon icon-community-support"></div>
                <div class="support--title">
                  Community Support
                </div>
                <div class="support-links">
                  <a href="http://forum.spring.io">Forum</a>
                  <a href="http://stackoverflow.com/questions/tagged/spring">Stack Overflow</a>
                </div>
              </div>
              <div class="span6 support--container">
                <div class="icon icon-professional-support"></div>
                <div class="support--title">
                  Professional Support
                </div>
                <div class="support-links">
                  <a href="/services">Support</a>
                  <a href="http://www.gopivotal.com/contact/spring-training">Training</a>
                  <a href="http://www.gopivotal.com/contact/spring-consulting">Consulting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage-fix"></div>
    </div>
  </body>
</html>
