<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
  <head>
  	<title>SpringFramework - Home</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div> 
    <div layout:fragment="content" class="container-fluid">
      <div class="homepage--container">
        <div id="myCarousel" class="carousel slide homepage-carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="carousel-item--wrapper carousel-laptop">
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span6 offset6 carousel-item--container">
                      <div class="homepage--title">Spring Framework</div>
                      <div class="homepage--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
                      <a href="#" class="homepage--call-to-action">Call-To-Action</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-item--wrapper carousel-people">
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span6 offset6 carousel-item--container">
                      <div class="homepage--title">Spring Community</div>
                      <div class="homepage--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
                      <a href="#" class="homepage--call-to-action">Call-To-Action</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-item--wrapper carousel-seminar">
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span6 offset6 carousel-item--container">
                      <div class="homepage--title">
                        SpringOne2GX
                      </div>
                      <div class="homepage--subtitle">
                        September 9-12, 2013, Santa Clara, CA
                      </div>
                      <div class="homepage--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
                      <a href="#" class="homepage--call-to-action">Call-To-Action</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-item--wrapper carousel-social">
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span5 carousel-item--container">
                      <div class="homepage-blog--meta-data">
                        Spring News: July 11, 2013
                      </div>
                      <div class="homepage-blog--title">
                        Spring Security Java Config Preview: Readability
                      </div>
                      <div class="homepage-blog--preview">
                        In this post, I will discuss how to make your Spring Security Java configuration more readable. The post is intended to elaborate on a point from Spring Security Java Config Preview: Web Security ...
                      </div>
                      <a href="#" class="homepage-blog--read-more">
                        Read More...
                      </a>
                    </div>
                    <div class="span6 offset1 carousel-item--container">
                      <div class="homepage--title">Keep Informed</div>
                      <div class="homepage--social-media">
                        <a href="http://twitter.com/SpringSource" class="social-btn twitter"></a>
                        <a href="https://plus.google.com/u/0/b/109970428231307622681/109970428231307622681" class="social-btn googleplus"></a>
                        <a href="http://www.linkedin.com/groups/Spring-Users-46964" class="social-btn linkedin"></a>
                        <a href="http://www.facebook.com/groups/10463298884/" class="social-btn facebook"></a>
                        <a href="http://www.youtube.com/user/SpringSourceDev" class="social-btn youtube"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        </div>
        <div class="homepage--body">
          <div class="row-fluid">
            <div class="span4 homepage--key-feature">
              <div class="key-feature--icon">1</div>
              <div class="key-feature--title">Cras Vestibulum</div>
              <div class="key-feature--text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</div>
              <a href="#" class="key-feature--call-to-action">Call-To-Action</a>
            </div>
            <div class="span4 homepage--key-feature">
              <div class="key-feature--icon">2</div>
              <div class="key-feature--title">Ornare Egestas</div>
              <div class="key-feature--text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</div>
              <a href="#" class="key-feature--call-to-action">Call-To-Action</a>
            </div>
            <div class="span4 homepage--key-feature">
              <div class="key-feature--icon">3</div>
              <div class="key-feature--title">Dapibus Parturient</div>
              <div class="key-feature--text">Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
              <a href="#" class="key-feature--call-to-action">Call-To-Action</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>