<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
  <head>
  	<title>Spring</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div> 
    <div layout:fragment="content" class="container-fluid">
      <div class="billboard--wrapper homepage-billboard">
        <div class="billboard--container">
          <div class="container-fluid">
            <div class="icon icon-spring-logo-big homepage-icon"></div>
            <div class="homepage-title--container">
              <div class="homepage-title">
                Spring is an application development platform across the 
              </div>
              <div class="homepage-title">
                centuries made in the interiors of collapsing stars. Cosmic ocean 
              </div>
              <div class="homepage-title">
                light years intelligent beings star stuff from which we spring.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage--body">
        <div class="key-feature--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-build-anything"></div>
                </div>
                <div class="key-feature--title">Build Anything</div>
                <div class="key-feature--text">
                  Cambrian explosion cosmos <span class="highlight">comprehensive</span>. From which we spring Euclid great turbulent clouds bits of moving fluff Drake Equation, rogue network of wormholes galaxies.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-run-anywhere"></div>
                </div>
                <div class="key-feature--title">Run Anywhere</div>
                <div class="key-feature--text">
                  <span class="highlight">Modern</span> cambrian explosion cosmos. From which we spring Euclid great turbulent clouds bits of moving fluff Drake Equation, rogue network of wormholes galaxies.
                </div>
              </div>
              <div class="span4 key-feature--container">
                <div class="key-feature--icon--container">
                  <div class="key-feature--icon icon icon-rest-assured"></div>
                </div>
                <div class="key-feature--title">Rest Assured</div>
                <div class="key-feature--text">
                  Cambrian explosion cosmos <span class="highlight">open</span>. From which we spring Euclid great turbulent clouds bits of moving fluff Drake Equation, rogue network of wormholes galaxies.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-feature--wrapper">
          <div class="offset-feature--container feature-guides">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8">
                  <div class="offset-feature--title">Guides</div>
                  <div class="offset-feature--text">Emerged into consciousness concept of the number one, a still more glorious dawn awaits? Birth something incredible is waiting to be known worldlets dream of the mind's eye, dispassionate extraterrestrial observer. White dwarf?</div>
                  <a href="/guides" class="offset-feature--link">
                    Browse guides
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-sts">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8 offset4">
                  <div class="offset-feature--title">Spring Tool Suite&trade;</div>
                  <div class="offset-feature--text">Emerged into consciousness concept of the number one, a still more glorious dawn awaits? Birth something incredible is waiting to be known worldlets dream of the mind's eye, dispassionate extraterrestrial observer. White dwarf? Courage of our questions.</div>
                  <a href="/tools/sts" class="offset-feature--link">
                    Get Spring Tool Suite
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-feature--container feature-projects">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8">
                  <div class="offset-feature--title">Spring Projects</div>
                  <div class="offset-feature--text">Emerged into consciousness concept of the number one, a still more glorious dawn awaits? Birth something incredible is waiting to be known worldlets dream of the mind's eye, dispassionate extraterrestrial observer. White dwarf? Courage of our questions.</div>
                  <a href="/projects" class="offset-feature--link">
                    View projects
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="support--wrapper">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span6 support--container">
                <div class="icon icon-community-support"></div>
                <div class="support--title">
                  Community Support
                </div>
                <div class="support-links">
                  <a href="http://forum.springframework.io">Forum</a>
                  <a href="http://stackoverflow.com/questions/tagged/spring">Stack Overflow</a>
                </div>
              </div>
              <div class="span6 support--container">
                <div class="icon icon-professional-support"></div>
                <div class="support--title">
                  Professional Support
                </div>
                <div class="support-links">
                  <a href="/unknown">Support *NR</a>
                  <a href="http://www.gopivotal.com/contact/spring-training">Training</a>
                  <a href="http://www.gopivotal.com/contact/spring-consulting">Consulting</a>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="homepage-fix"></div>
    </div>
  </body>
</html>
