<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Jobs</title>
</head>
<body>
<h1 layout:fragment="header">Jobs</h1>
<div layout:fragment="content" class="container">
    <h2>We love working at Spring</h2>
    <p>Copy about working at Spring, working remotely, from an office and a globally distributed team of world&#45;class open source developers. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>

    <iframe src="http://www.jobvite.com/CompanyJobs/Jobs.aspx?c=qtX9Vfwe&amp;jvresize=/jobvite/frameresize.htm" width="100%" height="1800" scrolling="no" frameborder="0">Sorry, iframes are not supported.</iframe>
</div>
</body>
</html>
