<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>
    <title>Spring IO Platform</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="top-content">
      <div class="platform-index--header">
        <div class="row-fluid">
          <div class="span6 mobile-left-pane">
            <h1 class="index-page--title">
              The Spring IO Platform
            </h1>
            <p class="index-page--subtitle">Coming Soon &ndash; Spring IO brings together the Spring family of projects into a cohesive and versioned foundational platform for modern applications. On top of this foundation it also provides domain-specific execution environments for a variety of enterprise workloads.</p>
          </div>
          <div class="span6">
            <div class="platform-watermark--large desktop-only"></div>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="full-width--layout">
      <div class="platform-stack--wrapper">
        <img src="img/platform-stack.png">
      </div>
    </div>
  </body>
</html>


