<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>SpringFramework - Projects</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container">
    <h1 class="index-page--title">Projects</h1>
    <p class="index-page--subtitle">Spring is home to a vibrant community of quality open source projects that simplify the development of business applications and provide rock-solid runtime services. You can get all of these projects through <a href="#">Spring Tool Suite&trade;</a> (STS), but if you'd like to consume Spring technologies individually - or get involved with their development - visit the individual project pages.</p>
    <div class="projects--wrapper">
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-framework"></div>
        </div>
        <div class="project--title">Spring Framework</div>
        <p class="project--description">Spring is a layered Java application platform for building enterprise solutions and is based on code published in the book Expert One-on-One J2EE Design and Development by Rod Johnson.</p>
      </div>
      <div class="project--container parent-project">
        <div class="child-project-count--wrapper">
          <div class="child-project-count--number">2</div>
          <div class="child-project-count--background">
          </div>
        </div>
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
          <a href="#" class="project-link">
            <div class="icon icon-projects"></div>
            <p>Projects</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-security"></div>
        </div>
        <div class="project--title">Spring Security</div>
        <p class="project--description">Spring Security is a powerful and highly customizable authentication and access-control framework that works efficiently in Spring applications with just a few lines of configuration.</p>
      </div>
      <div class="project--container parent-project">
        <div class="child-project-count--wrapper">
          <div class="child-project-count--number">9</div>
          <div class="child-project-count--background"></div>
        </div>
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
          <a href="#" class="project-link">
            <div class="icon icon-projects"></div>
            <p>Projects</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-data"></div>
        </div>
        <div class="project--title">Spring Data</div>
        <p class="project--description">Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-batch"></div>
        </div>
        <div class="project--title">Spring Batch</div>
        <p class="project--description">Spring Batch is a lightweight, comprehensive batch framework designed to simplify and optimize the work of processing high volume batch operations.</p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-integration"></div>
        </div>
        <div class="project--title">Spring Integration</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-amqp"></div>
        </div>
        <div class="project--title">Spring AMQP</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-default"></div>
        </div>
        <div class="project--title">Spring Hateoas</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-mobile"></div>
        </div>
        <div class="project--title">Spring Mobile</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-android"></div>
        </div>
        <div class="project--title">Spring Android</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container parent-project">
        <div class="child-project-count--wrapper">
          <div class="child-project-count--number">4</div>
          <div class="child-project-count--background"></div>
        </div>
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-social"></div>
        </div>
        <div class="project--title">Spring Social</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-default"></div>
        </div>
        <div class="project--title">Spring Web Flow</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
      <div class="project--container">
        <div class="project-links--container">
          <a href="#" class="project-link">
            <i class="icon-github"></i>
            <p>Repo</p>
          </a>
          <a href="#" class="project-link">
            <i class="icon-globe"></i>
            <p>Site</p>
          </a>
        </div>
        <div class="project-logo--container">
          <div class="icon project--logo logo-spring-default"></div>
        </div>
        <div class="project--title">Spring Web Services</div>
        <p class="project--description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. </p>
      </div>
    </div>
  </div>
</body>
</html>
