<html
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Projects</title>
</head>
<body>
<h1 layout:fragment="header">Projects</h1>
<div layout:fragment="overview">Tutorials introductory blurb. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet arcu nec odio rhoncus ut lobortis magna volutpat. Integer dignissim elementum quam id.</div>

<div layout:fragment="content" class="container">
	<h2>Individual Projects</h2>
	<ul>
		<li>Spring Framework</li>
		<li>Spring Data</li>
		<li>Spring Integration</li>
	</ul>
</div>
</body>
</html>