<html   xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>Services</title>
</head>
<body>
    <h1 layout:fragment="header">Spring and Apache Project Consulting</h1>

    <div layout:fragment="content" class="container">
        <p>Open Source Consulting for Spring and Apache Tomcat
            Technologies</p>
        <ul class="standard">
            <p>SpringSource consulted at over 400 customer sites, across 20
            countries over 5 continents SpringSource consultants are the same
            people that develop and maintain Spring, Tomcat, and Groovy &amp;
            Grails This means:</p>
            <ul class="standard">
                <li>Our consultants are also developers and trainers on those
                    technologies</li>
                <li>Our consultants bring real world expertise to your company</li>
                <li>Our customers often consider our consultants to be the best
                    they have ever worked with</li>
            </ul>
            <p>Our Productized Services Offering</p>
            <ul>
                <li><strong>Architectural Application Review</strong><br />
                    SpringSource Technical Review is a deep consultative engagement
                    where a highly qualified SpringSource consultant will conduct a
                    thorough on-site review of the application and its code, resulting
                    in invaluable feedback to your team.</li>
                <li><strong>Migration Solutions</strong><br /> The Migration
                    Solutions from SpringSource have been designed to help customers
                    successfully migrate from their existing Enterprise Software
                    environment to market leading SpringSource Products like among
                    others; Spring, tc Server or dm Server.</li>
                <li><strong>Proof of Concept</strong><br /> SpringSource Proof
                    of Concept (PoC) consulting engagement is designed for
                    organizations looking at taking the advantage of powerful
                    SpringSource products and technologies, and wish to assess the
                    benefits of adopting one of SpringSource&rsquo;s market leading
                    products like Spring, tc Server or dm Server.</li>
                <li><strong>Onsite Consulting</strong><br /> SpringSource
                    Onsite Consulting is available to companies that wish to leverage
                    the knowledge and expertise of SpringSource&rsquo;s senior
                    consultants on SpringSouce&rsquo;s Open Source products like
                    Spring, Spring WebFlow, Spring Integration, or on
                    SpringSource&rsquo;s commercial products like tc Server.</li>
            </ul>
            <p>
                Contact us by phone<br /> US &amp; Canada: +1 800 444 1935<br />
                United Kingdom: +44 2380 111500<br /> Germany, Austria &amp;
                Switzerland: +49 30 692 00 418-0<br /> France: +33 (0) 975180101<br />
                Europe, Middle East &amp; Africa: +31 15 214 6777<br /> Australia
                &amp; Asia: +61 2 8986 5200<br /> &nbsp;<br /> Or <a
                    href="http://www.vmware.com/services/consulting/vmware-vfabric-consulting-services.html"
                    target="_blank">Contact Us Online!</a>
            </p>
        </ul>
    </div>
</body>
</html>
