<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>Services</title>
</head>
<body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container">
        <div class="content--title">Spring Services</div>
        <div class="content--container">
            <h2>Spring Consulting, Training and Support from the Source</h2>
            <p>Accelerate your new application development projects and minimize performance risks by taking advantage of <a href="#">Pivotal</a> services. Pivotal is the primary sponsor of the  Spring Community and our consultants are the same people that create and maintain Spring, Apache Tomcat, Groovy and Grails. This means:</p>
            <ul>
                <li>Our consultants are also hard-core Java developers
                <li>Our consultants bring real-world expertise to your company</li>
                <li>We have an army of Java engineers backing up the consultants you work with</li>
            </ul>
            <a href="#">
                Learn More
                <i class="icon-chevron-right"></i>
            </a>
            <h2>Spring Developer Support</h2>
            <p>Commercial support, maintenance, and tools are available for all aspects of the Spring Framework through the Developer Support Subscription from Pivotal, the company behind Spring. This Subscription covers the application development phase for developers using the following technologies: Spring Framework and related Spring projects, Groovy and Grails, Apache Tomcat and HTTP Server, and RabbitMQ.</p>
            <a href="#">
                Learn More
                <i class="icon-chevron-right"></i>
            </a>
            <h2>Spring Training</h2>
            <p>In conjunction with its partners, Pivotal offers training services for developers, system administrators, and technical managers. Current developer training courses are for Spring, Groovy, Grails, Pivotal Gemfire and Pivotal RabbitMQ. Additional developer courses are available for introductory and advanced Scala, as well as Akka and Play. For administrators, Pivotal also offers courses for Pivotal tcServer, Apache Tomcat, and VMware Hyperic.</p>
            <a href="#">
                Learn More
                <i class="icon-chevron-right"></i>
            </a>
        </div>
    </div>
</body>
</html>
