<!DOCTYPE html>
<html>
<head>

	<title>Style guide</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" href="../../bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-responsive.css}" href="../../bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500, 600, 700" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:400,700" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Varela+Round" />
	<link rel="stylesheet" type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}" href="../../font-awesome/css/font-awesome.min.css" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css.css}" href="../../static/css/main.css.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/typography.css.css}" href="../../static/css/typography.css.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/application.css.css}" href="../../static/css/application.css.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css.css}" href="../../static/css/blog.css.css" />

	<script type="text/javascript" th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../bootstrap/js/bootstrap.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
  <script>
  $(function() {
    $('.js-spring-popover').popover({ html: true});

    //OPENS SEARCH INPUT
    $(".js-search-input-open").click(function () {
      $(".js-search-input").addClass("js-open");
    });
  });


  </script>

</head>
<body>
  <!-- <div class="background-grid"></div> -->
  <div class="navbar navbar-fixed-top header--navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand spring-logo" th:href="@{/}"></a>
        <ul class="nav pull-right">
          <li class=" navbar-link">
            <a href="#">Docs</a>
          </li>
          <li class="navbar-link active">
            <a href="#">Guides</a>
          </li>
          <li class="navbar-link">
            <a href="#">Projects</a>
          </li>
          <li class="navbar-link">
            <a href="#">Blog</a>
          </li>
          <li class="navbar-link">
            <a href="#">Forum</a>
          </li>
          <li class="nav-search">
            <div class="header-nav-search--container js-search-input">
              <input type="text" class="header-nav-search--input" placeholder="Search for documentation, guides, and posts...">
              <i class="icon-search header-nav-search--icon js-search-input-open"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header--container">
    <div class="header--content container-fluid">
      <div class="row-fluid">
        <h1 class="header--content-title span8">
          Header title
        </h1>
      </div>
      <div class="row-fluid">
        <h3 class="header--content-subtitle span8">
          Subttile Ligula Risus Tristique Pharetra and a <a href="#" class="header--content-subtitle--link">link</a>
        </h3>
      </div>
    </div>
 	</div>

  <div class="body--container with-filter container-fluid ">
    <h1>Search Styles</h2>  
    <div class="title-divider"></div>
    <h2>Filter on a page</h2>
    <div class="title-divder"></div>
    <div class="row-fluid filter--container">
      <i class="icon-search floating-input--icon"></i>
      <input type="text" class="floating-input span6" placeholder="filter">
    </div>

    <pre class="prettyprint">
      &lt;h2&gt;Search Styles&lt;/h2&gt;  
      &lt;h3&gt;Filter on a page&lt;/h3&gt;
      &lt;div class=&quot;row-fluid filter--container&quot;&gt;
        &lt;i class=&quot;icon-search floating-input--icon&quot;&gt;&lt;/i&gt;
        &lt;input type=&quot;text&quot; class=&quot;floating-input span6&quot; placeholder=&quot;filter&quot;&gt;
      &lt;/div&gt;
    </pre>
    <div class="row--container">
      <div class="row-fluid">
        <h1>Page List Layouts</h1>    
        <div class="title-divider"></div>
        <h2>3 Column layout, with link and descriptions</h2>
      </div>
      <div class="row-fluid body--container--row">
        <div class="span4">
          <a href="#" class="body--container--link"> <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>

        <div class="span4">
          <a href="#" class="body--container--link"> <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>

        <div class="span4">
          <a href="#" class="body--container--link" > <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>
      </div>
      <div class="row-fluid body--container--row">
        <div class="span4">
          <a href="#" class="body--container--link"> <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>

        <div class="span4">
          <a href="#" class="body--container--link"> <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>

        <div class="span4">
          <a href="#" class="body--container--link" > <h3> Getting started building a RESTful web service </h3></a>
          <p>Aenean eu leo quam. Pellentesque ornare sem</p>
        </div>
      </div>
    </div>

  	<pre class="prettyprint">
      &lt;div class=&quot;row--container&quot;&gt;
      	&lt;div class=&quot;row-fluid&quot;&gt;
      		&lt;h2&gt;Page List Layouts&lt;/h2&gt;
      		&lt;h3&gt;3 Column layout, with link and descriptions&lt;/h3&gt;
      	&lt;/div&gt;
      	&lt;div class=&quot;row-fluid body--container--row&quot;&gt;
      		&lt;div class=&quot;span4&quot;&gt;
      			&lt;a href=&quot;#&quot; class=&quot;body--container--link&quot;&gt;Getting started building a RESTful web service&lt;/a&gt;
      			&lt;p&gt;Aenean eu leo quam. Pellentesque ornare sem&lt;/p&gt;
      		&lt;/div&gt;

      		&lt;div class=&quot;span4&quot;&gt;
      			&lt;a href=&quot;#&quot; class=&quot;body--container--link&quot;&gt;Getting started building a RESTful web service&lt;/a&gt;
      			&lt;p&gt;Aenean eu leo quam. Pellentesque ornare sem&lt;/p&gt;
      		&lt;/div&gt;

      		&lt;div class=&quot;span4&quot;&gt;
      			&lt;a href=&quot;#&quot; class=&quot;body--container--link&quot; &gt;Getting started building a RESTful web service&lt;/a&gt;
      			&lt;p&gt;Aenean eu leo quam. Pellentesque ornare sem&lt;/p&gt;
      		&lt;/div&gt;
      	&lt;/div&gt;
      &lt;/div&gt;
  	</pre>

    <div class="row--container">
      <div class="row-fluid">
        <h2>6 column grid with links and popover</h2>
      </div>
      <div class="row-fluid body--container--row">
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</a>
            </div>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</div>
            </li>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</div>
            </li>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</div>
            </li>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</div>
            </li>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
        <div class="span2">
          <a href="#" class="body--container--link bold">Spring Project Name</a> 
          <ul class="list-link--container">
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="Reference Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> Reference Docs</div>
            </li>
            
            <li class="list-link">
              <div href="#" class="js-spring-popover" data-title="API Docs" data-content="

              <ul class='list-link--container'>
                <li class='list-link'>
                  <a href='#'>3.1.4.RELEASE (Current)</a>
                </li>
                <li class='list-link'>
                  <a href='#'>1.2.4</a>
                </li>
                <li class='list-link'>
                  <a href='#'>5.6.7.0</a>
                </li>
              </ul>

              " data-toggle="popover" data-placement="bottom"> API Docs</div>
            </li>
            <li class="list-link">
              <a href="#">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <pre class="prettyprint">
      &lt;div class=&quot;row--container&quot;&gt;
        &lt;div class=&quot;row-fluid&quot;&gt;
          &lt;h3&gt;6 column grid with links and popover&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row-fluid body--container--row&quot;&gt;
          &lt;div class=&quot;span2&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;body--container--link bold&quot;&gt;Spring Project Name&lt;/a&gt;
            &lt;ul class=&quot;list-link--container&quot;&gt;
              &lt;li class=&quot;list-link&quot;&gt;
                &lt;div class=&quot;js-spring-popover&quot; data-title=&quot;Reference Docs&quot; data-content=&quot; 
                  &lt;ul class=&lsquo;list-link--container&rsquo;&gt;
                    &lt;li class=&lsquo;list-link&lsquo;&gt;
                      &lt;a href=&lsquo;#&rsquo;&gt;3.1.4.RELEASE (Current)&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&lsquo;list-link&rsquo;&gt;
                      &lt;a href=&lsquo;#&rsquo;&gt;1.2.4&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&lsquo;list-link&rsquo;&gt;
                      &lt;a href=&lsquo;#&rsquo;&gt;5.6.7.0&lt;/a&gt;
                    &lt;/li&gt;
                  &lt;/ul&gt;
                &quot;data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot;&gt;Reference Docs&lt;/div&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </pre>
    <div class="row--container">
      <h2> 3 Column grid with bottom slide</h2>
      <div class="row-fluid body--container--row">
        <div class="span4 bottom-slide--container">
          <a href="">
            <div class="bottom-slider--image">
            </div>
            <div class="bottom-slider">
              <h3 class="bottom-slider--title">
                <a href="#" class="body--container--link bold">Linky Title goes here</a>
              </h3>
              <div class="bottom-slider--more-info">
                <p>
                  Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="#" class="btn pull-right">
                  <i class="icon-github bottom-slider--icon"></i>
                </a>
                <div class="clear"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="span4 bottom-slide--container">
          <a href="">
            <div class="bottom-slider--image">
            </div>
            <div class="bottom-slider">
              <h3 class="bottom-slider--title">
                <a href="#" class="body--container--link bold">Linky Title goes here</a>
              </h3>
              <div class="bottom-slider--more-info">
                <p>
                  Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="#" class="btn pull-right">
                  <i class="icon-github bottom-slider--icon"></i>
                </a>
                <div class="clear"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="span4 bottom-slide--container">
          <a href="">
            <div class="bottom-slider--image">
            </div>
            <div class="bottom-slider">
              <h3 class="bottom-slider--title">
                <a href="#" class="body--container--link bold">Linky Title goes here</a>
              </h3>
              <div class="bottom-slider--more-info">
                <p>
                  Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="#" class="btn pull-right">
                  <i class="icon-github bottom-slider--icon"></i>
                </a>
                <div class="clear"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <pre class="prettyprint">
        &lt;div class=&quot;row-fluid body--container--row&quot;&gt;
          &lt;div class=&quot;span4 bottom-slide--container&quot;&gt;
            &lt;a href=&quot;&quot;&gt;
              &lt;div class=&quot;bottom-slider--image&quot;&gt;
              &lt;/div&gt;
              &lt;div class=&quot;bottom-slider&quot;&gt;
                &lt;h3 class=&quot;bottom-slider--title&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;body--container--link bold&quot;&gt;Linky Title goes here&lt;/a&gt;
                &lt;/h3&gt;
                &lt;div class=&quot;bottom-slider--more-info&quot;&gt;
                  &lt;p&gt;
                    Nullam quis risus eget urna mollis ornare vel eu leo.
                  &lt;/p&gt;
                  &lt;a href=&quot;#&quot; class=&quot;btn pull-right&quot;&gt;
                    &lt;i class=&quot;icon-github bottom-slider--icon&quot;&gt;&lt;/i&gt;
                  &lt;/a&gt;
                  &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      </pre>
    </div>
    <div class="row--container">
      <h2>Getting Started Guide Layout</h2>
      <div class="row-fluid">
        <div class="span8">
          <h1>Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</h1>
          <h3>Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</h3>
          <div class="title-divider"></div>
          <div class="body--container--rowr">
            <h2>What you'll build</h2>
            <p>This guide will walk you through creating a "hello world" RESTful web service with Spring. The service will accept HTTP GET requests at:</p>
            <div class="code-snippet">
              {"id":1,"content":"Hello, World!"}
            </div>
          </div>
        </div>
        <div class="span4 right-pane">
          <div class="body--container--row">
            <h2>Build System</h2>
            <div class="btn-group">
              <div class="btn active">
                Maven
              </div>
              <div class="btn">
                Gradle
              </div>
            </div>
          </div>
          <div class="body--container--row">
            <h2>Get the code</h2>
            <div class="btn-group">
              <div class="btn active">
                HTTPS
              </div>
              <div class="btn">
                SSH
              </div>
              <div class="btn">
                Subversion
              </div>
            </div>
            <div class="gh-project-url--container">
              <input value="git@github.com:springframework-meta/springframework.org.git">
              <i class="icon-copy icon--pull-right"></i>
            </div>
            <div class="btn btn--full-width">
              <i class="icon-cloud-download"></i>
              Download
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row--container">
      <h2>Blog Layout</h2>
      <div class="row-fluid blog--wrapper">
        <div class="span8">
          <div class="blog-preview--wrapper">
            <div class="blog-preview--container">
              <div class="blog-preview--title">
                <a href="">
                  This week in Spring - June 2013
                </a>
              </div>
              <div class="blog-preview--meta-data">
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  <a href="#">
                    News & Events
                  </a>
                </div>
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  <a href="#">
                    Oliver G.
                  </a>
                </div>
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  April 25, 2013
                </div>
              </div>
              <div class="blog-preview--post">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                <a href="#">Read More...</a>
              </div>
            </div>
            <div class="blog-preview--container">
              <div class="blog-preview--title">
                <a href="">
                  This week in Spring - June 2013
                </a>
              </div>
              <div class="blog-preview--meta-data">
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  <a href="#">
                    News & Events
                  </a>
                </div>
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  <a href="#">
                    Oliver G.
                  </a>
                </div>
                <div class="meta-data--item">
                  <i class="meta-data--icon"></i>
                  April 25, 2013
                </div>
              </div>
              <div class="blog-preview--post">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                <a href="#">Read More...</a>
              </div>
            </div>
          </div>
          <div class="pagination blog-pagination">
            <ul>
              <li><a href="#"><i class="icon-chevron-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="icon-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <ul class="blog-category--container">
            <li class="blog-category active">
              <a href="#">All Posts</a>
              <a href="#" class="pull-right"><i class="icon-rss"></i></a>
            </li>
            <li class="blog-category">
              <a href="#">Broadcast</a>
              <a href="#" class="pull-right"><i class="icon-rss"></i></a>
            </li>
            <li class="blog-category">
              <a href="#">Engineering</a>
              <a href="#" class="pull-right"><i class="icon-rss"></i></a>
            </li>
            <li class="blog-category">
              <a href="#">Releases</a>
              <a href="#" class="pull-right"><i class="icon-rss"></i></a>
            </li>
            <li class="blog-category">
              <a href="#">News & Events</a>
              <a href="#" class="pull-right"><i class="icon-rss"></i></a>
            </li>
          </ul>
          <ul class="social-btn--container">
            <li class="social-btn twitter"></li>
            <li class="social-btn googleplus"></li>
            <li class="social-btn linkedin"></li>
            <li class="social-btn facebook"></li>
            <li class="social-btn youtube"></li>
          </ul>
          <div class="promo-material">Promo</div>
          <div class="promo-material">Promo</div>
        </div>
      </div>
    </div>  
  </div>
</body>
</html>
