<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:inline="text">Questions</title>
</head>
<body>
    <div layout:fragment="content">
    <div id="content" th:each="question : ${questions}">
        <h3 th:text="${question.title}">Question Title</h3>
    </div>
    <div id="sidebar">
        <div th:each="project : ${projects}" th:id="${project.id}">
            <h3 th:text="${project.name}">Spring Framework</h3>
            <ul>
              <li th:each="tag : ${project.stackOverflowTagList}">
                <a th:href="'http://stackoverflow.com/questions/tagged/' + ${tag}" th:text="'['+${tag}+']'">[spring-core]</a>
              </li>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>
