.btn.btn-black, .btn-get-started {
  background-color: #34302d;
  background-image: none;
  border-radius: 0;
  color: #f1f1f1;
  font-size: 14px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #6db33f;
  padding: 21px 60px;
  text-shadow: none;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}
.btn.btn-black.compact, .compact.btn-get-started {
  padding: 6px 12px;
  font-size: 12px;
}
.btn.btn-black.sub-text, .sub-text.btn-get-started {
  padding: 12px 0;
}
.btn.btn-black.sub-text p, .sub-text.btn-get-started p {
  margin-top: 6px;
  color: #f1f1f1;
  font-size: 14px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}
.btn.btn-black.on-black:hover, .on-black.btn-get-started:hover {
  border-color: #6db33f;
  box-shadow: 0 1px 3px #0b0a0a;
}
.btn.btn-black.on-black:active, .on-black.btn-get-started:active {
  box-shadow: 0 1px 3px #0b0a0a, inset 0 3px 6px #0b0a0a;
  border-color: #6db33f;
}
.btn.btn-black.with-icon [class^="icon-"], .with-icon.btn-get-started [class^="icon-"] {
  margin-right: 21px;
  font-size: 20px;
  vertical-align: top;
  line-height: 10px;
}
.btn.btn-black:hover, .btn-get-started:hover {
  background-color: #6db33f;
  box-shadow: none;
  text-decoration: none;
  border-color: #568d32;
}
.btn.btn-black:active, .btn-get-started:active {
  background-color: #34551e;
  border-color: #284217;
}
.btn.uppercase, .btn-get-started {
  text-transform: uppercase;
}

.btn-get-started {
  font-size: 24px;
  position: absolute;
  left: 50%;
  margin-left: -146px;
  margin-top: -34px;
  padding: 26px 60px;
}
.btn-get-started:hover {
  color: #f1f1f1;
}
