.content--container {
  margin-bottom: 100px;
}
.content--container h1 {
  margin-bottom: 50px;
}
.content--container a {
  color: #5fa134;
}
.content--container p, .content--container pre {
  margin-bottom: 18px;
  border-radius: 0;
}
.content--container p code {
  color: #305CB5;
  font-size: 14px;
  padding: 2px 6px;
}
.content--container ul {
  margin-bottom: 30px;
}
.content--container ul li {
  padding: 5px 0;
}
.content--container ul li code {
  color: #305CB5;
  font-size: 14px;
  padding: 2px 6px;
}
.content--container blockquote {
  padding: 0 0 0 10px;
  border-left: 5px solid #DDD;
}

.content-right-pane--container h2 {
  margin: 15px 6.2%;
}
.content-right-pane--container p {
  font-size: 14px;
  line-height: 21px;
  margin: 15px 6.2%;
}
.content-right-pane--container h3 {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  padding: 0px 6.2%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-family: 700;
}
.content-right-pane--container ul {
  margin: 0;
}
.content-right-pane--container ul li:last-child {
  padding-bottom: 28px;
}
.content-right-pane--container ul li:first-child {
  padding-bottom: 12px;
}
.content-right-pane--container .btn-group {
  margin: 0 6.2%;
  display: block;
}
.content-right-pane--container .btn-group .btn {
  font-family: "Varela Round", sans-serif;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, white 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 18px 6.4%;
  font-size: 16px;
  line-height: 16px;
}
.content-right-pane--container .btn-group .btn.active {
  background: #fff;
}
.content-right-pane--container .clone-url {
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  margin: 15px 6.2%;
}
.content-right-pane--container .clone-url input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 14px 0 14px 14px;
}
.content-right-pane--container .clone-url input:focus {
  outline: none;
}
.content-right-pane--container .clone-url button {
  padding: 24px;
  margin: 0;
  float: right;
  background-position: 13px -71px;
}
.content-right-pane--container .github_download {
  display: block;
  text-align: center;
  color: #f1f1f1;
  border: 2px solid #6db341;
  background-color: #34302d;
  margin: 15px 6.2%;
  padding: 21px 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.copy-button {
  background-color: #cccccc;
  margin: 1px 1px 10px 0;
  padding: 20px;
  background-image: url("../img/iconsprite.png");
  background-repeat: no-repeat;
  background-position: 9px -75px;
  width: 20px;
  height: 22px;
  border: none;
  background-color: #34302d;
}
.copy-button.snippet {
  float: right;
}

a.ci-status {
  float: right;
  margin-top: -27px;
}

.gs-guide-import {
  display: none;
}
