.homepage--container {
  min-height: 425px;
}
.homepage--container .homepage-carousel {
  position: absolute;
  height: 425px;
  left: 0;
  width: 100%;
  top: 74px;
}
.homepage--container .homepage-carousel .carousel-item--wrapper {
  width: 100%;
  height: 425px;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage--container .homepage-carousel .carousel-item--wrapper.carousel-laptop {
  background-image: url("../img/carousel-laptop-bg.png");
}
.homepage--container .homepage-carousel .carousel-item--wrapper.carousel-people {
  background-image: url("../img/carousel-people-bg.png");
}
.homepage--container .homepage-carousel .carousel-item--wrapper.carousel-seminar {
  background-image: url("../img/carousel-seminar-bg.png");
}
.homepage--container .homepage-carousel .carousel-item--wrapper.carousel-social {
  background-image: url("../img/carousel-social-bg.png");
}
.homepage--container .homepage-carousel .carousel-item--container {
  padding: 125px 0;
  color: white;
}
.homepage--container .homepage-carousel .carousel-item--container a {
  color: white;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage--title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage--subtitle {
  margin: -21px 0 30px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage--text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage--call-to-action {
  text-transform: uppercase;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage-blog--meta-data {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 6px;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage-blog--title {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 15px;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage-blog--preview {
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 15px;
}
.homepage--container .homepage-carousel .carousel-item--container .homepage-blog--read-more {
  text-transform: uppercase;
}
.homepage--container .homepage-carousel .social-btn {
  background-image: url("../img/iconsprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 32px 0 0;
  background-size: 2780px;
  opacity: 0.75;
}
.homepage--container .homepage-carousel .social-btn:hover {
  opacity: 1;
}
.homepage--container .homepage-carousel .social-btn.twitter {
  background-position: -1px -178px;
}
.homepage--container .homepage-carousel .social-btn.googleplus {
  background-position: -1px -273px;
}
.homepage--container .homepage-carousel .social-btn.linkedin {
  background-position: -1px -370px;
}
.homepage--container .homepage-carousel .social-btn.facebook {
  background-position: -1px -464px;
}
.homepage--container .homepage-carousel .social-btn.youtube {
  background-position: -1px -560px;
}
.homepage--container .carousel-indicators {
  left: 50.5%;
  top: 45px;
}
.homepage--container .carousel-indicators li {
  width: 26px;
  height: 6px;
  margin-right: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
.homepage--container .carousel-indicators li.active {
  border: 2px solid #34302d;
  background-color: #34302d;
}
.homepage--container .carousel-control {
  background-color: transparent;
  border: none;
  font-size: 30px;
  top: 50%;
}
.homepage--container .homepage--body {
  margin-top: 325px;
  padding: 60px 0;
}
.homepage--container .homepage--body .homepage--key-feature {
  text-align: center;
  color: #f1f1f1;
  background-color: #34302d;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}
.homepage--container .homepage--body .homepage--key-feature .key-feature--icon {
  border: 6px solid #f1f1f1;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 25px;
  margin-bottom: 40px;
}
.homepage--container .homepage--body .homepage--key-feature .key-feature--title {
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.homepage--container .homepage--body .homepage--key-feature .key-feature--text {
  margin-bottom: 30px;
}
.homepage--container .homepage--body .homepage--key-feature .key-feature--call-to-action {
  text-transform: uppercase;
  color: #f1f1f1;
}
