.mobile-only {
  display: none;
}

@media (max-width: 800px) {
  html, body {
    height: 100%;
  }

  .viewport {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .viewport.constrained {
    overflow: hidden;
    min-height: 279px;
  }

  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .index-page--title {
    line-height: 32px;
    margin-bottom: 10px;
  }

  .index-page--subtitle {
    margin-bottom: 30px;
  }

  .mobile-navigation--wrapper .navigation-drawer--container {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: 0;
    background-color: #34302d;
    z-index: 999;
    min-height: 390px;
    box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container {
    margin: 9px;
    padding: 5px;
    background-color: #464340;
    position: relative;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .form-search {
    margin: 0;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    width: 90%;
    padding: 0 10% 0 0;
    color: #f1f1f1;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: #9d9b99;
    padding: 0 2%;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit .icon-search {
    font-size: 15px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a {
    border-bottom: 1px solid #474441;
    color: #f1f1f1;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a [class^=icon-] {
    color: #9d9b99;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link:first-child a {
    border-top: 1px solid #474441;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link.active {
    margin-top: -1px;
  }
  .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link.active a {
    border-bottom: 1px solid transparent;
    background-color: #262321;
  }
  .mobile-navigation--wrapper .navigation-drawer--container.js-open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .mobile-navigation--wrapper .mobile-nav {
    background-color: #34302d;
    height: 50px;
    text-align: center;
    border-left: 1px solid #34302d;
    position: relative;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
  .mobile-navigation--wrapper .mobile-nav .nav-icon {
    position: absolute;
    padding: 13px;
  }
  .mobile-navigation--wrapper .mobile-nav .nav-icon [class^=icon-] {
    color: #f1f1f1;
    font-size: 21px;
  }
  .mobile-navigation--wrapper .mobile-nav .header-center-icon {
    display: inline-block;
    padding: 9px 0 0;
  }
  .mobile-navigation--wrapper .mobile-nav.js-slide-right {
    transform: translateX(85%);
    -webkit-transform: translateX(85%);
    -moz-transform: translateX(85%);
    -ms-transform: translateX(85%);
    -o-transform: translateX(85%);
  }

  .body--container {
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
  .body--container.js-slide-right {
    transform: translateX(85%);
    -webkit-transform: translateX(85%);
    -moz-transform: translateX(85%);
    -ms-transform: translateX(85%);
    -o-transform: translateX(85%);
  }

  .blog--wrapper .blog--container {
    padding-bottom: 0;
  }
  .blog--wrapper .blog--container .blog--title {
    font-size: 21px;
    line-height: 25px;
  }
  .blog--wrapper .blog--container .blog--post {
    font-size: 14px;
    line-height: 20px;
  }
  .blog--wrapper .blog--container.blog-preview {
    margin: 0 0 20px 0;
    padding: 0 0 25px 0;
  }
  .blog--wrapper .blog--container.blog-preview .meta-data--container {
    margin: 0;
  }
  .blog--wrapper .blog--container.blog-preview .meta-data--container .meta-data--item {
    margin-bottom: 0;
    display: block;
  }
  .blog--wrapper .blog--left-pane {
    width: 100%;
  }
  .blog--wrapper .blog--right-pane {
    display: none;
  }

  .guides-section--container {
    margin-top: 40px;
  }

  footer {
    display: none;
  }
}
@media (max-width: 600px) {
  .blog--container .meta-data--container .meta-data--item {
    margin-bottom: 10px !important;
  }
  .blog--container .meta-data--container .meta-data--item:last-child {
    margin-bottom: 0 !important;
  }
  .blog--container.blog-preview .meta-data--container .meta-data--item {
    margin-bottom: 0 !important;
  }

  .content-container--wrapper .content-container--header {
    padding: 9px 12px;
  }
  .content-container--wrapper .content-container--header .content-container--filter {
    margin: 0;
    padding: 4px 1%;
    width: 98%;
    display: block;
  }
  .content-container--wrapper .content-container--body .content-section-title--container {
    margin: 0 0 20px;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .icon {
    display: none !important;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-title, .content-container--wrapper .content-container--body .content-section-title--container .content-section-sub-title {
    padding: 0;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-title {
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 23px;
  }
  .content-container--wrapper .content-container--body .content-section-title--container .content-section-sub-title {
    font-size: 14px;
    line-height: 20px;
  }

  .guides-section--container {
    margin-top: 0;
  }
  .guides-section--container .guide--container {
    display: block;
    margin: 0;
    width: auto;
    margin-bottom: 20px;
  }
}
