.team-map--wrapper {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
}
.team-map--wrapper #map {
  height: 425px;
  border-bottom: 1px solid #34302d;
}
.team-map--wrapper .team-map--container {
  position: absolute;
  z-index: 600;
  width: 70%;
  margin: 0 15%;
  text-align: center;
  margin-top: 212px;
}
.team-map--wrapper .team-map--container .team-map--title, .team-map--wrapper .team-map--container .team-map--subtitle {
  background: rgba(52, 48, 45, 0.8);
  color: #eeeeee;
  display: inline-block;
}
.team-map--wrapper .team-map--container .team-map--title {
  font-size: 48px;
  line-height: 68px;
  font-family: "Montserrat", sans-serif;
  padding: 0 15px;
  letter-spacing: -2px;
}
.team-map--wrapper .team-map--container .team-map--subtitle {
  font-size: 18px;
  line-height: 18px;
  padding: 12px 19px;
}
.team-map--wrapper .team-map--container .team-map--subtitle.subtitle-bottom {
  padding-top: 0;
}

.team-members--wrapper {
  margin-top: 326px;
}
.team-members--wrapper .team-member--container {
  background-color: white;
  border: 1px solid #eeeeee;
  display: inline-block;
  float: left;
  padding: 10px;
  width: 319px;
}
.team-members--wrapper .team-member--container .team-member--avatar {
  display: inline-block;
}
.team-members--wrapper .team-member--container .team-member--avatar img {
  display: inline-block;
  width: 153px;
  height: 153px;
  margin-right: 13px;
}
.team-members--wrapper .team-member--container .team-member--info {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 149px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--name {
  color: #5fa134;
  font-size: 16px;
  line-height: 16px;
  width: 149px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--bio {
  margin-top: 6px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--bio p {
  font-size: 14px;
  line-height: 18px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--bio p.team-member--position {
  height: 36px;
  overflow: hidden;
  margin-bottom: 5px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--bio p.team-member--location {
  width: 149px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social {
  margin-top: 12px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-image: url("../img/iconsprite.png");
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.twitter-small {
  background-position: -314px -452px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.twitter-small:hover {
  background-position: -314px -486px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.github-small {
  background-position: -344px -452px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.github-small:hover {
  background-position: -344px -486px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.speakerdeck-small {
  background-position: -374px -452px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.speakerdeck-small:hover {
  background-position: -374px -486px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.lanyrd-small {
  background-position: -284px -452px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon.lanyrd-small:hover {
  background-position: -284px -486px;
}
.team-members--wrapper .team-member--container .team-member--info .team-member--social .team-member--social--icon:last-child {
  margin-right: 0;
}

ul.team-members {
  margin: 50px 0 0 0;
}
ul.team-members li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin-bottom: 20px;
}
ul.team-members li a {
  color: black;
}
ul.team-members li a:hover {
  text-decoration: none;
}
ul.team-members li .team-member-name {
  font-weight: bold;
}
ul.team-members li .team-member-location {
  font-size: 0.9em;
}
