.avatar {
  margin-right: 10px;
}

#map {
  height: 300px;
}

ul.team-members {
  margin: 50px 0 0 0;
}
ul.team-members li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin-bottom: 20px;
}
ul.team-members li a {
  color: black;
}
ul.team-members li a:hover {
  text-decoration: none;
}
ul.team-members li .team-member-name {
  font-weight: bold;
}
ul.team-members li .team-member-location {
  font-size: 0.9em;
}
