<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        data-info-popups>
<head>
    <title>Download STS 3</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="Spring Tool Suite&trade; 3 (STS 3) Download page" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="Use one of the links below to download an all-in-one distribution for your
    platform. Choose either a native installer or simple archive, they contain equivalent functionality" />
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container-fluid">
  <div class="main-body--wrapper">
    <div class="tools--wrapper">
      <div class="content--title">Tools</div>
        <h1 class="tools--title">Spring Tool Suite&trade; 3 Downloads</h1>
        <p class="tools--description">Use one of the links below to download an all-in-one
            distribution for your platform.<br> Or check the list of
            <a href="legacy.html" th:href="@{/tools3/sts/legacy}" class="all-versions">previous Spring Tool Suite&trade; 3 versions</a>.</p>

          <section class='ga--release' layout:include="tools/_tools_versions :: tools-versions" th:with="release=${gaRelease}"></section>
          <section class='milestone--release' layout:include="tools/_tools_versions :: tools-versions" th:with="release=${milestoneRelease}" th:if="${milestoneRelease.hasPlatforms()}"></section>
        <section>
        <h2>Update Site Archives</h2>
        <p>You can download archived versions of the update sites, if you
            want to install STS 3 into an existing Eclipse installation or if
            you want to update an existing STS 3 installation without
            accessing the hosted version of the update repository.</p>
        <table class="table table-striped tool-archive--table">
          <thead>
            <tr>
              <th>Eclipse</th>
              <th>Archive</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="archive : ${updateSiteArchives}">
              <td th:text="${archive.version}"></td>
              <td><a th:href="${archive.url}" th:text="${archive.fileName}"
                     th:onclick="'_gaq.push([\'_trackEvent\',\'download STS Eclipse' +
                     ${archive.version} + ' updatesite\',\'' + ${archive.url} + '\'])'"
                     target="_blank"
                      ></a></td>
              <td th:text="${archive.fileSize}"></td>
            </tr>
          </tbody>
        </table>
        </section>
        <br>
        <section>
        <h2>Update Sites</h2>
        <p>
          If you want to install STS 3 in an existing Eclipse installation, you can use one of the following update sites. Please choose the one that matches the Eclipse version you're running:
        </p>
        <table class="table table-striped tool-update-sites--table">
          <thead>
            <tr>
              <th>Eclipse</th>
              <th>Update Sites</th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <td>4.9</td>
              <td><a href="http://download.springsource.com/release/TOOLS/update/e4.9/">http://download.springsource.com/release/TOOLS/update/e4.9/</a></td>
          </tr>
            <tr>
              <td>4.8</td>
              <td><a href="http://download.springsource.com/release/TOOLS/update/e4.8/">http://download.springsource.com/release/TOOLS/update/e4.8/</a></td>
            </tr>
          </tbody>
        </table>
        <p>
          As an alternative, you can also install the STS 3 components as add-ons into an existing Spring Tools 4 installation via the Eclipse Marketplace.
        </p>
        <div class="tools-bottom--container">
          <div>
            <p><a href="https://github.com/spring-projects/spring-ide/issues">File a ticket for STS 3 using GitHub Issues</a></p>
          </div>
          <div>
            <p><a href="https://stackoverflow.com/questions/ask?tags=spring-tool-suite">Have a question or a problem? Ask StackOverflow for STS 3</a></p>
          </div>
        </div>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
