<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        data-info-popups>
<head>
    <title>Download STS</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content">
  <div class="main-body--wrapper">
    <div class="tools--wrapper">
      <div class="content--title">Tools</div>
        <h1 class="tools--title">Spring Tool Suite&trade; Downloads</h1>
        <p class="tools--description">Use one of the links below to download an all-in-one
            distribution for your platform. Choose either a native installer or simple
            archive, they contain equivalent functionality.</p>

          <div class='ga--release' layout:include="tools/_tools_versions :: tools-versions" th:with="release=${gaRelease}"></div>
          <div class='milestone--release' layout:include="tools/_tools_versions :: tools-versions" th:with="release=${milestoneRelease}" th:if="${milestoneRelease.hasPlatforms()}"></div>

        <h2>Update Site Archives</h2>
        <p>You can download archived versions of the update sites, if you
            want to install STS/GGTS into an existing Eclipse installation or if
            you want to update an existing STS/GGTS installation without
            accessing the hosted version of the update repository.</p>
        <table class="table table-striped tool-archive--table">
          <thead>
            <tr>
              <th>Eclipse</th>
              <th>Archive</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="archive : ${updateSiteArchives}">
              <td th:text="${archive.version}"></td>
              <td><a th:href="${archive.url}" th:text="${archive.fileName}"></a></td>
              <td th:text="${archive.fileSize}"></td>
            </tr>
          </tbody>
        </table>
        <br>
        <h2>Update Sites</h2>
        <p>
          If you want to install STS/GGTS in an existing Eclipse installation, you can use one of the following update sites. Please choose the one that matches the Eclipse version you're running:
        </p>
        <table class="table table-striped tool-update-sites--table">
          <thead>
            <tr>
              <th>Eclipse</th>
              <th>Update Sites</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>4.3</td>
              <td><a href="http://dist.springsource.com/release/TOOLS/update/e4.3/">http://dist.springsource.com/release/TOOLS/update/e4.3/</a></td>
            </tr>
            <tr>
              <td>4.2</td>
              <td><a href="http://dist.springsource.com/release/TOOLS/update/e4.2/">http://dist.springsource.com/release/TOOLS/update/e4.2/</a></td>
            </tr>
            <tr>
              <td>3.8</td>
              <td><a href="http://dist.springsource.com/release/TOOLS/update/e3.8/">http://dist.springsource.com/release/TOOLS/update/e3.8/</a></td>
            </tr>
            <tr>
              <td>3.7</td>
              <td><a href="http://dist.springsource.com/release/TOOLS/update/e3.7/">http://dist.springsource.com/release/TOOLS/update/e3.7/</a></td>
            </tr>
          </tbody>
        </table>
        <p>
          As an alternative, you can also install STS/GGTS directly from the Eclipse Marketplace.
        </p>
        <div class="tools-bottom--container">
          <div>
            <p><a href="https://issuetracker.springsource.com/browse/STS">File a ticket for STS using our JIRA</a></p>
          </div>
          <div>
            <p><a href="https://stackoverflow.com/questions/ask?tags=spring-tool-suite">Have a question or a problem? Ask StackOverflow for STS</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
