<html
  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout"
    data-platform-downloads>
  <head>
    <title>Spring Tool Suite&trade; 3 (STS3)</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="Spring Tool Suite&trade; 3 (STS3)" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="The Spring Tool Suite 3 is an Eclipse-based development environment
    that is customized for developing Spring applications." />
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <article layout:fragment="content" class="container-fluid">
      <div class="main-body--wrapper">
      <div class="content--title">Tools</div>
      <h1 class="tools--title">Spring Tool Suite&trade; 3</h1>
      <div class="row-fluid tools--wrapper">
        <section class="span8">
          <p class="tools--description">The Spring Tool Suite 3 is an Eclipse-based development environment that is customized for developing Spring applications. It provides a ready-to-use environment to implement, debug, run, and deploy your Spring applications, including integrations for Pivotal tc Server, Pivotal Cloud Foundry, Git, Maven, AspectJ, and comes on top of the latest Eclipse releases.</p>
          <p class="tools--description">Included with the Spring Tool Suite 3 is the developer edition of Pivotal tc Server, the drop-in replacement for Apache Tomcat that's optimized for Spring. With its Spring Insight console, tc Server Developer Edition provides a graphical real-time view of application performance metrics that lets developers identify and diagnose problems from their desktops.</p>
          <p class="tools--description">The Spring Tool Suite 3 supports application targeting to local, virtual and cloud-based servers. It is freely available for development and internal business operations use with no time limits, fully open-source and licensed under the terms of the Eclipse Public License.</p>
          </p>
        </section>
        <div class="span4">
          <div class="right-pane-widget--container tools-right-pane">
            <div class="tools-logo sts-logo"></div>
              <ul class='download-links'>
                <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${downloadLinks}">
                  <a class="download-btn btn btn-black uppercase sub-text" th:href="${downloadLink.url}">
                    Download STS3
                    <p th:text="'(' + ${version} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                  </a>
                </li>
              </ul>
              <a href="all.html" th:href="@{/tools3/sts/all}" class="all-versions">See All Versions</a>
            </div>
          </div>
        </div>
        <section>
        <div class="tools--wrapper">
          <h2>Feature Highlights</h2>
        </div>
          <div class="row-fluid tools--wrapper tools-feature--wrapper">
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-spring-model-detail"></div>
            <h3>Understands your Spring App</h3>
            <p class="tools-feature--description">The Spring Tool Suite 3 understands your Spring projects. It parses your configuration files and displays detailed information about the beans that are being defined, their dependencies among each other, used namespaces, and extracts overviews for certain stereotypes like request controllers, aspects, services, and more.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-validations-detail"></div>
            <h3>Comprehensive Validations for your Spring Configuration</h3>
            <p class="tools-feature--description">Because the Spring Tool Suite 3 understands your Spring projects, it provides a comprehensive set of validations that are being applied automatically. Those validations indicate errors in your configurations directly within the IDE, long before you actually run the app. Finding problems and misconfigurations gets a lot easier.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-refactoring-support-detail"></div>
            <h3>Refactoring Support for your Spring App</h3>
            <p class="tools-feature--description">Refactoring support is one of the most important parts of todays software engineering. Therefore the Spring Tool Suite 3 provides advanced support for refactoring Spring applications. Not only the well-known Java refactorings are reflected in your Spring config files, the IDE adds new refactorings for Spring elements (like renaming of Spring beans, for example).</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-content-assist-detail"></div>
            <h3>Code Assists All Over the Place</h3>
            <p class="tools-feature--description">It doesn't matter whether you are writing Spring XML configuration files or implement JavaConfig Spring apps, whether you are using the core Spring framework alone or together with all the various additional Spring projects, the Spring Tool Suite 3 provides you with meaningful content-assist all over the place, together with quick-fixes for common errors and problems. You will never program with Spring without those code-assists anymore.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-graphical-editors-detail"></div>
            <h3>Graphical Viewers and Editors</h3>
            <p class="tools-feature--description">Want to get an overview of the bean dependencies in your Spring app? Or wanna visualize and edit Spring Integration, Spring Batch, or Spring Webflow definitions? Check out the graphical editors that come with the Spring Tool Suite 3, right in your IDE, just one click away from your configuration files.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-aop-support-detail"></div>
            <h3>The Best AOP Support Available</h3>
            <p class="tools-feature--description">The Spring Tool Suite 3 integrates with the AspectJ language tooling for Eclipse and provides the most comprehensive support for AOP that is available today. Aspects are being recognized, incrementally woven into your system, and visualized directly within the IDE. And see where pointcuts match immediately after saving a file.</p>
          </div>
          <div class="tools-feature--container">
            <div class="tools-feature--thumbnail sts-tcserver-cloudfoundry-detail"></div>
            <h3>Integrated with Cloud Foundry and Pivotal tc Server</h3>
            <p class="tools-feature--description">Deploy your applications directly into a Cloud Foundry of your choice or an tc Server instance (including support for debugging, instance creation, Spring Insight, services, and more).</p>
          </div>
        </div>
        </section>
        <section>
        <div class="row-fluid tools--wrapper">
          <h2>&hellip;and many more features</h2>
        </div>
        <div class="row-fluid tools--wrapper more-feature-list">
          <div class="span4">
            <ul>
              <li>Spring bean awareness and dependency analysis</li>
              <li>Spring project validations and quick fixes</li>
              <li>Spring-aware content-assist and code completion</li>
              <li>Support for Spring XML and Spring JavaConfig</li>
              <li>Support for Spring bean profiles</li>
            </ul>
          </div>
          <div class="span4">
            <ul>
              <li>Improved getting started experience</li>
              <li>Advanced search and navigation for Spring projects</li>
              <li>Refactoring support for Spring configurations</li>
              <li>Support for aspects for your Spring app (including pointcut expression validation & cross cutting reference model)</li>
              <li>Graphical editors for Spring Integration, Spring Batch, and Spring Webflow</li>
            </ul>
          </div>
          <div class="span4">
            <ul>
              <li>Analyze and visualize Spring beans in live running applications</li>
              <li>Maven integration</li>
              <li>Gradle integration</li>
              <li>Git integration</li>
              <li>Support for Java 8</li>
            </ul>
          </div>
        </div>
        </section>
      </div>
      </article>
  </body>
</html>
