<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        data-info-popups>
<head>
    <title>Download STS 3</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="Spring Tool Suite&trade; 3 (STS 3) Download page" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="Use one of the links below to download an all-in-one distribution for your
    platform. Choose either a native installer or simple archive, they contain equivalent functionality" />
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content">
  <div class="main-body--wrapper">
    <div class="tools--wrapper">
      <div class="content--title">Tools</div>
      <h1 class="tools--title">Previous Spring Tool Suite&trade; 3 Downloads</h1>
      <p class="tools--description">Use one of the links below to download an all-in-one
          distribution for your platform.</p>
      <th:block th:each="legacyRelease : ${legacyReleases}">
          <section class='ga--release' layout:include="tools/_tools_versions :: tools-versions" th:with="release=${legacyRelease}"></section>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>
