<html
  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
  <head>
    <title>Spring Tool Suite&trade; &middot; Installation Complete</title>
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid">
      <div class="main-body--wrapper">
        <div class="min-height">
          <h1 class="index-page--title">Welcome to the Spring Tool Suite&trade;</h1>
          <p class="index-page--subtitle">Thank you for installing the Spring Tool Suite</p>
          <ul>
            <li>
              <p>
                <a href="https://stackoverflow.com/questions/ask?tags=spring-tool-suite">StackOverflow:</a>
                to ask questions about STS.
              </p>
            </li>
            <li>
              <p>
                <a href="https://issuetracker.springsource.com/browse/STS">JIRA:</a>
                to report bugs, problems and request new features.
              </p>
            </li>
            <li>
              <p>
                <a th:href="@{/blog}">Spring Blog:</a>
                to read about the latest news and tips for using STS.
              </p>
            </li>
          </ul>
          <!-- Google Code for successful_install Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 969539089;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "Ym7OCL-lyAIQkfynzgM";
          var google_conversion_value = $500;
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/969539089/?value=$500&amp;label=Ym7OCL-lyAIQkfynzgM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>
        </div>
      </div>
    </div>
  </body>
</html>
