<!DOCTYPE html>
<html data-th-replace="~{admin/layout :: layout(~{::head/content()}, ~{}, ~{}, ~{::div})}">
<head>
    <title>Admin</title>
</head>
<body>
<div>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome, Emily
                    <!-- <span sec:authentication="credentials">Emily</span> -->
                </h1>
                <h2 class="subtitle">
                    to the spring.io admin website.
                </h2>
            </div>
        </div>
    </section>
</div>
</body>
</html>
