<!DOCTYPE html>
<html data-th-replace="~{admin/layout :: layout(~{::head/content()}, ~{::body/nav/content()}, ~{}, ~{::body/div})}">
<head>
    <title>Admin | Blog | New Blog Post</title>
</head>
<body>
<nav>
    <ul>
        <li><a data-th-href="@{/admin}">Admin</a></li>
        <li><a data-th-href="@{/admin/blog}">Blog</a></li>
        <li class="is-active"><a data-th-href="@{/admin/blog/new}" aria-current="page">New Post</a></li>
    </ul>
</nav>
<div>
    <form data-th-insert="admin/blog/_post_form :: post-form" data-th-with="create=1" data-th-action="@{/admin/blog}"
          method="post" data-th-object="${postForm}"></form>
</div>
</body>
</html>
