<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout"
      data-form-widgets>
<head>
    <title>Add New Post</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container">
    <div class="main-body--wrapper">

      <div class="admin-index--title">
        <div class="content--title search-title">
          <a th:href="@{/admin}">Admin</a> : <a th:href="@{/admin/blog}">Blog</a> : New Post
        </div>
      </div>
    <form layout:include="admin/blog/_post_form :: post-form" th:with="create=1" th:action="@{/admin/blog}" method="post" th:object="${postForm}"></form>
  </div>
</div>
</body>
</html>
