<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
        data-code-prettify>
<head>
  <title th:inline="text">[[${post.title}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}" href="../../static/css/blog.css" />
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container-fluid" th:object="${post}">
  <div class="main-body--wrapper">
    <div class="row-fluid blog--wrapper">
      <div id="content" class="span8 mobile-left-pane" layout:include="blog/_full_post :: full-post" >
      </div>
      <div id="sidebar" class="span4 mobile-right-pane">
        <div layout:include="blog/_right-pane :: right-pane"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
