<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Create Sample Data</title>
</head>
<body>
<h1 layout:fragment="header">Create sample data</h1>

<div layout:fragment="content" class="container">
    <form th:action="@{'/admin/sample/posts'}" action="/admin/sample/posts" method="post" class='form-inline' style="display: inline">
        <button class="btn btn-primary">Create 8 posts</button>
    </form>
    <form th:action="@{'/admin/sample/teammembers'}" action="/admin/sample/teammembers" method="post" class='form-inline' style="display: inline">
        <button class="btn btn-primary">Create 8 team members</button>
    </form>
</div>
</body>
</html>
