<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>Guides</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container-fluid">
    <h1 class="index-page--title">Spring Framework Guides</h1>
    <p class="index-page--subtitle">The Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>


    <div class="row-fluid content-container--wrapper guides-section--container">
      <div class="content-container--header">
        <input type='text' id='doc_filter' autofocus="true" placeholder="Quick Filter" class="content-container--filter"/>
      </div>
      <div class="content-container--body">
        <div data-filterable-container>
          <div class="content-section-title--container">
            <div class="pull-left icon icon-gs-guides"></div>
            <h3 class="content-section-title no-border no-margin">Getting Started Guides</h3>
            <p class="content-section-sub-title">Spring provides a powerful and flexible collection of technologies to improve your Java application development that is used by millions of developers..</p>
          </div>
          
          <div th:each="guide : ${guides}" class="guide--container" th:attr="data-filterable=${guide.title}">
            <a class="guide--title" href="guide.html" th:href="@{'/guides/gs/'+${guide.guideId}+'/'}" th:text="${guide.title}">Building a RESTful Web Service</a>
            <p class="guide--subtitle" th:text="${guide.subtitle}">Learn how to create a REST web service with Spring</p>
          </div>
        </div>
      </div>
      <div class="content-container--body">
        <div data-filterable-container>
          <div class="content-section-title--container">
            <div class="pull-left icon icon-tutorial"></div>
            <h3 class="content-section-title no-margin">Tutorials</h3>
            <p class="content-section-sub-title">Learn about a new feature, our tutorials explain key concepts simply and provide step by step instructions on how to accomplish specific tasks.</p>
          </div>
          <div th:each="tutorial : ${tutorials}" class="guide--container" th:attr="data-filterable=${tutorial.title}">
            <a class="guide--title" th:href="@{'/guides/tutorials/'+${tutorial.guideId}+'/'}" th:text="${tutorial.title}">Building a RESTful Web Service</a>
            <p class="guide--subtitle" th:text="${tutorial.subtitle}">Learn how to create a REST web service with Spring </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
