<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>Guides</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container-fluid">
    <h1 class="index-page--title">Spring Guides</h1>
    <p class="index-page--subtitle">The Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>
    <input type='text' id='doc_filter'/>
    <div class="guides-section--wrapper">
      <div class="guides-section--container gs-guides--container" data-filterable-container>
        <div class="section-title--container">
          <div class="section-title--icon gs-guides--icon"></div>
          <div class="section-title--title">
  		  <a name="gs" ></a>
            Getting Started Guides
          </div>
          <div class="section-title--intro">Spring provides a powerful and flexible collection of technologies to improve your Java application development that is used by millions of developers.</div>
        </div>
        <div class="guides--wrapper">
          <div th:each="guide : ${guides}" class="guide--container" th:attr="data-filterable=${guide.title}">
            <a class="guide--title" href="guide.html" th:href="@{'/guides/gs/'+${guide.guideId}+'/'}" th:text="${guide.title}">Building a RESTful Web Service</a>
            <p class="guide--subtitle" th:text="${guide.subtitle}">Learn how to create a REST web service with Spring</p>
          </div>
        </div>
      </div>
  	  <div class="guides-section--container tutorials--container" data-filterable-container>
  		  <div class="section-title--container">
  			  <div class="section-title--icon gs-guides--icon"></div>
  			  <div class="section-title--title">
  				  <a name="tutorials" ></a>
  				  Tutorials
  			  </div>
  			  <div class="section-title--intro">Learn how to do stuff. Cosmos, paroxysm of global death inconspicuous motes of rock and gas star stuff harvesting star light.</div>
  		  </div>
  		  <div class="guides--wrapper">
  			  <div th:each="tutorial : ${tutorials}" class="guide--container" th:attr="data-filterable=${tutorial.title}">
  				  <a class="guide--title" th:href="@{'/guides/tutorials/'+${tutorial.guideId}+'/'}" th:text="${tutorial.title}">Building a RESTful Web Service</a>
  				  <p class="guide--subtitle" th:text="${tutorial.subtitle}">Learn how to create a REST web service with Spring </p>
  			  </div>
  		  </div>
  	  </div>
    </div>
  </div>
</body>
</html>
