<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Guides</title>
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="container-fluid">
    <h1>Spring Framework Guides</h1>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>
    <ul>
    <li th:each="guide : ${guides}" class="guide">
      <h3 class="title"><a href="guide.html" th:href="@{'/guides/gs/'+${guide.guideId}+'/content'}" th:text="${beans.uih.extractTitleFromRepoDescription(guide)}">Building a RESTful Web Service</a></h3>
      <p class="subtitle" th:text="${beans.uih.extractSubtitleFromRepoDescription(guide)}">YADA Learn how to create a REST web service with Spring</p>
    </li>
  </ul>
</div>
</body>
</html>