<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout"
  data-clipboard-buttons
  data-code-sidebar>
  <head>
    <title th:inline="text">Tutorial &middot; [[${tutorial.title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/code-sidebar.css}"/>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" th:content="${tutorial.title}" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="this tutorial is designed to be completed in 2-3 hours, it provides deeper,
    in-context explorations of enterprise application development topics, leaving you ready to implement real-world solutions." />
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="content" class="container-fluid">
      <main class="main-body--wrapper">
        <div class="row-fluid">
          <div class="span8 tutorial-text mobile-left-pane ">
            <div class="content--title desktop-only">
              Tutorial
            </div>
            <article class="content--container">
              <h1 class="title" th:text="${tutorial.title}"></h1>
              <div class="article-body" th:utext="${tutorial.content}">a Tutorial</div>
            </article>
          </div>
          <aside id='sidebar' class="span4 content-right-pane--container mobile-left-pane ">
            <div class="right-pane-widget--container desktop-only">
              <div class="github-actions https">
                <h2>Get the Code</h2>
                <div class="btn-group">
                  <button class="btn" data-protocol="https">HTTPS</button>
                  <button class="btn" data-protocol="ssh">SSH</button>
                  <button class="btn" data-protocol="subversion">Subversion</button>
                </div>
                <div class="clone-url https">
                  <input type="text" id="clone-url-https" th:value="${tutorial.gitRepoHttpsUrl}" readonly="readonly"/>
                  <button class="copy-button github" th:attr="data-clipboard-text=${tutorial.gitRepoHttpsUrl}" data-toggle="tooltip"></button>
                </div>
                <div class="clone-url ssh">
                  <input type="text" id="clone-url-ssh" th:value="${tutorial.gitRepoSshUrl}" readonly="readonly"/>
                  <button class="copy-button github" th:attr="data-clipboard-text=${tutorial.gitRepoSshUrl}" data-toggle="tooltip"></button>
                </div>
                <div class="clone-url subversion">
                  <input type="text" id="clone-url-subversion" th:value="${tutorial.gitRepoSubversionUrl}" readonly="readonly"/>
                  <button class="copy-button github" th:attr="data-clipboard-text=${tutorial.gitRepoSubversionUrl}" data-toggle="tooltip"></button>
                </div>
                <a class="github_download btn btn-black uppercase" th:href='${tutorial.zipUrl}'>Download ZIP</a>
                <div class="go-to-repo--container">
                  <a th:href="${tutorial.GithubHttpsUrl}">
                    <i class="icon-github"></i>
                    Go To Repo
                  </a>
                </div>
              </div>
            </div>
            <div class="right-pane-widget--container">
              <div class='related_resources' th:utext="${tutorial.sidebar}"></div>
            </div>
          </aside>
        </div>
      </main>
    </div>
  </body>
</html>
