<html
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title>SpringFramework - Projects</title>
</head>
<body>
<h1 layout:fragment="header">Spring Projects</h1>
<div layout:fragment="overview">Spring Projects is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>

<div layout:fragment="content" class="container">
	<ul>
		<li th:each="project : ${projects}">
            <span th:text="${project.getName()}">Spring Framework</span>
        </li>
	</ul>
</div>
</body>
</html>