<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

    <div layout:fragment="tools-versions">

        <div class="tool-versions--wrapper">
            <div class="tool-versions--icon--container">
                <div th:class="'tool-versions--icon ' + (${toolsuite}?: 'sts') + '-icon'"></div>
                <h2 th:text="${release.displayName}" class="tool-versions--version"></h2>
                <a th:if="${release.whatsNew} != null" th:href="${release.whatsNew}">New &amp; Noteworthy</a>
            </div>
            <div>
                <div class="tool-versions--container">
                    <div class="platform js-item-dropdown-widget--wrapper" th:each='platform : ${release.platformList}'>
                        <div th:class="${platform.name.toLowerCase()}+'-icon platform--icon'"></div>
                        <h3 th:text="${platform.name}">Mac</h3>

                        <div class="item-dropdown-widget js-item-dropdown--wrapper"
                             th:each="eclipseVersion : ${platform.eclipseVersions}">
                            <div class="item-dropdown--link js-item--open-dropdown">
                                <p class="item-dropdown--title tools-version-dropdown--title" th:text="'Based on Eclipse '+${eclipseVersion.name}"></p>
                                <i class="item-dropdown--icon icon-reorder place-right"></i>
                            </div>
                            <div class="item--dropdown no-item--header platform-version--dropdown">
                                <div class="item--body">
                                    <div class='item--half-column' th:each='architecture : ${eclipseVersion.architectures}'>
                                        <p class="item--body-title" th:text='${architecture.displayName}'>Architecture name</p>

                                        <div>
                                            <div class='item--body--version'
                                                 th:each='downloadLink : ${architecture.downloadLinks}'>
                                                <a class="tool-download-link" th:href='${downloadLink.url}'
                                                   th:onclick="'_gaq.push([\'_trackEvent\',\'download ' +
                                                   ${release.displayName} + ' ' + ${downloadLink.os} +
                                                   '\',\'' + ${downloadLink.url} + '\'])'"
                                                   target="_blank">
                                                    <p class="file-type" th:text='${downloadLink.fileType}'>A file type</p>
                                                    <span class="file-size" th:text="${downloadLink.fileSize}">2 MB</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>