<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      data-platform-downloads>
<head>
    <title>Tools</title>
</head>
<body>
<div layout:fragment="header-container"></div>
<div layout:fragment="content" class="container-fluid">
    <div class="main-body--wrapper">
        <h1 class="index-page--title">Spring Tool Suite&trade; & Groovy/Grails Tool Suite&trade;</h1>
        <div class="span8 tools-intro">
            <p class="index-page--subtitle">
                Whether developing with Spring and/or Groovy/Grails we provide a customized all-in-one Eclipse based distribution that makes application development easy. The tool suites provide ready-to-use combinations of language support, framework support, and runtime support, and combine them with the existing Java, Web and Java EE tooling from Eclipse. Out of the box support is also provided for Pivotal tc Server and an integrated dashboard in each distribution makes it trivial to install further extensions that add support for technologies such as Gradle or Pivotal Cloud Foundry. Support for these distributions is always available through our <a href="https://issuetracker.springsource.com/browse/STS">issue tracker</a> or <a href="https://stackoverflow.com/questions/ask?tags=spring-tool-suite">StackOverflow tag</a>.
            </p>
        </div>
        <div class="new-noteworthy-box right-pane-widget--container">
            <p class="title">New & Noteworthy</p>
            <p>Latest STS/GGTS <br> release notes.</p>
            <a href="http://docs.spring.io/sts/nan/latest/NewAndNoteworthy.html">Read more</a>
        </div>
        <div class="tools--wrapper">
            <div class="tool--container">
                <div class="tool--icon sts-icon"></div>
                <div class="tool--title">Spring Tool Suite&trade;</div>
                <div class="tool--description">The Spring Tool Suite is an Eclipse-based development environment that is customized for developing Spring applications. It provides a ready-to-use environment to implement, debug, run, and deploy your Spring applications, including integrations for Pivotal tc Server, Pivotal Cloud Foundry, Git, Maven, AspectJ, and more.</div>
                <a href="sts/index.html" th:href="@{/tools/sts}" class="tool--learn-more">Learn More</a>
                <ul class='download-links'>
                    <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${stsDownloadLinks}">
                        <a class="tool--download-btn btn btn-black uppercase sub-text on-black" th:href="${downloadLink.url}">
                            Download STS
                            <p th:text="'(' + ${stsVersion} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                        </a>
                    </li>
                </ul>
                <a href="all.html" th:href="@{/tools/sts/all}" class="tool--see-all-versions">See all versions</a>
            </div>

            <div class="tool--container">
                <div class="tool--icon ggts-icon"></div>
                <div class="tool--title">Groovy/Grails Tool Suite&trade;</div>
                <div class="tool--description">The Groovy/Grails Tool Suite is a complete Eclipse-based development environment optimized for developing, debugging and executing Groovy and Grails applications. A new perspective, new views and wizards ensure an intuitive and familiar Eclipse experience when working with the Groovy language and Grails framework.</div>
                <a href="ggts/index.html" th:href="@{/tools/ggts}" class="tool--learn-more">Learn More</a>
                <ul class='download-links'>
                    <li th:class="${downloadLink.osAndArch}" th:each="downloadLink : ${ggtsDownloadLinks}">
                        <a class="tool--download-btn btn btn-black uppercase sub-text on-black" th:href="${downloadLink.url}">
                            Download GGTS
                            <p th:text="'(' + ${ggtsVersion} + ' for ' + ${#strings.capitalize(downloadLink.os)} + ')'"></p>
                        </a>
                    </li>
                </ul>
                <a href="all.html" th:href="@{/tools/ggts/all}" class="tool--see-all-versions">See all versions</a>
            </div>
        </div>
        <div class="eclipse--container">
            <div class="icon logo-eclipse-text"></div>
            <div class="eclipse-content--container">
                <p>The Spring Tool Suite as well as the Groovy &amp; Grails Tool Suite
                    are built on top of the Eclipse platform, which is provided by the
                    <a href="http://www.eclipse.org">Eclipse Foundation</a> under the
                    <a href="http://www.eclipse.org/org/documents/epl-v10.php">Eclipse
                    Public License</a>.</p>
                <a href="eclipse/index.html" th:href="@{/tools/eclipse}" class="learn-more-link">Eclipse
                Download Mirror</a>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
