<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      data-info-popups>
<head>
    <title th:text="${project.getName()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/project.css}" href="../../../../../../sagan-client/css/project.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="Spring Projects" />
    <meta property="og:image" th:content="@{/img/spring-by-pivotal.png}" />
    <meta property="og:description" content="The Spring portfolio has many projects, including Spring Framework,
    Sprint IO Platform, Spring Cloud, Spring Boot, Spring Data, Spring Security..." />
</head>
<body>
  <div layout:fragment="header-container"></div>
  <div layout:fragment="content" class="body--container container-fluid">
      <div class="compass row">
    <ul class="sidebar col-lg-3">
      <li class="sidebar_project" th:classappend="${proj.getId() == project.getId()} ? 'active'" th:each="proj : ${projects}">
          <a th:href="${proj.siteUrl}" th:text="${proj.getName()}"></a>
      </li>
    </ul>
    <article class="col-lg-9">
      <h1 class="index-page--title" th:text="${project.getName()}"></h1>
      <div class="quickstart">
        <span class="quickstart--title">Quick start</span>
        <span class="quickstart--subtitle">Bootstrap your application with Spring Initializr</span>
        <a class="quickstart--button" href="https://start.spring.io/" target="_blank">Get started</a>
      </div>
    </article>
      </div>
  </div>
</body>
</html>
